<link rel="stylesheet" href="//cdn.quilljs.com/0.20.1/quill.snow.css" />
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <form class="panel panel-default" ng-submit="compilar()">
        <div class="panel-heading">Compilar Plantilla</div>
        <div class="panel-body">
          <div class="form-group">
            <label for="exampleInputEmail1">Descripción</label>
            <div id="editor" class="form-control" ng-model="descripcion" quill="{{opciones}}">
            </div>
          </div>
        </div>
        <div class="panel-footer text-right">
          <button type="submit" class="btn btn-primary">
            Compilar
          </button>
        </div>
      </form>
      <div class="panel panel-default" ng-show="resultado">
        <div class="panel-heading">
          Preview
          <div class="btn-group btn-group-sm">
            <a class="btn btn-success" clipboard text="resultado" on-copied="success()" on-error="fail(err)">
            Copiar HTML
            </a>
          </div>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body" ng-bind-html="getResultado()">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
