
                <h4>Descripci&#xF3;n:</h4>
                

<div id="itemEditDescrML">
<table id="TABLE_EDENLP" cellspacing="0" cellpadding="0" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="width: 750px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td colspan="3"><img alt="" src="http://edenlp.com.ar/deremate/banne.png"><br>
<table cellspacing="0" cellpadding="0" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="width: 750px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td bordercolor="#0000ff" align="center" style="border-color:#0000ff;text-align:center;">
<table cellspacing="0" cellpadding="0" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="width: 700px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="139" style="width:139px;"><img alt="" src="http://edenlp.com.ar/deremate/img.php?src=img_der.png"></td>
<td width="421" style="width:421px;">
<p align="center" style="text-align:center;"><img alt="" src="http://edenlp.com.ar/deremate/img_dr/edenlp.gif"><br><img width="421" alt="" src="http://edenlp.com.ar/deremate/local.jpg" style="width:421px;"><br><img width="421" alt="" src="http://edenlp.com.ar/deremate/logo.png" style="width:421px;"><br><img alt="" src="http://edenlp.com.ar/deremate/img_dr/pais.gif"><br><img width="421" alt="" src="http://edenlp.com.ar/deremate/representaciones.png" style="width:421px;"></p>
</td>
<td width="139" style="width:139px;"><img alt="" src="http://edenlp.com.ar/deremate/img.php?src=img_izq.png"></td>
</tr>
</tbody>
</table>
<img width="701" alt="" src="http://edenlp.com.ar/deremate/img_dr/aceptamos.gif" style="width:701px;"><br><img alt="" src="http://edenlp.com.ar/deremate/dolar.php"><br><img width="701" alt="" src="http://edenlp.com.ar/deremate/img_dr/consulta.gif" style="width:701px;"></td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td id="LEFT_EDENLP" width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td id="PRODUCT_EDENLP" align="center" width="701" style="text-align:center;width:701px;">
<table bordercolor="#ff0000" cellspacing="0" cellpadding="0" align="center" border="2" style="width: 701px;border-color:#ff0000;text-align:center;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:2px;border-top:2px;border-bottom:2px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo_p.gif" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo_p.gif);"><span style="font-size: x-small;"><!-- "Descripcion" inicio --></span>
<div style="text-align: center;"><span style="font-size: x-large;">Piano Digital Casio Celviano AP650MBK 88 Teclas Edenlp</span></div>
<div style="text-align: center;"><span style="font-size: x-large;"><br></span></div>
<div style="text-align: center;"><span style="font-size: x-large;"><img src="http://img1.mlstatic.com/s_MLA_v_O_f_4353581273_052013.jpg"></span></div>
<div style="text-align: center;"><span style="font-size: x-large;"><br></span></div>
<div style="text-align: center;"><span style="font-size: small;">Casio AP-650 MBK Celviano digital piano - 88 Scaled Hammer Action II Keys (Tri-Sensor) synthetic ebony/ivory Key&#xB4;s, 250 thomann sounds, Multi-Dimensional Morphing AiF, 128-voice polyphony, 180 styles, 6 demonstration-only songs, 180 one touch preset, split &amp; layer functions, DSP, 16-track sequencer, chorus, brilliance, 2-track sequencer, hammer response, damper resonance, Lid- and Key-of-Simulator, audio recording/playback, 60 songs, transposer, metronome, duett mode, LCD-Display thomann with backlit, 2 headphone jacks, top board open/close, 3 pedals ( halp damper ), USB to host port, USB to device flash drive port, stereo line input and output, Midi IN/OUT, 2-way 4-speakers 2 x 30 W, Dimensions incl. stand: 1377 x 427 x thomann 911 mm (H x W x D). Weight: 50,2 kg. Includes score book, music stand, headphone hook and power supply AD-E24500LW, color: satin black</span></div>
<div style="text-align: center;"></div>
<div style="text-align: center;"></div>
<div style="text-align: center;"></div>
<!-- "Descripcion" final --></td>
</tr>
</tbody>
</table>
</td>
<td id="RIGTH_EDENLP" width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
<tr>
<td colspan="3">
<table cellspacing="0" cellpadding="0" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="width: 750px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" style="text-align:center;"><img alt="" src="http://edenlp.com.ar/deremate/img_dr/visita.gif"><br>
<div align="center" style="text-align:center;"></div>
<p align="center" style="font-size: 30px; color: #0000ff;text-align:center;"><a target="_blank" href="http://eshops.deremate.com.ar/edenlp/" rel="nofollow"><strong>http://eshops.deremate.com.ar/edenlp/</strong></a></p>
<img alt="" src="http://edenlp.com.ar/deremate/supervendedores.png"><br><img width="701" alt="" src="http://edenlp.com.ar/deremate/img_dr/revisa.gif" style="width:701px;"><br>
<div align="center" style="text-align:center;"></div>
</td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
<img alt="" src="http://edenlp.com.ar/deremate/pie.jpg"></td>
</tr>
</tbody>
</table>
</div>
            