
                <h4>Descripci&#xF3;n:</h4>
                
<div id="itemEditDescrML">
<table cellspacing="0" cellpadding="0" border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" width="750" id="TABLE_EDENLP" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td colspan="3"><img src="http://edenlp.com.ar/deremate/banne.png" alt=""><br>
<table cellspacing="0" cellpadding="0" border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" width="750" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td background="http://edenlp.com.ar/deremate/izq.png" width="25" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" bordercolor="#0000FF" style="border-color:#0000FF;text-align:center;">
<table cellspacing="0" cellpadding="0" border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" width="700" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:700px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_der.png" alt=""></td>
<td width="421" style="width:421px;">
<p align="center" style="text-align:center;"><img src="http://edenlp.com.ar/deremate/img_dr/edenlp.gif" alt=""><br> <img width="421" src="http://edenlp.com.ar/deremate/local.jpg" alt="" style="width:421px;"><br> <img width="421" src="http://edenlp.com.ar/deremate/logo.png" alt="" style="width:421px;"><br> <img src="http://edenlp.com.ar/deremate/img_dr/pais.gif" alt=""><br> <img width="421" src="http://edenlp.com.ar/deremate/representaciones.png" alt="" style="width:421px;"></p>
</td>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_izq.png" alt=""></td>
</tr>
</tbody>
</table>
<img width="701" src="http://edenlp.com.ar/deremate/img_dr/aceptamos.gif" alt="" style="width:701px;"><br> <img src="http://edenlp.com.ar/deremate/dolar.php" alt=""><br> <img width="701" src="http://edenlp.com.ar/deremate/img_dr/consulta.gif" alt="" style="width:701px;"></td>
<td background="http://edenlp.com.ar/deremate/der.jpg" width="24" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td background="http://edenlp.com.ar/deremate/izq.png" width="25" id="LEFT_EDENLP" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" width="701" id="PRODUCT_EDENLP" style="text-align:center;width:701px;">
<table cellspacing="0" cellpadding="0" bordercolor="#ff0000" border="2" align="center" width="701" style="border-color:#ff0000;text-align:center;width:701px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:2px;border-top:2px;border-bottom:2px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td background="http://edenlp.com.ar/deremate/img_dr/fondo_p.gif" align="center" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo_p.gif);"><!-- "Descripcion" inicio -->
<div style="text-align: center;"><span style="font-size: 30px;">Microfono P/guit Ds Pickups Ds43-M<br> Hum Cancelling Stack 05<br></span><br><img src="http://static.mercadoshops.com/jm/com.stores.framework.commons.imageproxy.ImgProxyServlet?v=i&amp;f=77726746-4528-1.jpg&amp;s=77726746&amp;item=4528" align="absmiddle" alt="" style="text-align:absmiddle;"><br><br><span face="Arial, Helvetica, sans-serif" style="font-size: 30px; font-family: Arial, Helvetica, sans-serif;"><b>SOMOS DISTRIBUIDORES OFICIALES<br>TIEMPO DE ENTREGA 7 A 10 D&#xCD;AS</b></span><span size="2" face="Arial, Helvetica, sans-serif" style="font-family: Arial, Helvetica, sans-serif; font-size: small;"><b><br><br></b></span>
<p></p>
<p align="left" style="text-align: -webkit-left; background-color: #000000;"></p>
<table width="80%" border="1" cellspacing="0" cellpadding="0" align="center" bordercolor="#333333" style="background-color: #000000;border-color:#333333;text-align:center;width:80%;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:1px;border-top:1px;border-bottom:1px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td>
<div align="center" style="text-align:center;">
<p align="left" style="text-align: -webkit-left;"><span color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif" style="color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: small;"><b>APLICACIONES&#xA0;</b></span><span color="#999999" size="2" face="Arial, Helvetica, sans-serif" style="color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: small;"><br></span><span color="#999999" size="2" style="color: #999999; font-size: small;"><span color="#CCCCCC" face="Arial, Helvetica, sans-serif" style="color: #cccccc; font-family: Arial, Helvetica, sans-serif;">- Dise&#xF1;o doble en formato simple con cancelaci&#xF3;n de ruido&#xA0;<i>(hum-canceling)</i>dise&#xF1;ado para proveer un sonido m&#xE1;s contundente y c&#xE1;lido que el modelo Stack.06<br>- Recomendado para estilos rock, hard-rock, blues, pop, etc.</span></span></p>
<p style="text-align: -webkit-left;"><span color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif" style="color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: small;"><b>DESCRIPCION</b></span><span color="#999999" size="2" face="Arial, Helvetica, sans-serif" style="color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: small;"><br><b><span color="#C0C0C0" style="color: #c0c0c0;">-&#xA0;</span></b><span color="#C0C0C0" style="color: #c0c0c0;">Micr&#xF3;fono equipado con n&#xFA;cleos de ALNICO V y dos bobinas que ofrecen<span color="#FFFFFF" style="color: #ffffff;"><b><i>resonancia dual</i></b></span>&#xA0;para una mejor respuesta en los rangos medios sin perder definici&#xF3;n!<br>- No se requiere modificar la cavidad original de la guitarra.<br></span><span color="#999999" size="2" face="Arial, Helvetica, sans-serif" style="color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: small;"><span color="#C0C0C0" style="color: #c0c0c0;">- Presenta un sonido c&#xE1;lido seteado en limpio, al mismo tiempo que &quot;abre&quot; su definici&#xF3;n y rango din&#xE1;mico con el uso de distorsi&#xF3;n!<br>- Extremadamente silenciosos por estar recubiertas ambas bobinas con material conductivo.&#xA0;</span></span><span color="#C0C0C0" size="2" face="Arial, Helvetica, sans-serif" style="color: #c0c0c0; font-family: Arial, Helvetica, sans-serif; font-size: small;"><b><br>-&#xA0;</b>Gran&#xA0;<i>sustain&#xA0;</i>y sensibilidad a la acci&#xF3;n de las cuerdas.&#xA0;<br></span><span color="#999999" size="2" face="Arial, Helvetica, sans-serif" style="color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: small;"><span color="#C0C0C0" size="2" face="Arial, Helvetica, sans-serif" style="color: #c0c0c0; font-family: Arial, Helvetica, sans-serif; font-size: small;"><b>-&#xA0;</b>Manualmente ensamblado.</span></span><span color="#C0C0C0" size="2" face="Arial, Helvetica, sans-serif" style="color: #c0c0c0; font-family: Arial, Helvetica, sans-serif; font-size: small;"><br></span><span color="#999999" size="2" face="Arial, Helvetica, sans-serif" style="color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: small;"><span color="#999999" size="2" face="Arial, Helvetica, sans-serif" style="color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: small;"><span color="#999999" size="2" face="Arial, Helvetica, sans-serif" style="color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: small;"><span color="#C0C0C0" style="color: #c0c0c0;">- Ideal para m&#xFA;sicos que pueden combinarlo con un amplificador valvular seteado en limpio o distorsionado.</span></span></span></span><span color="#C0C0C0" size="2" face="Arial, Helvetica, sans-serif" style="color: #c0c0c0; font-family: Arial, Helvetica, sans-serif; font-size: small;"><br></span><span color="#999999" size="2" face="Arial, Helvetica, sans-serif" style="color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: small;"><span color="#999999" size="2" face="Arial, Helvetica, sans-serif" style="color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: small;"><span color="#C0C0C0" style="color: #c0c0c0;">- Equipado con n&#xFA;cleos desbastados de forma manual</span></span></span><span color="#C0C0C0" size="2" face="Arial, Helvetica, sans-serif" style="color: #c0c0c0; font-family: Arial, Helvetica, sans-serif; font-size: small;">.<br><b>-&#xA0;</b>Dise&#xF1;ado para adaptarse a guitarras est&#xE1;ndar tipo americanas &#x2013; separaci&#xF3;n entre cuerdas 52,5mm.&#xA0;<br><b>-&#xA0;</b>Cable de 2 conductores + malla (fase reversible)&#xA0;<br>- Tornillos + tubos de l&#xE1;tex para una &#xF3;ptima calibraci&#xF3;n del micr&#xF3;fono.&#xA0;<br><b>-&#xA0;</b></span><span size="2" face="Arial, Helvetica, sans-serif" color="#999999" style="color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: small;"><span color="#C0C0C0" style="color: #c0c0c0;">Base de fibra de vidrio (circuito impreso) con insertos de bronce est&#xE1;ndar 6/32&quot;</span></span><span face="Arial, Helvetica, sans-serif" size="2" color="#C0C0C0" style="color: #c0c0c0; font-family: Arial, Helvetica, sans-serif; font-size: small;">.</span></span></p>
</div>
</td>
</tr>
</tbody>
</table>
<p style="text-align: -webkit-auto;"></p>
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color: #000000;width:100%;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td colspan="2" valign="top" height="254" style="height:254px;vertical-align:top;">
<p><span face="Arial, Helvetica, sans-serif" size="2" color="#C0C0C0" style="color: #c0c0c0; font-family: Arial, Helvetica, sans-serif; font-size: small;"><b>-&#xA0;</b>Micr&#xF3;fono parafinado al vac&#xED;o para eliminar retroalimentaciones y acoples indeseados.&#xA0;<br><b>-&#xA0;</b>Incluye todos los accesorios de instalaci&#xF3;n y manual de instrucciones + diagrama de conexionado.<br><b>-&#xA0;</b>Embalado y sellado en caja de cedro lustrado con tapa de acr&#xED;lico.</span></p>
<p><span color="#999999" size="2" face="Arial, Helvetica, sans-serif" style="color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: small;"><span color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif" style="color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: small;"><b>GUITARRAS</b></span><span color="#999999" size="2" face="Arial, Helvetica, sans-serif" style="color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: small;"><br><b><span color="#C0C0C0" style="color: #c0c0c0;">-</span></b><span color="#C0C0C0" style="color: #c0c0c0;">&#xA0;Se adapta perfectamente a toda clase de instrumentos. Recomendado para diapasones de maple y&#xA0;<br>palisandro.&#xA0;</span></span><span color="#C0C0C0" style="color: #c0c0c0;"><br></span></span></p>
<p><span color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif" style="color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: small;"><b>MODELOS DISPONIBLES</b></span><span color="#999999" size="2" face="Arial, Helvetica, sans-serif" style="color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: small;"><br><b><span color="#FFFFFF" style="color: #ffffff;">-&#xA0;</span></b><span color="#FFFFFF" style="color: #ffffff;">Tres versiones: neck (DS43-N), middle (DS43-M) y bridge</span><span color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif" style="color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: small;">&#xA0;(DS43-B)&#xA0;</span><span color="#C0C0C0" style="color: #c0c0c0;"><br><span color="#FFFFFF" style="color: #ffffff;">-&#xA0;</span></span><span color="#999999" size="2" face="Arial, Helvetica, sans-serif" style="color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: small;"><span color="#999999" size="2" face="Arial, Helvetica, sans-serif" style="color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: small;"><span color="#C0C0C0" style="color: #c0c0c0;"><span color="#FFFFFF" style="color: #ffffff;">Color&#xA0;</span></span></span><span color="#FFFFFF" style="color: #ffffff;">marfil</span></span><span color="#C0C0C0" style="color: #c0c0c0;"><br><b>-&#xA0;</b>El modelo STACK.05 MIDDLE presenta polaridad invertida para cancelar ruido en las posiciones 2 y 4 de la llave selectora de cinco posiciones.&#xA0;<br></span></span></p>
</td>
</tr>
<tr>
<td width="54%" height="2" style="height:2px;width:54%;">
<div align="center" style="text-align:center;"><span color="#999999" size="3" face="Arial, Helvetica, sans-serif" style="color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: medium;"><b><br></b></span>
<table width="93%" border="1" cellspacing="0" cellpadding="0" bordercolor="#666666" style="border-color:#666666;width:93%;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:1px;border-top:1px;border-bottom:1px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td>
<div align="center" style="text-align:center;"><span color="#999999" size="3" face="Arial, Helvetica, sans-serif" style="color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: medium;"><b><span color="#F2DF86" style="color: #f2df86;">Especificaciones T&#xE9;cnicas</span></b></span></div>
</td>
</tr>
</tbody>
</table>
</div>
<span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC" style="color: #cccccc; font-family: Arial, Helvetica, sans-serif; font-size: small;"><b><span color="#F2DF86" style="color: #f2df86;">&#x2022;</span>&#xA0;</b></span><span size="2" color="#C0C0C0" face="Arial, Helvetica, sans-serif" style="color: #c0c0c0; font-family: Arial, Helvetica, sans-serif; font-size: small;">Resistencia 18,6 K ohms<br></span><span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC" style="color: #cccccc; font-family: Arial, Helvetica, sans-serif; font-size: small;"><b><span color="#F2DF86" style="color: #f2df86;">&#x2022;</span>&#xA0;</b></span><span size="2" color="#C0C0C0" face="Arial, Helvetica, sans-serif" style="color: #c0c0c0; font-family: Arial, Helvetica, sans-serif; font-size: small;">ALNICO V&#xA0;<br></span><span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC" style="color: #cccccc; font-family: Arial, Helvetica, sans-serif; font-size: small;"><b><span color="#F2DF86" style="color: #f2df86;">&#x2022;</span>&#xA0;</b></span><span size="2" color="#C0C0C0" face="Arial, Helvetica, sans-serif" style="color: #c0c0c0; font-family: Arial, Helvetica, sans-serif; font-size: small;">Cancelaci&#xF3;n de ruido = S&#xED;<br></span><span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC" style="color: #cccccc; font-family: Arial, Helvetica, sans-serif; font-size: small;"><b><span color="#F2DF86" style="color: #f2df86;">&#x2022;</span>&#xA0;</b></span><span size="2" color="#C0C0C0" face="Arial, Helvetica, sans-serif" style="color: #c0c0c0; font-family: Arial, Helvetica, sans-serif; font-size: small;">Frecuencias de resonancia dual = 3,0 KHz y 7,0 KHz.<br></span><span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC" style="color: #cccccc; font-family: Arial, Helvetica, sans-serif; font-size: small;"><b><span color="#F2DF86" style="color: #f2df86;">&#x2022;</span>&#xA0;</b></span><span size="2" color="#C0C0C0" face="Arial, Helvetica, sans-serif" style="color: #c0c0c0; font-family: Arial, Helvetica, sans-serif; font-size: small;">Salida: moderada</span></td>
<td width="46%" height="2" style="height:2px;width:46%;">
<div align="center" style="text-align:center;"></div>
</td>
</tr>
<tr>
<td colspan="2" height="175" style="height:175px;">
<div align="center" style="text-align:center;"><br>
<table width="80%" border="1" cellpadding="0" cellspacing="0" bordercolor="#666666" style="border-color:#666666;width:80%;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:1px;border-top:1px;border-bottom:1px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td>
<div align="center" style="text-align:center;"><span color="#999999" size="3" face="Arial, Helvetica, sans-serif" style="color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: medium;"><b><span color="#F2DF86" style="color: #f2df86;">Respuesta en Frecuencia</span></b></span></div>
</td>
</tr>
</tbody>
</table>
<img src="http://www.dspickups.com.ar/Imagenes/Mics/Graficos/grstack.05.jpg" width="350" height="257" alt="" style="height:257px;width:350px;"></div>
</td>
</tr>
</tbody>
</table>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
</div>
<!-- "Descripcion" final --></td>
</tr>
</tbody>
</table>
</td>
<td background="http://edenlp.com.ar/deremate/der.jpg" width="24" id="RIGTH_EDENLP" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
<tr>
<td colspan="3">
<table cellspacing="0" cellpadding="0" border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" width="750" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td background="http://edenlp.com.ar/deremate/izq.png" width="25" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" style="text-align:center;"><img src="http://edenlp.com.ar/deremate/img_dr/visita.gif" alt=""><br>
<div align="center" style="text-align:center;"></div>
<p align="center" style="font-size: 30px; color: #0000ff;text-align:center;"><a target="_blank" href="http://eshops.deremate.com.ar/edenlp/" rel="nofollow"><strong>http://eshops.deremate.com.ar/edenlp/</strong></a></p>
<img src="http://edenlp.com.ar/deremate/supervendedores.png" alt=""><br> <img width="701" src="http://edenlp.com.ar/deremate/img_dr/revisa.gif" alt="" style="width:701px;"><br>
<div align="center" style="text-align:center;"></div>
</td>
<td background="http://edenlp.com.ar/deremate/der.jpg" width="24" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
<img src="http://edenlp.com.ar/deremate/pie.jpg" alt=""></td>
</tr>
</tbody>
</table>
</div>
            