
                <h4>Descripci&#xF3;n:</h4>
                
<div id="itemEditDescrML">
<table id="TABLE_EDENLP" cellspacing="0" cellpadding="0" width="750" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td colspan="3"><img alt="" src="http://edenlp.com.ar/deremate/banne.png"><br>
<table cellspacing="0" cellpadding="0" width="750" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td bordercolor="#0000ff" align="center" style="border-color:#0000ff;text-align:center;">
<table cellspacing="0" cellpadding="0" width="700" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:700px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="139" style="width:139px;"><img alt="" src="http://edenlp.com.ar/deremate/img.php?src=img_der.png"></td>
<td width="421" style="width:421px;">
<p align="center" style="text-align:center;"><img alt="" src="http://edenlp.com.ar/deremate/img_dr/edenlp.gif"><br><img width="421" alt="" src="http://edenlp.com.ar/deremate/local.jpg" style="width:421px;"><br><img width="421" alt="" src="http://edenlp.com.ar/deremate/logo.png" style="width:421px;"><br><img alt="" src="http://edenlp.com.ar/deremate/img_dr/pais.gif"><br><img width="421" alt="" src="http://edenlp.com.ar/deremate/representaciones.png" style="width:421px;"></p>
</td>
<td width="139" style="width:139px;"><img alt="" src="http://edenlp.com.ar/deremate/img.php?src=img_izq.png"></td>
</tr>
</tbody>
</table>
<img width="701" alt="" src="http://edenlp.com.ar/deremate/img_dr/aceptamos.gif" style="width:701px;"><br><img alt="" src="http://edenlp.com.ar/deremate/dolar.php"><br><img width="701" alt="" src="http://edenlp.com.ar/deremate/img_dr/consulta.gif" style="width:701px;"></td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td id="LEFT_EDENLP" width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td id="PRODUCT_EDENLP" align="center" width="701" style="text-align:center;width:701px;">
<table bordercolor="#ff0000" cellspacing="0" cellpadding="0" width="701" align="center" border="2" style="border-color:#ff0000;text-align:center;width:701px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:2px;border-top:2px;border-bottom:2px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo_p.gif" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo_p.gif);"><!-- "Descripcion" inicio -->
<div style="text-align: center;"><span style="font-size: x-large;">Microfono Condenser Samson MTR201A</span></div>
<div style="text-align: center;"><span style="font-size: x-large;"> c/pop filter, shock mount y estuche</span></div>
<div style="text-align: center;"><span style="font-size: x-large;"><br></span></div>
<div style="text-align: center;"><span style="font-size: x-large;"><img src="https://a248.e.akamai.net/mla-s2-p.mlstatic.com/17411-MLA20138779771_082014-C.jpg"></span></div>
<div style="text-align: center;"></div>
<div style="text-align: center;">
<h2>Sound Superior.</h2>
<p><span class="notranslate">Samson</span>&apos;s MTR201 Condenser Microphone brings exceptional performance and high-end quality to a variety of live and studio situations. Ideal for recording vocals, close miking instruments, use as a room microphone and more, the MTR201 solidifies&#xA0;<span class="notranslate">Samson</span>&apos;s commitment to offering superior sound and the ability to capture the best audio possible.</p>
<h3>Fully Featured Design</h3>
<p>The MTR201 is a large, 1&quot; gold-sputtered diaphragm studio condenser microphone. It features a cardioid pickup pattern that provides increased isolation of a sound source and is designed to handle high SPLs of up to 132dB. It also has a 10db attenuation switch for handling ultra-high levels. The MTR201 offers a smooth, extended frequency response, as well as low self-noise and a wide dynamic range perfect for recording. In addition, its internally shock-mounted capsule also reduces handling noise and external vibrations. This rugged die cast mic is bundled with a pop filter, shockmount and protective carry case.</p>
<p><img src="http://www.samsontech.com/site_media/cms/collateral_images/mtr-microphones/mtr201-231-accessories-1200x486.jpg" border="0" alt="MTR101a accessories " title="MTR101a accessories" width="600" height="215" style="height:215px;width:600px;border-left:0px;border-top:0px;border-bottom:0px;"></p>
<h3>Capture Your Best...</h3>
<h4>Vocals</h4>
<p>The MTR201 is perfect for capturing vocal performances in the studio. The mic&apos;s cardioid pickup pattern provides increased isolation, avoiding unwanted noise and highlighting only the vocalist. As such, the MTR201 is ideal for any vocal performance where excellent rear-rejection is needed or use it as the &quot;Mid&quot; mic in a Mid-Side stereo setup. And with a wide 20Hz&#x2013;20kHz frequency response, the MTR201 can capture the most dynamic of voices with ease.</p>
<p><img src="http://www.samsontech.com/site_media/cms/collateral_images/mtr-microphones/mtr231_mtr201_singing-620x514.jpg" border="0" alt="MTR201 singer" title="MTR201 singer" width="310" height="257" style="height:257px;width:310px;border-left:0px;border-top:0px;border-bottom:0px;"></p>
<h4>Instruments And More</h4>
<p>Featuring a wide dynamic range and the ability to handle high SPLs, the MTR201 is ideal for use as a room microphone or for close miking a variety of instruments both live and in the studio. From aggressive guitar cabinets and drums to vibrant pianos, winds and other preferred instruments, the MTR201 is designed to faithfully reproduce a diverse range of instrument tones. And the previously mentioned vocal miking techniques can be easily applied to all of these instruments given the situation and desired sound.</p>
<p><img src="http://www.samsontech.com/site_media/cms/collateral_images/mtr-microphones/mtr201_grouped-620x608.jpg" border="0" alt="MTR201 in use" title="MTR201 in use" width="310" height="304" style="height:304px;width:310px;border-left:0px;border-top:0px;border-bottom:0px;"></p>
<p>Sound superior with the new MTR201 Condenser Microphone from&#xA0;<span class="notranslate">Samson</span>.<span style="font-size: x-large;">&#xA0;</span></p>
</div>
<div style="text-align: center;"><br><span style="font-size: x-large;"></span></div>
<div style="text-align: center;"></div>
<!-- "Descripcion" final --></td>
</tr>
</tbody>
</table>
</td>
<td id="RIGTH_EDENLP" width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
<tr>
<td colspan="3">
<table cellspacing="0" cellpadding="0" width="750" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" style="text-align:center;"><img alt="" src="http://edenlp.com.ar/deremate/img_dr/visita.gif"><br>
<div align="center" style="text-align:center;"></div>
<p align="center" style="font-size: 30px; color: #0000ff;text-align:center;"><a target="_blank" href="http://eshops.deremate.com.ar/edenlp/" rel="nofollow"><strong>http://eshops.deremate.com.ar/edenlp/</strong></a></p>
<img alt="" src="http://edenlp.com.ar/deremate/supervendedores.png"><br><img width="701" alt="" src="http://edenlp.com.ar/deremate/img_dr/revisa.gif" style="width:701px;"><br>
<div align="center" style="text-align:center;"></div>
</td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
<img alt="" src="http://edenlp.com.ar/deremate/pie.jpg"></td>
</tr>
</tbody>
</table>
</div>
            