
                <h4>Descripci&#xF3;n:</h4>
                <div id="itemEditDescrML">
<table id="TABLE_EDENLP" cellspacing="0" cellpadding="0" width="750" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td colspan="3"><img alt="" src="http://edenlp.com.ar/deremate/banne.png"><br>
<table cellspacing="0" cellpadding="0" width="750" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td bordercolor="#0000ff" align="center" style="border-color:#0000ff;text-align:center;">
<table cellspacing="0" cellpadding="0" width="700" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:700px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="139" style="width:139px;"><img alt="" src="http://edenlp.com.ar/deremate/img.php?src=img_der.png"></td>
<td width="421" style="width:421px;">
<p align="center" style="text-align:center;"><img alt="" src="http://edenlp.com.ar/deremate/img_dr/edenlp.gif"><br><img width="421" alt="" src="http://edenlp.com.ar/deremate/local.jpg" style="width:421px;"><br><img width="421" alt="" src="http://edenlp.com.ar/deremate/logo.png" style="width:421px;"><br><img alt="" src="http://edenlp.com.ar/deremate/img_dr/pais.gif"><br><img width="421" alt="" src="http://edenlp.com.ar/deremate/representaciones.png" style="width:421px;"></p>
</td>
<td width="139" style="width:139px;"><img alt="" src="http://edenlp.com.ar/deremate/img.php?src=img_izq.png"></td>
</tr>
</tbody>
</table>
<img width="701" alt="" src="http://edenlp.com.ar/deremate/img_dr/aceptamos.gif" style="width:701px;"><br><img alt="" src="http://edenlp.com.ar/deremate/dolar.php"><br><img width="701" alt="" src="http://edenlp.com.ar/deremate/img_dr/consulta.gif" style="width:701px;"></td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td id="LEFT_EDENLP" width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td id="PRODUCT_EDENLP" align="center" width="701" style="text-align:center;width:701px;"><br>
<table bordercolor="#ff0000" cellspacing="0" cellpadding="0" width="701" align="center" border="2" style="border-color:#ff0000;text-align:center;width:701px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:2px;border-top:2px;border-bottom:2px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo_p.gif" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo_p.gif);">
<div style="text-align: center;"><span style="font-size: 30px;">&#xA0;Micr&#xF3;fono Stereo X/Y Zoom Iq6 P/iphone Ipad Ipod Edenlp</span></div>
<div style="text-align: center;"><span style="font-size: 30px;"><img src="https://mla-s2-p.mlstatic.com/881301-MLA20300992752_052015-C.jpg"></span></div>
<div style="text-align: center;"><span style="font-size: 30px;"><img src="https://mla-s2-p.mlstatic.com/569201-MLA20300992778_052015-C.jpg"></span></div>
<div style="text-align: center;"><span>The iQ6 features two high quality unidirectional condenser microphones in an X/Y configuration&#x2014;the same ones used in our world-famous H4n Handy Recorder. X/Y stereo recording is a great way to cover a wide area while still capturing sound sources in the center with clarity and definition. You can even change the mic angle from 90 degrees for a tightly focused image to 120 degrees for immersive wide-angle stereo.</span></div>
<div style="text-align: center;"><span><br></span></div>
<div style="text-align: center;">
<table cellspacing="0" cellpadding="0" class="specTB" style="padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td class="thCol" colspan="2">Microphone</td>
<td width="512" style="width:512px;">X/Y stereo mic (90&#xB0;/120&#xB0;)</td>
</tr>
<tr>
<td colspan="2" class="thCol">Maximum input sound pressure</td>
<td>130dB SPL</td>
</tr>
<tr>
<td colspan="2" class="thCol">Input gain</td>
<td>-11 to + 51dB</td>
</tr>
<tr>
<td colspan="2" class="thCol">Audio quality</td>
<td>44.1kHz/16bit, 48kHz/16bit</td>
</tr>
<tr>
<td colspan="2" class="thCol">Power</td>
<td>Powered by the connected device</td>
</tr>
<tr>
<td colspan="2" class="thCol">Connector</td>
<td>Lightning connector<br>Stereo mini jack (combined headphone/line level output)</td>
</tr>
<tr>
<td colspan="2" class="thCol">Dimensions</td>
<td>61.1(W) x 30.6(D) x 53.1(H)mm</td>
</tr>
<tr>
<td colspan="2" class="thCol">Weight</td>
<td>28.8g</td>
</tr>
<tr>
<td colspan="2" class="thCol">Compatible devices</td>
<td>iPhone 5, iPhone 5s, iPhone 5c, iPhone 6, iPhone 6 Plus, iPod touch (5th generation), iPad (4th generation), iPad Air, iPad Air 2, iPad mini, iPad mini 2, iPad mini 3</td>
</tr>
<tr>
<td colspan="2" class="thCol">Supported OS</td>
<td>iOS 6.0 or newer</td>
</tr>
<tr>
<td colspan="2" class="thCol">Included Accessories</td>
<td>iQ6 XY Stereo Microphone<br>Operation Manual<br>Foam Windscreen</td>
</tr>
<tr>
<td colspan="2" class="thCol">Optional Accessory</td>
<td>Hairy Windscreen (WSU-1)</td>
</tr>
</tbody>
</table>
</div>
<div style="text-align: center;"><span style="font-size: 30px;"><br></span></div>
<div style="text-align: center;"></div>
<div style="text-align: center;"></div>
<div style="text-align: center;"></div>
<div style="text-align: center;"></div>
<div style="text-align: center;"></div>
<!-- "Descripcion" final --></td>
</tr>
</tbody>
</table>
</td>
<td id="RIGTH_EDENLP" width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
<tr>
<td colspan="3">
<table cellspacing="0" cellpadding="0" width="750" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" style="text-align:center;"><img alt="" src="http://edenlp.com.ar/deremate/img_dr/visita.gif"><br>
<div align="center" style="text-align:center;"></div>
<p align="center" style="font-size: 30px; color: #0000ff;text-align:center;"><a target="_blank" href="http://eshops.deremate.com.ar/edenlp/" rel="nofollow"><strong>http://eshops.deremate.com.ar/edenlp/</strong></a></p>
<img alt="" src="http://edenlp.com.ar/deremate/supervendedores.png"><br><img width="701" alt="" src="http://edenlp.com.ar/deremate/img_dr/revisa.gif" style="width:701px;"><br>
<div align="center" style="text-align:center;"></div>
</td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
<img alt="" src="http://edenlp.com.ar/deremate/pie.jpg"></td>
</tr>
</tbody>
</table>
</div>
            