
                <h4>Descripci&#xF3;n:</h4>
                <table id="TABLE_EDENLP" cellspacing="0" cellpadding="0" width="750" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td colspan="3"><img src="http://edenlp.com.ar/deremate/banne.png"><br>
<table cellspacing="0" cellpadding="0" width="750" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"><br></td>
<td bordercolor="#0000ff" align="middle" style="border-color:#0000ff;text-align:middle;">
<table cellspacing="0" cellpadding="0" width="700" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:700px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_der.png"> </td>
<td width="421" style="width:421px;">
<p align="center" style="text-align:center;"><img src="http://edenlp.com.ar/deremate/img_dr/edenlp.gif"><br><img src="http://edenlp.com.ar/deremate/local.jpg" width="421" style="width:421px;"><br><img src="http://edenlp.com.ar/deremate/logo.png" width="421" style="width:421px;"><br><img src="http://edenlp.com.ar/deremate/img_dr/pais.gif"><br><img src="http://edenlp.com.ar/deremate/representaciones.png" width="421" style="width:421px;"> </p></td>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_izq.png"> </td></tr></tbody></table><img src="http://edenlp.com.ar/deremate/img_dr/aceptamos.gif" width="701" style="width:701px;"><br><img src="http://edenlp.com.ar/deremate/dolar.php"><br><img src="http://edenlp.com.ar/deremate/img_dr/consulta.gif" width="701" style="width:701px;"><br></td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"><br></td></tr></tbody></table></td></tr>
<tr>
<td id="LEFT_EDENLP" width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"><br></td>
<td id="PRODUCT_EDENLP" align="middle" width="701" style="text-align:middle;width:701px;">
<table bordercolor="#ff0000" cellspacing="0" cellpadding="0" width="701" align="center" border="2" style="border-color:#ff0000;text-align:center;width:701px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:2px;border-top:2px;border-bottom:2px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td align="middle" background="http://edenlp.com.ar/deremate/img_dr/fondo_p.gif" style="text-align:middle;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo_p.gif);"><!-- "Descripcion" inicio -->
<p><strong><u><font size="7" style="font-size:7;">BOSS</font></u></strong></p>
<p></p>
<p><font size="6" style="font-size:6;"><strong>Bass Chorus CEB-3<br></strong></font></p>
<p></p>
<p></p>
<p>
<table height="402" width="543" border="0" style="height:402px;width:543px;border-left:0px;border-top:0px;border-bottom:0px;">
<tbody>
<tr>
<td>
<p><font size="4" style="font-size:4;"></font></p>
<p><font size="4" style="font-size:4;"><img height="232" alt="" src="http://www.listaimsa.com.ar/pedales/CEB-3m.gif" width="200" style="height:232px;width:200px;"> <br></font></p>
<p><font size="4" style="font-size:4;"></font></p></td>
<td>
<p><font face="Times New Roman" size="4" style="font-size:4;"></font></p>
<h4><font size="4" style="font-size:4;">A Chorus Pedal with Built-in Crossover.</font></h4><!-- database[introduction] -->
<div class="detail-ov-copy"><!-- image, intro text --><font size="4" style="font-size:4;">A split-frequency chorus capable of applying warm, rich chorus to higher frequencies without muddying the lows. A space synthesis effect guarantees a natural and spacious chorus effect. </font></div>
<div class="detail-ov-copy"><font size="4" style="font-size:4;"></font></div></td></tr></tbody></table></p>
<p></p>
<p><font size="5" style="font-size:5;">Especificaciones:</font></p>
<div align="center" style="text-align:center;"><br></div>
<table class="specsheet" cellspacing="0" cellpadding="1" width="510" align="center" border="0" style="text-align:center;width:510px;padding-top:1px;padding-left:1px;padding-right:1px;padding-bottom:1px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="30%" style="width:30%;">
<div class="specName"><font size="3" style="font-size:3;">Nominal Input Level</font> </div></td>
<td colspan="2">
<div class="specValue"><font size="3" style="font-size:3;">-20 dBu</font> </div></td></tr>
<tr>
<td colspan="3">
<div class="hr-line"><font size="3" style="font-size:3;"><img height="1" alt="" src="http://www.bosscorp.co.jp/products/en/images/trans.gif" width="1" style="height:1px;width:1px;"></font> </div></td></tr>
<tr>
<td width="30%" style="width:30%;">
<div class="specName"><font size="3" style="font-size:3;">Input Impedance</font> </div></td>
<td colspan="2">
<div class="specValue"><font size="3" style="font-size:3;">1 M ohms</font> </div></td></tr>
<tr>
<td colspan="3">
<div class="hr-line"><font size="3" style="font-size:3;"><img height="1" alt="" src="http://www.bosscorp.co.jp/products/en/images/trans.gif" width="1" style="height:1px;width:1px;"></font> </div></td></tr>
<tr>
<td width="30%" style="width:30%;">
<div class="specName"><font size="3" style="font-size:3;">Nominal Output Level</font> </div></td>
<td colspan="2">
<div class="specValue"><font size="3" style="font-size:3;">-20 dBu</font> </div></td></tr>
<tr>
<td colspan="3">
<div class="hr-line"><font size="3" style="font-size:3;"><img height="1" alt="" src="http://www.bosscorp.co.jp/products/en/images/trans.gif" width="1" style="height:1px;width:1px;"></font> </div></td></tr>
<tr>
<td width="30%" style="width:30%;">
<div class="specName"><font size="3" style="font-size:3;">Output Impedance</font> </div></td>
<td colspan="2">
<div class="specValue"><font size="3" style="font-size:3;">1 k ohms</font> </div></td></tr>
<tr>
<td colspan="3">
<div class="hr-line"><font size="3" style="font-size:3;"><img height="1" alt="" src="http://www.bosscorp.co.jp/products/en/images/trans.gif" width="1" style="height:1px;width:1px;"></font> </div></td></tr>
<tr>
<td width="30%" style="width:30%;">
<div class="specName"><font size="3" style="font-size:3;">Recommended Load Impedance</font> </div></td>
<td colspan="2">
<div class="specValue"><font size="3" style="font-size:3;">10 k ohms or greater</font> </div></td></tr>
<tr>
<td colspan="3">
<div class="hr-line"><font size="3" style="font-size:3;"><img height="1" alt="" src="http://www.bosscorp.co.jp/products/en/images/trans.gif" width="1" style="height:1px;width:1px;"></font> </div></td></tr>
<tr>
<td width="30%" style="width:30%;">
<div class="specName"><font size="3" style="font-size:3;">Residual Noise Level </font></div></td>
<td colspan="2">
<div class="specValue"><font size="3" style="font-size:3;">-86 dBu (IHF-A, Typ.)</font> </div></td></tr>
<tr>
<td colspan="3">
<div class="hr-line"><font size="3" style="font-size:3;"><img height="1" alt="" src="http://www.bosscorp.co.jp/products/en/images/trans.gif" width="1" style="height:1px;width:1px;"></font> </div></td></tr>
<tr>
<td width="30%" style="width:30%;">
<div class="specName"><font size="3" style="font-size:3;">Connectors</font> </div></td>
<td colspan="2">
<div class="specValue"><font size="3" style="font-size:3;">INPUT Jack, OUTPUT Jack A (mono)/ B, AC Adaptor Jack (DC 9 V)</font> </div></td></tr>
<tr>
<td colspan="3">
<div class="hr-line"><font size="3" style="font-size:3;"><img height="1" alt="" src="http://www.bosscorp.co.jp/products/en/images/trans.gif" width="1" style="height:1px;width:1px;"></font> </div></td></tr>
<tr>
<td width="30%" style="width:30%;">
<div class="specName"><font size="3" style="font-size:3;">Power Supply</font> </div></td>
<td colspan="2">
<div class="specValue"><font size="3" style="font-size:3;">DC 9 V: Dry Battery 9 V type (6F22/9 V), AC Adaptor</font> </div></td></tr>
<tr>
<td colspan="3">
<div class="hr-line"><font size="3" style="font-size:3;"><img height="1" alt="" src="http://www.bosscorp.co.jp/products/en/images/trans.gif" width="1" style="height:1px;width:1px;"></font> </div></td></tr>
<tr>
<td width="30%" style="width:30%;">
<div class="specName"><font size="3" style="font-size:3;">Current Draw</font> </div></td>
<td colspan="2">
<div class="specValue"><font size="3" style="font-size:3;">22 mA (DC 9 V)</font> </div></td></tr>
<tr>
<td colspan="3">
<div class="hr-line"><font size="3" style="font-size:3;"><img height="1" alt="" src="http://www.bosscorp.co.jp/products/en/images/trans.gif" width="1" style="height:1px;width:1px;"></font> </div></td></tr>
<tr>
<td width="30%" style="width:30%;">
<div class="specName"><font size="3" style="font-size:3;">Accessories</font> </div></td>
<td colspan="2">
<div class="specValue"><font size="3" style="font-size:3;">Dry Battery 9 V type (6F22/9 V)</font> </div></td></tr>
<tr>
<td colspan="3">
<div class="hr-line"><font size="3" style="font-size:3;"><img height="1" alt="" src="http://www.bosscorp.co.jp/products/en/images/trans.gif" width="1" style="height:1px;width:1px;"></font> </div></td></tr>
<tr>
<td width="30%" style="width:30%;">
<div class="specName"><font size="3" style="font-size:3;">Options</font> </div></td>
<td colspan="2">
<div class="specValue"><font size="3" style="font-size:3;">AC Adaptor (PSA-Series)</font> </div></td></tr><!-- Dimension 1 --><!-- Dimension comment 1 -->
<tr>
<td><font size="3" style="font-size:3;"><br></font></td></tr>
<tr>
<td width="100%" bgcolor="#666666" colspan="3" style="width:100%;background-color:#666666;">
<div class="specSect"><font size="3" style="font-size:3;">Size and Weight ( incl. battery ) </font></div></td></tr>
<tr>
<td><font size="3" style="font-size:3;"><br></font></td></tr>
<tr>
<td width="30%" style="width:30%;">
<div class="specName"><font size="3" style="font-size:3;">Width</font> </div></td>
<td>
<div class="specValue"><font size="3" style="font-size:3;">73 mm</font> </div></td>
<td>
<div class="specValue"><font size="3" style="font-size:3;">2-7/8 inches</font> </div></td></tr>
<tr>
<td width="100%" colspan="3" style="width:100%;">
<div class="hr-line"><font size="3" style="font-size:3;"><img height="1" alt="" src="http://www.bosscorp.co.jp/images/trans.gif" width="1" style="height:1px;width:1px;"></font> </div></td></tr>
<tr>
<td width="30%" style="width:30%;">
<div class="specName"><font size="3" style="font-size:3;">Depth</font> </div></td>
<td>
<div class="specValue"><font size="3" style="font-size:3;">129 mm</font> </div></td>
<td>
<div class="specValue"><font size="3" style="font-size:3;">5-1/8 inches</font> </div></td></tr>
<tr>
<td width="100%" colspan="3" style="width:100%;">
<div class="hr-line"><font size="3" style="font-size:3;"><img height="1" alt="" src="http://www.bosscorp.co.jp/images/trans.gif" width="1" style="height:1px;width:1px;"></font> </div></td></tr>
<tr>
<td width="30%" style="width:30%;">
<div class="specName"><font size="3" style="font-size:3;">Height</font> </div></td>
<td>
<div class="specValue"><font size="3" style="font-size:3;">59 mm</font> </div></td>
<td>
<div class="specValue"><font size="3" style="font-size:3;">2-3/8 inches</font> </div></td></tr>
<tr>
<td width="100%" colspan="3" style="width:100%;">
<div class="hr-line"><font size="3" style="font-size:3;"><img height="1" alt="" src="http://www.bosscorp.co.jp/images/trans.gif" width="1" style="height:1px;width:1px;"></font> </div></td></tr>
<tr>
<td width="30%" style="width:30%;">
<div class="specName"><font size="3" style="font-size:3;">Weight</font> </div></td>
<td>
<div class="specValue"><font size="3" style="font-size:3;">0.5 kg</font> </div></td>
<td>
<div class="specValue"><font size="3" style="font-size:3;">1 lbs.</font> </div></td></tr></tbody></table><!-- "Descripcion" final --></td></tr></tbody></table></td>
<td id="RIGTH_EDENLP" width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"><br></td></tr>
<tr>
<td colspan="3">
<table cellspacing="0" cellpadding="0" width="750" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"><br></td>
<td align="middle" style="text-align:middle;"><img src="http://edenlp.com.ar/deremate/img_dr/visita.gif"><br>
<div align="center" style="text-align:center;"><borrad src="http://edenlp.com.ar/deremate/iframe.php?src=producto.html" frameborder="0" width="701" height="400" allowtransparency="" style="height:400px;width:701px;"> </borrad></div>
<p style="FONT-SIZE: 30px; COLOR: rgb(0,0,255);text-align:center;" align="center"><a href="http://www.deremate-inc.com/edenlp/" target="_blank" rel="nofollow"><strong>http://www.deremate-inc.com/edenlp/</strong></a> </p><img src="http://edenlp.com.ar/deremate/supervendedores.png"><br><img src="http://edenlp.com.ar/deremate/img_dr/revisa.gif" width="701" style="width:701px;"><br>
<div align="center" style="text-align:center;"><borrad src="http://edenlp.com.ar/deremate/comentarios.php" frameborder="0" width="701" height="400" allowtransparency="" style="height:400px;width:701px;"> </borrad></div></td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"><br></td></tr></tbody></table><img src="http://edenlp.com.ar/deremate/pie.jpg"> </td></tr></tbody></table><br><br><br>edenlp <br>Desde La Plata a TODO el pais <br>Mira todos nuestros productos en: <br>http://eshops.mercadolibre.com.ar/edenlp/ <br>ATENCION !! CONSULTAR STOCK ANTES DE OFERTAR <br>Todas las marcas y modelos en un solo sitio, edenlp?.. <br>GARANTIA OFICIAL DE 6 MESES <br>REPRESENTANTES OFIICALES DE <br>IBANEZ, GRACIA, GIBSON, FENDER Y MAS <br>Trabajamos con OCA contrareembolso (10% de recargo) <br>A contra dep&#xF3;sito sin recargo <br>VENTA ONLINE con tarjetas de cr&#xE9;dito <br>5 a&#xF1;os de experiencia en la venta ONLINE <br>ATENCION !!! ALGUNOS PRODUCTOS PUEDEN ESTAR DISCONTINUADOS, CONSULTAR STOCK ANTES DE OFERTAR <br><!---->
            