
                <h4>Descripci&#xF3;n:</h4>
                

<div id="itemEditDescrML">
<table id="TABLE_EDENLP" cellspacing="0" cellpadding="0" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="width: 750px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td colspan="3"><img src="http://edenlp.com.ar/deremate/banne.png" alt=""><br>
<table cellspacing="0" cellpadding="0" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="width: 750px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td bordercolor="#0000ff" align="middle" style="border-color:#0000ff;text-align:middle;">
<table cellspacing="0" cellpadding="0" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="width: 700px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_der.png" alt=""></td>
<td width="421" style="width:421px;">
<p align="center" style="text-align:center;"><img src="http://edenlp.com.ar/deremate/img_dr/edenlp.gif" alt=""><br><img src="http://edenlp.com.ar/deremate/local.jpg" width="421" alt="" style="width:421px;"><br><img src="http://edenlp.com.ar/deremate/logo.png" width="421" alt="" style="width:421px;"><br><img src="http://edenlp.com.ar/deremate/img_dr/pais.gif" alt=""><br><img src="http://edenlp.com.ar/deremate/representaciones.png" width="421" alt="" style="width:421px;"></p>
</td>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_izq.png" alt=""></td>
</tr>
</tbody>
</table>
<img src="http://edenlp.com.ar/deremate/img_dr/aceptamos.gif" width="701" alt="" style="width:701px;"><br><img src="http://edenlp.com.ar/deremate/dolar.php" alt=""><br><img src="http://edenlp.com.ar/deremate/img_dr/consulta.gif" width="701" alt="" style="width:701px;"></td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td id="LEFT_EDENLP" width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td id="PRODUCT_EDENLP" align="middle" width="701" style="text-align:middle;width:701px;">
<table bordercolor="#ff0000" cellspacing="0" cellpadding="0" align="center" border="2" style="width: 701px;border-color:#ff0000;text-align:center;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:2px;border-top:2px;border-bottom:2px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td align="middle" background="http://edenlp.com.ar/deremate/img_dr/fondo_p.gif" style="text-align:middle;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo_p.gif);"><!-- "Descripcion" inicio -->
<div style="text-align: center;"><span style="font-size: x-large;">Pedal De delay Ross DLY-503 ROS P/guitarra &#xA0;Edenlp</span></div>
<div style="text-align: center;"><span style="font-size: x-large;"><br></span></div>
<div style="text-align: center;"><img src="http://static.mercadoshops.com/jm/com.stores.framework.commons.imageproxy.ImgProxyServlet?v=i&amp;f=77726746-4489-1.jpg&amp;s=77726746&amp;item=4489"></div>
<div style="text-align: center;"></div>
<div style="text-align: center;">
<p>Los pedales Ross presentan una excelente relaci&#xF3;n precio/calidad que los hacen los elegidos de los guitarristas que sin invertir mucho dinero buscan explorar nuevos sonidos.</p>
<p><strong>Caracter&#xED;sticas:</strong></p>
<ul>
<li>Carcasa met&#xE1;lica de s&#xF3;lida construcci&#xF3;n</li>
<li>3 Perillas: Tiempo, Repetici&#xF3;n y Nivel</li>
<li>Funciona a bater&#xED;a de 9V. o a transformador (no inclu&#xED;do)</li>
<li>Led Indicador.</li>
<li>Switch met&#xE1;lico resistente.</li>
<li>True Bypass.</li>
<li>Topes de goma para minimizar deslizamientos.</li>
</ul>
</div>
<div style="text-align: center;"></div>
<div style="text-align: center;"></div>
<div style="text-align: center;"></div>
<!-- "Descripcion" final --></td>
</tr>
</tbody>
</table>
</td>
<td id="RIGTH_EDENLP" width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
<tr>
<td colspan="3">
<table cellspacing="0" cellpadding="0" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="width: 750px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="middle" style="text-align:middle;"><img src="http://edenlp.com.ar/deremate/img_dr/visita.gif" alt=""><br>
<div align="center" style="text-align:center;"></div>
<p style="font-size: 30px; color: #0000ff;text-align:center;" align="center"><a href="http://www.deremate-inc.com/edenlp/" target="_blank" rel="nofollow"><strong>http://www.deremate-inc.com/edenlp/</strong></a></p>
<img src="http://edenlp.com.ar/deremate/supervendedores.png" alt=""><br><img src="http://edenlp.com.ar/deremate/img_dr/revisa.gif" width="701" alt="" style="width:701px;"><br>
<div align="center" style="text-align:center;"></div>
</td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
<img src="http://edenlp.com.ar/deremate/pie.jpg" alt=""></td>
</tr>
</tbody>
</table>
GARANTIA OFICIAL DE 6 MESES <br>DESDE LA PLATA A TODO EL PAIS <br>TODAS LAS MARCAS Y MODELOS EN UN SOLO LUGAR edenlp <br>Desde La Plata a TODO el pais <br>Mira todos nuestros productos en: <br>http://eshops.mercadolibre.com.ar/edenlp/ <br>ATENCION !! CONSULTAR STOCK ANTES DE OFERTAR <br>Todas las marcas y modelos en un solo sitio, edenlp?.. <br>GARANTIA OFICIAL DE 6 MESES <br>REPRESENTANTES OFIICALES DE <br>IBANEZ, GRACIA, GIBSON, FENDER Y MAS <br>Trabajamos con OCA contrareembolso (10% de recargo) <br>A contra dep&#xF3;sito sin recargo <br>VENTA ONLINE con tarjetas de cr&#xE9;dito <br>5 a&#xF1;os de experiencia en la venta ONLINE <br>ATENCION !!! ALGUNOS PRODUCTOS PUEDEN ESTAR DISCONTINUADOS, CONSULTAR STOCK ANTES DE OFERTAR</div>
            