
                <h4>Descripci&#xF3;n:</h4>
                
<div id="itemEditDescrML">
<table cellspacing="0" cellpadding="0" border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" id="TABLE_EDENLP" style="width: 750px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td colspan="3"><img src="http://edenlp.com.ar/deremate/banne.png" alt=""><br>
<table cellspacing="0" cellpadding="0" border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" style="width: 750px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td background="http://edenlp.com.ar/deremate/izq.png" width="25" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" bordercolor="#0000FF" style="border-color:#0000FF;text-align:center;">
<table cellspacing="0" cellpadding="0" border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" style="width: 700px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_der.png" alt=""></td>
<td width="421" style="width:421px;">
<p align="center" style="text-align:center;"><img src="http://edenlp.com.ar/deremate/img_dr/edenlp.gif" alt=""><br> <img width="421" src="http://edenlp.com.ar/deremate/local.jpg" alt="" style="width:421px;"><br> <img width="421" src="http://edenlp.com.ar/deremate/logo.png" alt="" style="width:421px;"><br> <img src="http://edenlp.com.ar/deremate/img_dr/pais.gif" alt=""><br> <img width="421" src="http://edenlp.com.ar/deremate/representaciones.png" alt="" style="width:421px;"></p>
</td>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_izq.png" alt=""></td>
</tr>
</tbody>
</table>
<img width="701" src="http://edenlp.com.ar/deremate/img_dr/aceptamos.gif" alt="" style="width:701px;"><br> <img src="http://edenlp.com.ar/deremate/dolar.php" alt=""><br> <img width="701" src="http://edenlp.com.ar/deremate/img_dr/consulta.gif" alt="" style="width:701px;"></td>
<td background="http://edenlp.com.ar/deremate/der.jpg" width="24" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td background="http://edenlp.com.ar/deremate/izq.png" width="25" id="LEFT_EDENLP" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" width="701" id="PRODUCT_EDENLP" style="text-align:center;width:701px;">
<table cellspacing="0" cellpadding="0" bordercolor="#ff0000" border="2" align="center" style="width: 701px;border-color:#ff0000;text-align:center;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:2px;border-top:2px;border-bottom:2px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td background="http://edenlp.com.ar/deremate/img_dr/fondo_p.gif" align="center" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo_p.gif);"><!-- "Descripcion" inicio -->
<div style="text-align: center;"><span style="font-size: x-large;">Consola Mackie 802-VLZ3</span><br><br><img src="http://static.mercadoshops.com/jm/com.stores.framework.commons.imageproxy.ImgProxyServlet?v=i&amp;f=77726746-5156-1.jpg&amp;s=77726746&amp;item=5156"><br><br>
<p><span>We have the mixer for you&#x2014;the 8-channel 802-VLZ3. A professional compact mixer designed just to fit your needs, as well as your workspace, the 802-VLZ3 packs renowned VLZ3 quality into a tight, sleek package. Don&#x2019;t let the small size fool you&#x2014;the 802-VLZ3 is all pro, and all VLZ3. It boasts the same signature VLZ3 high headroom / low noise design that makes others in the series prized in studios and stages worldwide, including premium XDR2 preamps, an ultra-musical EQ and modern summing bus architecture. Ideal for home studio and on-the-go applications, the 802-VLZ3 makes premium mixing capabilities available for setups where space, and money, are tight. It&#x2019;s all the mixer you need, in a footprint that fits just about anywhere, at a price that fits your budget.</span></p>
<table border="0" cellpadding="0" cellspacing="0" id="outlineblue" style="width: 225px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td valign="top" width="18" align="center" style="text-align:center;width:18px;vertical-align:top;">
<div id="padding">&#x2022;</div>
</td>
<td width="207" style="width:207px;">
<div id="padding">Ultra-compact 8-channel mixer featuring Mackie VLZ3&#x2019;s signature low noise, high-headroom design</div>
</td>
</tr>
<tr>
<td valign="top" width="18" align="center" style="text-align:center;width:18px;vertical-align:top;">
<div id="padding">&#x2022;</div>
</td>
<td width="207" style="width:207px;">
<div id="padding">3 studio-grade XDR2&#x2122; Extended Dynamic Range mic preamps with:<br>- Ultra-wide 60dB gain range<br>- 130dB dynamic range<br>- +22dBu line input handling<br>- Extended low frequency response<br>- Distortion under 0.0007% (20Hz - 20kHz)<br>- Phantom power for studio condenser mics</div>
</td>
</tr>
<tr>
<td valign="top" width="18" align="center" style="text-align:center;width:18px;vertical-align:top;">
<div id="padding">&#x2022;</div>
</td>
<td width="207" style="width:207px;">
<div id="padding">8 high-headroom line inputs</div>
</td>
</tr>
<tr>
<td valign="top" width="18" align="center" style="text-align:center;width:18px;vertical-align:top;">
<div id="padding">&#x2022;</div>
</td>
<td width="207" style="width:207px;">
<div id="padding">Advanced DC pulse transformer RF rejection</div>
</td>
</tr>
<tr>
<td valign="top" width="18" align="center" style="text-align:center;width:18px;vertical-align:top;">
<div id="padding">&#x2022;</div>
</td>
<td width="207" style="width:207px;">
<div id="padding">Aux send, level, pan and PFL solo on each channel</div>
</td>
</tr>
<tr>
<td valign="top" width="18" align="center" style="text-align:center;width:18px;vertical-align:top;">
<div id="padding">&#x2022;</div>
</td>
<td width="207" style="width:207px;">
<div id="padding">Selectable Instrument inputs on first two channels &#x2013; no DI box needed</div>
</td>
</tr>
<tr>
<td valign="top" width="18" align="center" style="text-align:center;width:18px;vertical-align:top;">
<div id="padding">&#x2022;</div>
</td>
<td width="207" style="width:207px;">
<div id="padding">Stereo Return for connecting effects processor or other stereo source</div>
</td>
</tr>
<tr>
<td valign="top" width="18" align="center" style="text-align:center;width:18px;vertical-align:top;">
<div id="padding">&#x2022;</div>
</td>
<td width="207" style="width:207px;">
<div id="padding">3-Band Active EQ (80Hz, 2.5kHz, 12kHz)</div>
</td>
</tr>
<tr>
<td valign="top" width="18" align="center" style="text-align:center;width:18px;vertical-align:top;">
<div id="padding">&#x2022;</div>
</td>
<td width="207" style="width:207px;">
<div id="padding">18dB/oct. 100Hz Lo-Cut filter on Mic input channels</div>
</td>
</tr>
<tr>
<td valign="top" width="18" align="center" style="text-align:center;width:18px;vertical-align:top;">
<div id="padding">&#x2022;</div>
</td>
<td width="207" style="width:207px;">
<div id="padding">ALT 3/4 stereo bus for added versatility</div>
</td>
</tr>
<tr>
<td valign="top" width="18" align="center" style="text-align:center;width:18px;vertical-align:top;">
<div id="padding">&#x2022;</div>
</td>
<td width="207" style="width:207px;">
<div id="padding">Control Room/Phones source matrix</div>
</td>
</tr>
<tr>
<td valign="top" width="18" align="center" style="text-align:center;width:18px;vertical-align:top;">
<div id="padding">&#x2022;</div>
</td>
<td width="207" style="width:207px;">
<div id="padding">High-resolution 12-segment stereo meters</div>
</td>
</tr>
<tr>
<td valign="top" width="18" align="center" style="text-align:center;width:18px;vertical-align:top;">
<div id="padding">&#x2022;</div>
</td>
<td width="207" style="width:207px;">
<div id="padding">Sealed rotary controls to resist dust and grime</div>
</td>
</tr>
<tr>
<td valign="top" width="18" align="center" style="text-align:center;width:18px;vertical-align:top;">
<div id="padding">&#x2022;</div>
</td>
<td width="207" style="width:207px;">
<div id="padding">Sleek, rugged steel chassis</div>
</td>
</tr>
</tbody>
</table>
<br><br></div>
<!-- "Descripcion" final --></td>
</tr>
</tbody>
</table>
</td>
<td background="http://edenlp.com.ar/deremate/der.jpg" width="24" id="RIGTH_EDENLP" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
<tr>
<td colspan="3">
<table cellspacing="0" cellpadding="0" border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" style="width: 750px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td background="http://edenlp.com.ar/deremate/izq.png" width="25" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" style="text-align:center;"><img src="http://edenlp.com.ar/deremate/img_dr/visita.gif" alt=""><br>
<div align="center" style="text-align:center;"></div>
<p align="center" style="font-size: 30px; color: #0000ff;text-align:center;"><a target="_blank" href="http://eshops.deremate.com.ar/edenlp/" rel="nofollow"><strong>http://eshops.deremate.com.ar/edenlp/</strong></a></p>
<img src="http://edenlp.com.ar/deremate/supervendedores.png" alt=""><br> <img width="701" src="http://edenlp.com.ar/deremate/img_dr/revisa.gif" alt="" style="width:701px;"><br>
<div align="center" style="text-align:center;"></div>
</td>
<td background="http://edenlp.com.ar/deremate/der.jpg" width="24" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
<img src="http://edenlp.com.ar/deremate/pie.jpg" alt=""></td>
</tr>
</tbody>
</table>
</div>
            