
                <h4>Descripci&#xF3;n:</h4>
                <table cellspacing="0" cellpadding="0" width="750" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td colspan="3"><img src="http://edenlp.com.ar/deremate/banne.png" alt=""><br>
<table cellspacing="0" cellpadding="0" width="750" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td bordercolor="#0000ff" align="middle" style="border-color:#0000ff;text-align:middle;">
<table cellspacing="0" cellpadding="0" width="700" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:700px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_der.png" alt=""></td>
<td width="421" style="width:421px;">
<p align="center" style="text-align:center;"><img src="http://edenlp.com.ar/deremate/img_dr/edenlp.gif" alt=""><br><img src="http://edenlp.com.ar/deremate/local.jpg" width="421" alt="" style="width:421px;"><br><img src="http://edenlp.com.ar/deremate/logo.png" width="421" alt="" style="width:421px;"><br><img src="http://edenlp.com.ar/deremate/img_dr/pais.gif" alt=""><br><img src="http://edenlp.com.ar/deremate/representaciones.png" width="421" alt="" style="width:421px;"></p>
</td>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_izq.png" alt=""></td>
</tr>
</tbody>
</table>
<img src="http://edenlp.com.ar/deremate/img_dr/aceptamos.gif" width="701" alt="" style="width:701px;"><br><img src="http://edenlp.com.ar/deremate/dolar.php" alt=""><br><img src="http://edenlp.com.ar/deremate/img_dr/consulta.gif" width="701" alt="" style="width:701px;"></td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="middle" width="701" style="text-align:middle;width:701px;">
<table bordercolor="#ff0000" cellspacing="0" cellpadding="0" width="701" align="center" border="2" style="border-color:#ff0000;text-align:center;width:701px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:2px;border-top:2px;border-bottom:2px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td background="http://edenlp.com.ar/deremate/img_dr/fondo_p.gif" style="text-align: center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo_p.gif);">
<p><span style="font-size: x-large;">Handy Recorder Zoom H2 Stereo X/Y SD 2gb&#xA0;Edenlp</span></p>
<p><br><img src="https://mla-s2-p.mlstatic.com/626701-MLA20389472251_082015-C.jpg"></p>
<p><img src="https://mla-s1-p.mlstatic.com/612701-MLA20389471807_082015-C.jpg"></p>
<p><img src="https://mla-s2-p.mlstatic.com/474701-MLA20389471820_082015-C.jpg"></p>
<p><img src="https://mla-s1-p.mlstatic.com/519601-MLA20389472274_082015-C.jpg"></p>
<p>Representing a new generation of portable recording, the H2n is Zoom&#x2019;s most innovative handheld recorder to date. We&#x2019;ve packed groundbreaking features into an ultra-portable device that allows you to record pristine audio anywhere you go. From film and broadcast, to journalism, podcasting, musical performance, songwriting and rehearsal, the H2n provides amazing recording quality. No matter the application, the H2n brings the very best in stereo recording to a convenient, user-friendly package that fits in your pocket. Zoom H2n Handy Recorder. The new standard in portable recording.</p>
<p><br></p>
<div>SPECIFICATIONS</div>
<div></div>
<table>
<tbody>
<tr><th>Recording Media</th>
<td>SD/SDHC card (up to 32GB)</td>
</tr>
<tr><th>Built-in Mic</th>
<td>MS stereo &amp; 90-degree XY stereo</td>
</tr>
<tr><th>Maximum Sound Pressure Level</th>
<td>120dB SPL</td>
</tr>
<tr><th>Recording Format</th>
<td><strong>&#xAB;STEREO MODE&#xBB;</strong><br>PCM (Quantization : 16/24bit, Sampling Frequency : 44.1/48/96kHz),<br>MP3 (Bit Rate : 48 to 320kbps, Sampling Frequency : 44.1kHz)<br><strong>&#xAB;4CH MODE&#xBB;</strong><br>PCM (Quantization: 16/24bit, Sampling Frequency: 44.1/48kHz)</td>
</tr>
<tr><th>A/D Conversion</th>
<td>24bit, 128times oversampling</td>
</tr>
<tr><th>D/A Conversion</th>
<td>24bit, 128times oversampling</td>
</tr>
<tr><th>Signal Processing</th>
<td>32bit</td>
</tr>
<tr><th>Functions</th>
<td>Lo-cut Filter, Compressor/Limiter, Auto Gain, Pre-Rec, Auto-Rec, Tuner,Metronome, Variable Speed Playback, Key Control, A-B Repeat,File Dividing, Normalize, MP3 Post-Encode, Marker, Surround Mixer</td>
</tr>
<tr><th>Display</th>
<td>128 x 64 pixel, backlit LCD</td>
</tr>
<tr><th>Input Gain</th>
<td>0 to +39dB</td>
</tr>
<tr><th>Mic / Line Input</th>
<td>1/8&quot; stereo phone jack (Plug-in power supported)</td>
</tr>
<tr><th>Input impedance</th>
<td>2k&#x3A9; (Input level: 0 to -39dBm)</td>
</tr>
<tr><th>Phones / Line Output</th>
<td>1/8&quot; stereo phone jack</td>
</tr>
<tr><th>Rated Output Level</th>
<td>-10dBm</td>
</tr>
<tr><th>Output Load Impedance</th>
<td>10k&#x3A9; or more</td>
</tr>
<tr><th>Phones Output Level</th>
<td>20mW + 20mW into 32&#x3A9; load</td>
</tr>
<tr><th>Built-in Speaker</th>
<td>400mW 8&#x3A9;</td>
</tr>
<tr><th>USB</th>
<td>Mini-B type, Mass Storage Class operation (USB2.0 High Speed compatible),<br>Audio Interface operation (16bit, 44.1kHz/48kHz)</td>
</tr>
<tr><th>Power Requirements</th>
<td>AA/LR6 battery x 2, or AC adapter AD-17 (DC5V/1A/center positive)</td>
</tr>
<tr><th>Battery Life</th>
<td>20 hours (16bit/44.1kHz WAV recording)</td>
</tr>
<tr><th>Dimensions</th>
<td>67.6 (W) x 113.8 (D) x 42.7 (H) mm</td>
</tr>
<tr><th>Weight</th>
<td>130g (without batteries)</td>
</tr>
</tbody>
</table>
<div>*0dBm=0.775Vrms</div>
<div>Included Accessories</div>
<div>
<div><br>SD Memory Card (2GB)</div>
<div><br>2 AA Batteries(for testing the unit)</div>
</div>
<p><br></p>
<div>Built-in Mic, Frequency Response</div>
<p><br></p>
</td>
</tr>
</tbody>
</table>
</td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
<tr>
<td colspan="3">
<table cellspacing="0" cellpadding="0" width="750" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="middle" style="text-align:middle;"><img src="http://edenlp.com.ar/deremate/img_dr/visita.gif" alt=""><br>
<div align="center" style="text-align:center;"></div>
<p style="font-size: 30px; color: #0000ff;text-align:center;" align="center"><a href="http://www.deremate-inc.com/edenlp/" target="_blank" rel="nofollow &quot;nofollow&quot;"><strong>http://www.deremate-inc.com/edenlp/</strong></a></p>
<img src="http://edenlp.com.ar/deremate/supervendedores.png" alt=""><br><img src="http://edenlp.com.ar/deremate/img_dr/revisa.gif" width="701" alt="" style="width:701px;"><br>
<div align="center" style="text-align:center;"></div>
</td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
<img src="http://edenlp.com.ar/deremate/pie.jpg" alt=""></td>
</tr>
</tbody>
</table>
<p><br><br><br><br>GARANTIA OFICIAL DE 6 MESES <br>DESDE LA PLATA A TODO EL PAIS <br>TODAS LAS MARCAS Y MODELOS EN UN SOLO LUGAR <br>edenlp? <br>edenlp <br>Desde La Plata a TODO el pais <br>Mira todos nuestros productos en: <br>http://eshops.mercadolibre.com.ar/edenlp/ <br>ATENCION !! CONSULTAR STOCK ANTES DE OFERTAR <br>Todas las marcas y modelos en un solo sitio, edenlp?.. <br>GARANTIA OFICIAL DE 6 MESES <br>REPRESENTANTES OFIICALES DE <br>IBANEZ, GRACIA, GIBSON, FENDER Y MAS <br>Trabajamos con OCA contrareembolso (10% de recargo) <br>A contra dep&#xF3;sito sin recargo <br>VENTA ONLINE con tarjetas de cr&#xE9;dito <br>5 a&#xF1;os de experiencia en la venta ONLINE <br>ATENCION !!! ALGUNOS PRODUCTOS PUEDEN ESTAR DISCONTINUADOS, CONSULTAR STOCK ANTES DE OFERTAR</p>
            