
                <h4>Descripci&#xF3;n:</h4>
                <div id="itemEditDescrML">
<table border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" width="750" cellspacing="0" cellpadding="0" id="TABLE_EDENLP" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td colspan="3"><img alt="" src="http://edenlp.com.ar/deremate/banne.png"><br>
<table border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" width="750" cellspacing="0" cellpadding="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td background="http://edenlp.com.ar/deremate/izq.png" width="25" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" bordercolor="#0000FF" style="border-color:#0000FF;text-align:center;">
<table border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" width="700" cellspacing="0" cellpadding="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:700px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="139" style="width:139px;"><img alt="" src="http://edenlp.com.ar/deremate/img.php?src=img_der.png"></td>
<td width="421" style="width:421px;">
<p align="center" style="text-align:center;"><img alt="" src="http://edenlp.com.ar/deremate/img_dr/edenlp.gif"><br> <img width="421" alt="" src="http://edenlp.com.ar/deremate/local.jpg" style="width:421px;"><br> <img width="421" alt="" src="http://edenlp.com.ar/deremate/logo.png" style="width:421px;"><br> <img alt="" src="http://edenlp.com.ar/deremate/img_dr/pais.gif"><br> <img width="421" alt="" src="http://edenlp.com.ar/deremate/representaciones.png" style="width:421px;"></p>
</td>
<td width="139" style="width:139px;"><img alt="" src="http://edenlp.com.ar/deremate/img.php?src=img_izq.png"></td>
</tr>
</tbody>
</table>
<img width="701" alt="" src="http://edenlp.com.ar/deremate/img_dr/aceptamos.gif" style="width:701px;"><br> <img alt="" src="http://edenlp.com.ar/deremate/dolar.php"><br> <img width="701" alt="" src="http://edenlp.com.ar/deremate/img_dr/consulta.gif" style="width:701px;"></td>
<td background="http://edenlp.com.ar/deremate/der.jpg" width="24" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td background="http://edenlp.com.ar/deremate/izq.png" width="25" id="LEFT_EDENLP" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" width="701" id="PRODUCT_EDENLP" style="text-align:center;width:701px;">
<table bordercolor="#FF0000" border="2" align="center" width="701" cellspacing="0" cellpadding="0" style="border-color:#FF0000;text-align:center;width:701px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:2px;border-top:2px;border-bottom:2px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td background="http://edenlp.com.ar/deremate/img_dr/fondo_p.gif" align="center" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo_p.gif);"><!-- "Descripcion" inicio -->
<div style="text-align: center;"><span style="font-size: x-large;">Bafle Wharfedale Pro 15&quot; DELTA15&#xA0;Edenlp</span></div>
<div style="text-align: center;"></div>
<div style="text-align: center;"><img src="https://mla-s2-p.mlstatic.com/386301-MLA20308829775_052015-C.jpg"></div>
<div style="text-align: center;"><span>Delta 15 is the largest 2 way speaker in the range. Featuring a 2&#x201D; titanium voice coil combined with a 15&#x201D; low distortion cast frame woofer, the loudspeaker generates 450 watts RMS of power spanning a full range sound of 50Hz &#x2013; 20kHz while the 90 x 60 waveguides ensure a long-throw projection.</span></div>
<div style="text-align: center;"><span><br></span></div>
<div style="text-align: center;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_spec" style="width:100%;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td>Configuration</td>
<td>2-Way</td>
</tr>
<tr class="even">
<td>Frequency Response (+/- 3dB)</td>
<td>65Hz - 20KHz</td>
</tr>
<tr>
<td>Power (RMS / Program / Peak)</td>
<td>300W / 600W / 1200W</td>
</tr>
<tr class="even">
<td>Impedance</td>
<td>8&#x3A9;</td>
</tr>
<tr>
<td>Max SPL</td>
<td>128dB</td>
</tr>
<tr class="even">
<td>Woofer</td>
<td>15&quot;</td>
</tr>
<tr>
<td>Tweeter</td>
<td>2&quot; Titanium</td>
</tr>
<tr class="even">
<td>Waveguide Type</td>
<td>Elliptical</td>
</tr>
<tr>
<td>Input</td>
<td>2 x Speakon</td>
</tr>
<tr class="even">
<td>Net Weight</td>
<td>16.58kg / 36.5lbs</td>
</tr>
<tr>
<td>Gross Weight</td>
<td>19.5kg / 43lbs</td>
</tr>
<tr class="even">
<td>Dimensions (H x W x D)</td>
<td>500mm x 338/212.4mm x 330</td>
</tr>
</tbody>
</table>
</div>
<div style="text-align: center;"></div>
<div style="text-align: center;"><span style="font-size: x-large;"><br></span></div>
<div style="text-align: center;"></div>
<div style="text-align: center;"></div>
<!-- "Descripcion" final --></td>
</tr>
</tbody>
</table>
</td>
<td background="http://edenlp.com.ar/deremate/der.jpg" width="24" id="RIGTH_EDENLP" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
<tr>
<td colspan="3">
<table border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" width="750" cellspacing="0" cellpadding="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td background="http://edenlp.com.ar/deremate/izq.png" width="25" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" style="text-align:center;"><img alt="" src="http://edenlp.com.ar/deremate/img_dr/visita.gif"><br>
<div align="center" style="text-align:center;"></div>
<p align="center" style="font-size: 30px; color: #0000ff;text-align:center;"><a href="http://eshops.deremate.com.ar/edenlp/" target="_blank" rel="nofollow"><strong>http://eshops.deremate.com.ar/edenlp/</strong></a></p>
<img alt="" src="http://edenlp.com.ar/deremate/supervendedores.png"><br> <img width="701" alt="" src="http://edenlp.com.ar/deremate/img_dr/revisa.gif" style="width:701px;"><br>
<div align="center" style="text-align:center;"></div>
</td>
<td background="http://edenlp.com.ar/deremate/der.jpg" width="24" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
<img alt="" src="http://edenlp.com.ar/deremate/pie.jpg"></td>
</tr>
</tbody>
</table>
</div>
            