
                <h4>Descripci&#xF3;n:</h4>
                
<div id="itemEditDescrML">
<table id="TABLE_EDENLP" cellspacing="0" cellpadding="0" width="750" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td colspan="3"><img src="http://edenlp.com.ar/deremate/banne.png" alt=""><br>
<table cellspacing="0" cellpadding="0" width="750" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td bordercolor="#0000ff" align="middle" style="border-color:#0000ff;text-align:middle;">
<table cellspacing="0" cellpadding="0" width="700" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:700px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_der.png" alt=""></td>
<td width="421" style="width:421px;">
<p align="center" style="text-align:center;"><img src="http://edenlp.com.ar/deremate/img_dr/edenlp.gif" alt=""><br><img src="http://edenlp.com.ar/deremate/local.jpg" width="421" alt="" style="width:421px;"><br><img src="http://edenlp.com.ar/deremate/logo.png" width="421" alt="" style="width:421px;"><br><img src="http://edenlp.com.ar/deremate/img_dr/pais.gif" alt=""><br><img src="http://edenlp.com.ar/deremate/representaciones.png" width="421" alt="" style="width:421px;"></p>
</td>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_izq.png" alt=""></td>
</tr>
</tbody>
</table>
<img src="http://edenlp.com.ar/deremate/img_dr/aceptamos.gif" width="701" alt="" style="width:701px;"><br><img src="http://edenlp.com.ar/deremate/dolar.php" alt=""><br><img src="http://edenlp.com.ar/deremate/img_dr/consulta.gif" width="701" alt="" style="width:701px;"></td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td id="LEFT_EDENLP" width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td id="PRODUCT_EDENLP" align="middle" width="701" style="text-align:middle;width:701px;">
<table bordercolor="#ff0000" cellspacing="0" cellpadding="0" width="701" align="center" border="2" style="border-color:#ff0000;text-align:center;width:701px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:2px;border-top:2px;border-bottom:2px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td align="middle" background="http://edenlp.com.ar/deremate/img_dr/fondo_p.gif" style="text-align:middle;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo_p.gif);"><!-- "Descripcion" inicio -->
<p></p>
<p style="text-align: center;"><span style="font-size: x-large;">Escobillas Zildjian SDWBZB1</span></p>
<p style="text-align: center;"><span style="font-size: x-large;"> Metalica Professional retractil</span></p>
<p style="text-align: center;"><span style="font-size: x-large;"><br></span></p>
<p style="text-align: center;"><span style="font-size: x-large;"><img src="http://mla-s1-p.mlstatic.com/8600-MLA20005863020_112013-C.jpg"></span></p>
<ul class="a-vertical a-spacing-none">
<li><span class="a-list-item">Position the wires on ZIldjian&apos;s retractable brushes all the way out for a quieter, more traditional brush sound, or pull them in incrementally for added volume and articulation.</span></li>
<li><span class="a-list-item">Position the wires on ZIldjian&apos;s retractable brushes all the way out for a quieter, more traditional brush sound</span></li>
<li><span class="a-list-item">Position the wires on ZIldjian&apos;s retractable brushes all the way out for a quieter</span></li>
<li><span class="a-list-item">More traditional brush sound, or pull them in incrementally for added volume and articulation.</span></li>
</ul>
<p style="text-align: center;"><span style="font-size: x-large;"><br></span></p>
<!-- "Descripcion" final --></td>
</tr>
</tbody>
</table>
</td>
<td id="RIGTH_EDENLP" width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
<tr>
<td colspan="3">
<table cellspacing="0" cellpadding="0" width="750" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="middle" style="text-align:middle;"><img src="http://edenlp.com.ar/deremate/img_dr/visita.gif" alt=""><br>
<div align="center" style="text-align:center;"></div>
<p style="font-size: 30px; color: #0000ff;text-align:center;" align="center"><a href="http://www.deremate-inc.com/edenlp/" target="_blank" rel="nofollow"><strong>http://www.deremate-inc.com/edenlp/</strong></a></p>
<img src="http://edenlp.com.ar/deremate/supervendedores.png" alt=""><br><img src="http://edenlp.com.ar/deremate/img_dr/revisa.gif" width="701" alt="" style="width:701px;"><br>
<div align="center" style="text-align:center;"></div>
</td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
<img src="http://edenlp.com.ar/deremate/pie.jpg" alt=""></td>
</tr>
</tbody>
</table>
<br><br><br><br><br><br>GARANTIA OFICIAL DE 6 MESES <br>DESDE LA PLATA A TODO EL PAIS <br>TODAS LAS MARCAS Y MODELOS EN UN SOLO LUGAR <br>edenlp? <br>edenlp <br>Desde La Plata a TODO el pais <br>Mira todos nuestros productos en: <br>http://eshops.mercadolibre.com.ar/edenlp/ <br>ATENCION !! CONSULTAR STOCK ANTES DE OFERTAR <br>Todas las marcas y modelos en un solo sitio, edenlp?.. <br>GARANTIA OFICIAL DE 6 MESES <br>REPRESENTANTES OFIICALES DE <br>IBANEZ, GRACIA, GIBSON, FENDER Y MAS <br>Trabajamos con OCA contrareembolso (10% de recargo) <br>A contra dep&#xF3;sito sin recargo <br>VENTA ONLINE con tarjetas de cr&#xE9;dito <br>5 a&#xF1;os de experiencia en la venta ONLINE <br>ATENCION !!! ALGUNOS PRODUCTOS PUEDEN ESTAR DISCONTINUADOS, CONSULTAR STOCK ANTES DE OFERTAR</div>
            