
                <h4>Descripci&#xF3;n:</h4>
                
<div id="itemEditDescrML">
<table id="TABLE_EDENLP" cellspacing="0" cellpadding="0" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="width: 750px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td colspan="3"><img alt="" src="http://edenlp.com.ar/deremate/banne.png"><br>
<table cellspacing="0" cellpadding="0" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="width: 750px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td bordercolor="#0000ff" align="center" style="border-color:#0000ff;text-align:center;">
<table cellspacing="0" cellpadding="0" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="width: 700px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="139" style="width:139px;"><img alt="" src="http://edenlp.com.ar/deremate/img.php?src=img_der.png"></td>
<td width="421" style="width:421px;">
<p align="center" style="text-align:center;"><img alt="" src="http://edenlp.com.ar/deremate/img_dr/edenlp.gif"><br><img width="421" alt="" src="http://edenlp.com.ar/deremate/local.jpg" style="width:421px;"><br><img width="421" alt="" src="http://edenlp.com.ar/deremate/logo.png" style="width:421px;"><br><img alt="" src="http://edenlp.com.ar/deremate/img_dr/pais.gif"><br><img width="421" alt="" src="http://edenlp.com.ar/deremate/representaciones.png" style="width:421px;"></p>
</td>
<td width="139" style="width:139px;"><img alt="" src="http://edenlp.com.ar/deremate/img.php?src=img_izq.png"></td>
</tr>
</tbody>
</table>
<img width="701" alt="" src="http://edenlp.com.ar/deremate/img_dr/aceptamos.gif" style="width:701px;"><br><img alt="" src="http://edenlp.com.ar/deremate/dolar.php"><br><img width="701" alt="" src="http://edenlp.com.ar/deremate/img_dr/consulta.gif" style="width:701px;"></td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td id="LEFT_EDENLP" width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td id="PRODUCT_EDENLP" align="center" width="701" style="text-align:center;width:701px;">
<table bordercolor="#ff0000" cellspacing="0" cellpadding="0" align="center" border="2" style="width: 701px;border-color:#ff0000;text-align:center;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:2px;border-top:2px;border-bottom:2px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo_p.gif" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo_p.gif);">
<p><span style="font-size: x-small;"><!-- "Descripcion" inicio --></span></p>
<div style="text-align: center;"><span style="font-size: x-large;">Teclado Korg PA600 Professional Arranger 61 teclas</span></div>
<div style="text-align: center;"></div>
<div style="text-align: center;"></div>
<div style="text-align: center;"><img src="http://img2.mlstatic.com/s_MLA_v_O_f_4804264842_082013.jpg"></div>
<div style="text-align: center;">
<h2><span face="Arial" style="font-family: Arial;">Pa600<br>Professional Arranger</span></h2>
<br><span size="2" face="arial" style="font-family: arial; font-size: small;"><span size="2" face="arial" style="font-family: arial; font-size: small;">The Pa600 is an affordable, compact, and powerful addition to Korg&#x2019;s internationally acclaimed PA series. Providing you with the most up-to-date collection of quality sound and styles combined, the PA600 is a perfect songwriting and performance partner. It even has the option to include custom sound and performance sets (sold separately) from around the world - a true first!&#xA0;<br><br><b>Listen and Believe.<br><br>Pa600 Features:</b><br></span></span>
<ul>
<li>Enhanced RX (Real eXperience) and DNC (Defined Nuance Control) sound engine offers improved realism and vivid sound.</li>
<li>Massive internal Factory PCM provides an extraordinarily powerful wave memory, delivering amazingly high quality sounds.</li>
<li>Two assignable switches and a four-way joystick ensure total control for the many available levels of sound articulation (DNC).</li>
<li>Two versions of Pa600 are available: International and Quarter Tone button variations. Both feature an elegantly designed and compact cabinet, including a pristine amplification system.</li>
<li>Large, bright, backlit TouchView&#x2122; color TFT display (800x480).</li>
<li>Easy layout and intuitive graphical interface with new Search function for easy retrieval of any musical resource or file.&#xA0;</li>
<li>New resource selection feature with copy/paste, rename and delete.</li>
<li>Over 360 factory Styles, each including three Intros/Endings, four variations and four Fill In + Break, plus ten Favorite and three User banks for storage of your favorite customized or user created Styles.&#xA0;</li>
<li>Enhanced Guitar Mode 2 for even more realistic guitar parts, plus synchronized pads.</li>
<li>Chord Sequencer function that can record any chord progression on-the-fly.</li>
<li>Improved General Midi set for Standard Midi Files, compatibility with popular lyric formats including graphical (+G), plus Text Viewer, Marker and Score.</li>
<li>MP3 player with Transpose and Tempo Change.</li>
<li>4 Stereo Master Effects (125 FX algorithms).</li>
<li>Fully programmable SongBook database based on Styles, SMF, karaoke, and MP3, with instant recall of any song setting and user-definable custom lists.</li>
<li>Localized Pa600 and Pa600QT data (sold separately) provides Sounds and Styles relevant to specific countries and regions.<br><br></li>
<li>Includes accessory DVD with USB-MIDI drivers, video manual, and additional Style content, including the complete &quot;Real Drums&quot; and &quot;Turkish/Arabic World&quot; collections</li>
</ul>
<span size="2" face="arial" style="font-family: arial; font-size: small;"><br>The Pa600 is a brilliant Professional Arranger that distills the sonic essence and functionality of the Pa series into a compact and affordable new instrument. Like its big brothers - the Pa800 and the Pa3X - the Pa600 uses our RX (Real eXperience) and DNC (Defined Nuance Control) technology to deliver sound quality that&#x2019;s unprecedented in an arranger keyboard. With its new compact cabinet, large TFT color TouchView display, enormous factory and user PCM memory, huge style database and excellent amplification system, Korg has raised the standard of excellence in the entry-level price range. Listen and Believe.&#xA0;</span></div>
<div style="text-align: center;"></div>
</td>
</tr>
</tbody>
</table>
</td>
<td id="RIGTH_EDENLP" width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
<tr>
<td colspan="3">
<table cellspacing="0" cellpadding="0" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="width: 750px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" style="text-align:center;"><img alt="" src="http://edenlp.com.ar/deremate/img_dr/visita.gif"><br>
<div align="center" style="text-align:center;"></div>
<p align="center" style="font-size: 30px; color: #0000ff;text-align:center;"><a target="_blank" href="http://eshops.deremate.com.ar/edenlp/" rel="nofollow"><strong>http://eshops.deremate.com.ar/edenlp/</strong></a></p>
<img alt="" src="http://edenlp.com.ar/deremate/supervendedores.png"><br><img width="701" alt="" src="http://edenlp.com.ar/deremate/img_dr/revisa.gif" style="width:701px;"><br>
<div align="center" style="text-align:center;"></div>
</td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
<img alt="" src="http://edenlp.com.ar/deremate/pie.jpg"></td>
</tr>
</tbody>
</table>
</div>
            