
                <h4>Descripci&#xF3;n:</h4>
                
<div id="itemEditDescrML">
<table cellspacing="0" cellpadding="0" border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" width="750" id="TABLE_EDENLP" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td colspan="3"><img src="http://edenlp.com.ar/deremate/banne.png" alt=""><br>
<table cellspacing="0" cellpadding="0" border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" width="750" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td background="http://edenlp.com.ar/deremate/izq.png" width="25" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" bordercolor="#0000FF" style="border-color:#0000FF;text-align:center;">
<table cellspacing="0" cellpadding="0" border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" width="700" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:700px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_der.png" alt=""></td>
<td width="421" style="width:421px;">
<p align="center" style="text-align:center;"><img src="http://edenlp.com.ar/deremate/img_dr/edenlp.gif" alt=""><br> <img width="421" src="http://edenlp.com.ar/deremate/local.jpg" alt="" style="width:421px;"><br> <img width="421" src="http://edenlp.com.ar/deremate/logo.png" alt="" style="width:421px;"><br> <img src="http://edenlp.com.ar/deremate/img_dr/pais.gif" alt=""><br> <img width="421" src="http://edenlp.com.ar/deremate/representaciones.png" alt="" style="width:421px;"></p>
</td>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_izq.png" alt=""></td>
</tr>
</tbody>
</table>
<img width="701" src="http://edenlp.com.ar/deremate/img_dr/aceptamos.gif" alt="" style="width:701px;"><br> <img src="http://edenlp.com.ar/deremate/dolar.php" alt=""><br> <img width="701" src="http://edenlp.com.ar/deremate/img_dr/consulta.gif" alt="" style="width:701px;"></td>
<td background="http://edenlp.com.ar/deremate/der.jpg" width="24" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td background="http://edenlp.com.ar/deremate/izq.png" width="25" id="LEFT_EDENLP" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" width="701" id="PRODUCT_EDENLP" style="text-align:center;width:701px;">
<table cellspacing="0" cellpadding="0" bordercolor="#ff0000" border="2" align="center" width="701" style="border-color:#ff0000;text-align:center;width:701px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:2px;border-top:2px;border-bottom:2px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td background="http://edenlp.com.ar/deremate/img_dr/fondo_p.gif" align="center" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo_p.gif);"><!-- "Descripcion" inicio -->
<div style="text-align: center;"><span style="font-size: 30px;">Microfono Pastilla P/guit Ds Pickups<br> Ds12 Cool Vintage&#xA0;<br></span><br><img src="http://www.mercadolibre.com.ar/jm/img?s=MLA&amp;f=2834179949_062012.jpg&amp;v=P&amp;t=T&amp;sll=713889" align="absmiddle" alt="" style="text-align:absmiddle;"></div>
<div style="text-align: center;"><span style="font-size: 30px;"><span style="font-size: 30px;"></span></span>
<table border="0" cellpadding="0" cellspacing="0" width="477" style="width:477px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;"><colgroup><col width="81" style="width:81px;"> <col width="396" style="width:396px;"> </colgroup>
<tbody>
<tr height="17" style="height:17px;">
<td height="17" class="xl65" width="81" style="height:17px;width:81px;">DS12-N</td>
<td class="xl67" width="396" style="width:396px;">Cool Neck&#xA0;&#xA0;</td>
</tr>
<tr height="17" style="height:17px;">
<td height="17" class="xl65" style="height:17px;">DS12-M</td>
<td class="xl67">Cool Middle&#xA0;</td>
</tr>
<tr height="17" style="height:17px;">
<td height="17" class="xl65" style="height:17px;">DS12-B</td>
<td class="xl67">Cool Bridge&#xA0;</td>
</tr>
</tbody>
</table>
<span style="font-size: 30px;"><br><span face="Arial, Helvetica, sans-serif" style="font-family: Arial, Helvetica, sans-serif;"><b>SOMOS DISTRIBUIDORES OFICIALES<br>TIEMPO DE ENTREGA 7 A 10 D&#xCD;AS</b></span></span><span size="2" face="Arial, Helvetica, sans-serif" style="font-family: Arial, Helvetica, sans-serif; font-size: small;"><b><br><br></b></span>
<p></p>
<p align="left" style="text-align: -webkit-left; background-color: #000000;"><span><span><span><span color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif" style="color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: small;"><b>APLICACIONES&#xA0;</b></span><span color="#999999" size="2" face="Arial, Helvetica, sans-serif" style="color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: small;"><br></span><span color="#999999" size="2" style="color: #999999; font-size: small;"><span color="#C0C0C0" face="Arial, Helvetica, sans-serif" style="color: #c0c0c0; font-family: Arial, Helvetica, sans-serif;">-&#xA0;</span><span color="#C0C0C0" size="2" style="color: #c0c0c0; font-size: small;"><span face="Arial, Helvetica, sans-serif" style="font-family: Arial, Helvetica, sans-serif;">Micr&#xF3;fono&#xA0;<b><i><span color="#FFFFFF" style="color: #ffffff;">Simple Bobina&#xA0;</span></i></b><span color="#FFFFFF" style="color: #ffffff;"><i><b>Vintage</b></i></span>&#xA0;de&#xA0;<i><b><span color="#FFFFFF" style="color: #ffffff;">ALNICO II</span></b></i>&#xA0;<br>(<i>vintage-correct true single-coil</i>)&#xA0;</span></span><span color="#C0C0C0" face="Arial, Helvetica, sans-serif" style="color: #c0c0c0; font-family: Arial, Helvetica, sans-serif;"><br>- Recomendado para estilos jazz, pop, rock, blues, ska, surf, etc.</span></span></span></span></span></p>
<p style="text-align: -webkit-left; background-color: #000000;"><span><span><span><span color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif" style="color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: small;"><b>DESCRIPCION</b></span><span color="#999999" size="2" face="Arial, Helvetica, sans-serif" style="color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: small;"><br><b><span color="#C0C0C0" style="color: #c0c0c0;">-&#xA0;</span></b><span color="#C0C0C0" style="color: #c0c0c0;">El modelo&#xA0;<span color="#FFFFFF" style="color: #ffffff;"><b>COOL</b></span><b><span color="#FFFFFF" style="color: #ffffff;">&#xA0;</span></b>es un micr&#xF3;fono simple bobina de tonalidades c&#xE1;lidas, suaves y definidas producidas por la combinaci&#xF3;n de n&#xFA;cleos de ALNICO II y una bobina con un n&#xFA;mero de vueltas moderado.<br></span><span color="#999999" size="2" face="Arial, Helvetica, sans-serif" style="color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: small;"><span color="#C0C0C0" size="2" face="Arial, Helvetica, sans-serif" style="color: #c0c0c0; font-family: Arial, Helvetica, sans-serif; font-size: small;"><b>-&#xA0;</b>Extremadamente sensible al ataque de las cuerdas por estar bobinado directamente sobre los n&#xFA;cleos de ALNICO II, este modelo es ideal para aquellos m&#xFA;sicos interesados en obtener tanto un sonido dulce y cristalino en limpio, como distorsiones producidas desde la ganancia del amplificador m&#xE1;s que desde el propio micr&#xF3;fono.</span></span><span color="#C0C0C0" style="color: #c0c0c0;">&#xA0;<br></span><span color="#999999" size="2" face="Arial, Helvetica, sans-serif" style="color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: small;"><span color="#C0C0C0" style="color: #c0c0c0;">- Al disminuir la atracci&#xF3;n de las cuerdas por el tipo de imantaci&#xF3;n, este micr&#xF3;fono aporta menor nivel de salida que otros modelos de ALNICO V pero mayor&#xA0;<i>sustain</i>&#xA0;al instrumento!</span></span><span color="#C0C0C0" style="color: #c0c0c0;"><br></span><span color="#999999" size="2" face="Arial, Helvetica, sans-serif" style="color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: small;"><span color="#999999" size="2" face="Arial, Helvetica, sans-serif" style="color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: small;"><span color="#C0C0C0" style="color: #c0c0c0;">- En comparaci&#xF3;n con el modelo GYPSY y BLUES, este micr&#xF3;fono ofrece un sonido m&#xE1;s redondeado, medioso y &quot;cool&quot; aunque sin perder definici&#xF3;n (escuchar clips de audio)<br><br></span></span></span></span></span></span></span></p>
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="width:100%;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td colspan="2" valign="top" height="205" style="height:205px;vertical-align:top;">
<p><span color="#C0C0C0" size="2" face="Arial, Helvetica, sans-serif" style="color: #c0c0c0; font-family: Arial, Helvetica, sans-serif; font-size: small;">&#xA0;Se combina perfectamente con cualquiera de los otros modelos Single-Coil&#xA0;<i>&quot;Vintage&quot;</i>&#xA0;en sus diversas posiciones.<b>&#xA0;<br>-&#xA0;</b>Dise&#xF1;ado para adaptarse a guitarras Stratocaster &#x2013; separaci&#xF3;n entre cuerdas 52,5mm.<br><b>-&#xA0;</b></span><span size="2" face="Arial, Helvetica, sans-serif" color="#999999" style="color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: small;"><span color="#C0C0C0" style="color: #c0c0c0;">Base de fibra de vidrio (circuito impreso) con insertos de bronce est&#xE1;ndar de rosca 6/32&quot;</span></span><span face="Arial, Helvetica, sans-serif" size="2" color="#C0C0C0" style="color: #c0c0c0; font-family: Arial, Helvetica, sans-serif; font-size: small;">.&#xA0;<br></span><span color="#999999" size="2" face="Arial, Helvetica, sans-serif" style="color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: small;"><span color="#C0C0C0" style="color: #c0c0c0;">- Equipado con cobertura de hilo parafinado que refuerza la est&#xE9;tica&#xA0;<i>vintage!</i></span></span><span color="#C0C0C0" size="2" face="Arial, Helvetica, sans-serif" style="color: #c0c0c0; font-family: Arial, Helvetica, sans-serif; font-size: small;"><br>- Tornillos + tubos de l&#xE1;tex para una &#xF3;ptima calibraci&#xF3;n del micr&#xF3;fono.&#xA0;<br><b>-&#xA0;</b>Manualmente ensamblado.<br><b>-&#xA0;</b>Micr&#xF3;fono parafinado al vac&#xED;o para eliminar retroalimentaciones y acoples indeseados.&#xA0;<br><b>-&#xA0;</b>Incluye todos los accesorios de instalaci&#xF3;n y manual de instrucciones + diagrama de conexionado.&#xA0;<br></span><span color="#CCCCCC" style="color: #cccccc;"><span color="#FFFFFF" style="color: #ffffff;"><span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC" style="color: #cccccc; font-family: Arial, Helvetica, sans-serif; font-size: small;">- Presentaci&#xF3;n en caja de cedro lustrado con tapa de acr&#xED;lico.</span></span></span></p>
<p><span color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif" style="color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: small;"><b>GUITARRAS</b></span><span color="#999999" size="2" face="Arial, Helvetica, sans-serif" style="color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: small;"><br><b><span color="#C0C0C0" style="color: #c0c0c0;">-&#xA0;</span></b><span color="#C0C0C0" style="color: #c0c0c0;">Recomendado para guitarras con cuerpos &quot;c&#xE1;lidos&quot; como alder, ash, basswood, etc.&#xA0;<br>- Funciona adecuadamente con diapasones de maple, guatamb&#xFA;, palisandro y jacarand&#xE1;.&#xA0;<br></span></span></p>
<p><span color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif" style="color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: small;"><b>MODELOS DISPONIBLES</b></span><span color="#999999" size="2" face="Arial, Helvetica, sans-serif" style="color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: small;"><br><b><span color="#FFFFFF" style="color: #ffffff;">-&#xA0;</span></b><span color="#FFFFFF" style="color: #ffffff;">Tres versiones: neck (DS12-N), middle (DS12-M) y bridge</span><span color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif" style="color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: small;">&#xA0;(DS12-B)&#xA0;</span><span color="#C0C0C0" style="color: #c0c0c0;"><br><b>-&#xA0;</b>El modelo COOL MIDDLE presenta bobinado + polaridad invertida para cancelaci&#xF3;n de ruido en las posiciones 2 y 4 de la llave selectora de cinco posiciones.<br>- El modelo COOL BRIDGE es compensado con un 5% m&#xE1;s de medios-graves para obtener mayor agresividad en la posici&#xF3;n del puente.&#xA0;<br></span></span></p>
</td>
</tr>
<tr>
<td width="62%" height="48" style="height:48px;width:62%;">
<div align="center" style="text-align:center;"><span color="#999999" size="3" face="Arial, Helvetica, sans-serif" style="color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: medium;"><b><br></b></span>
<table width="93%" border="1" cellspacing="0" cellpadding="0" bordercolor="#666666" style="border-color:#666666;width:93%;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:1px;border-top:1px;border-bottom:1px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td>
<div align="center" style="text-align:center;"><span color="#999999" size="3" face="Arial, Helvetica, sans-serif" style="color: #999999; font-family: Arial, Helvetica, sans-serif; font-size: medium;"><b><span color="#F2DF86" style="color: #f2df86;">Especificaciones T&#xE9;cnicas</span></b></span></div>
</td>
</tr>
</tbody>
</table>
</div>
<span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC" style="color: #cccccc; font-family: Arial, Helvetica, sans-serif; font-size: small;"><b><span color="#F2DF86" style="color: #f2df86;">&#x2022;</span>&#xA0;</b></span><span size="2" color="#C0C0C0" face="Arial, Helvetica, sans-serif" style="color: #c0c0c0; font-family: Arial, Helvetica, sans-serif; font-size: small;">Resistencia:<br>6,6 K ohms (neck y middle) y 7,0 K ohms (bridge)<br></span><span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC" style="color: #cccccc; font-family: Arial, Helvetica, sans-serif; font-size: small;"><b><span color="#F2DF86" style="color: #f2df86;">&#x2022;</span>&#xA0;</b></span><span size="2" color="#C0C0C0" face="Arial, Helvetica, sans-serif" style="color: #c0c0c0; font-family: Arial, Helvetica, sans-serif; font-size: small;">ALNICO II<br></span><span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC" style="color: #cccccc; font-family: Arial, Helvetica, sans-serif; font-size: small;"><b><span color="#F2DF86" style="color: #f2df86;">&#x2022;</span>&#xA0;</b></span><span size="2" color="#C0C0C0" face="Arial, Helvetica, sans-serif" style="color: #c0c0c0; font-family: Arial, Helvetica, sans-serif; font-size: small;">Cancelaci&#xF3;n de ruido = No<br></span><span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC" style="color: #cccccc; font-family: Arial, Helvetica, sans-serif; font-size: small;"><b><span color="#F2DF86" style="color: #f2df86;">&#x2022;</span>&#xA0;</b></span><span size="2" color="#C0C0C0" face="Arial, Helvetica, sans-serif" style="color: #c0c0c0; font-family: Arial, Helvetica, sans-serif; font-size: small;">Frecuencia de resonancia:<br>3,9 KHz (neck-middle) y 3,6 KHz (bridge)<br></span><span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC" style="color: #cccccc; font-family: Arial, Helvetica, sans-serif; font-size: small;"><b><span color="#F2DF86" style="color: #f2df86;">&#x2022;</span>&#xA0;</b></span><span size="2" color="#C0C0C0" face="Arial, Helvetica, sans-serif" style="color: #c0c0c0; font-family: Arial, Helvetica, sans-serif; font-size: small;">Salida: moderada</span></td>
</tr>
</tbody>
</table>
<p></p>
</div>
<!-- "Descripcion" final --></td>
</tr>
</tbody>
</table>
</td>
<td background="http://edenlp.com.ar/deremate/der.jpg" width="24" id="RIGTH_EDENLP" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
<tr>
<td colspan="3">
<table cellspacing="0" cellpadding="0" border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" width="750" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td background="http://edenlp.com.ar/deremate/izq.png" width="25" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" style="text-align:center;"><img src="http://edenlp.com.ar/deremate/img_dr/visita.gif" alt=""><br>
<div align="center" style="text-align:center;"></div>
<p align="center" style="font-size: 30px; color: #0000ff;text-align:center;"><a target="_blank" href="http://eshops.deremate.com.ar/edenlp/" rel="nofollow"><strong>http://eshops.deremate.com.ar/edenlp/</strong></a></p>
<img src="http://edenlp.com.ar/deremate/supervendedores.png" alt=""><br> <img width="701" src="http://edenlp.com.ar/deremate/img_dr/revisa.gif" alt="" style="width:701px;"><br>
<div align="center" style="text-align:center;"></div>
</td>
<td background="http://edenlp.com.ar/deremate/der.jpg" width="24" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
<img src="http://edenlp.com.ar/deremate/pie.jpg" alt=""></td>
</tr>
</tbody>
</table>
</div>
            