
                <h4>Descripci&#xF3;n:</h4>
                
<div id="itemEditDescrML">
<table id="TABLE_EDENLP" border="0" align="center" cellpadding="0" cellspacing="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" style="width: 750px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td colspan="3"><img src="http://edenlp.com.ar/deremate/banne.png" alt=""><br>
<table border="0" cellspacing="0" cellpadding="0" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" style="width: 750px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td bordercolor="#0000FF" align="center" style="border-color:#0000FF;text-align:center;">
<table border="0" cellspacing="0" cellpadding="0" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" style="width: 700px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_der.png" alt=""></td>
<td width="421" style="width:421px;">
<p align="center" style="text-align:center;"><img src="http://edenlp.com.ar/deremate/img_dr/edenlp.gif" alt=""><br> <img src="http://edenlp.com.ar/deremate/local.jpg" width="421" alt="" style="width:421px;"><br> <img src="http://edenlp.com.ar/deremate/logo.png" width="421" alt="" style="width:421px;"><br> <img src="http://edenlp.com.ar/deremate/img_dr/pais.gif" alt=""><br> <img src="http://edenlp.com.ar/deremate/representaciones.png" width="421" alt="" style="width:421px;"></p>
</td>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_izq.png" alt=""></td>
</tr>
</tbody>
</table>
<img src="http://edenlp.com.ar/deremate/img_dr/aceptamos.gif" width="701" alt="" style="width:701px;"><br> <img src="http://edenlp.com.ar/deremate/dolar.php" alt=""><br> <img src="http://edenlp.com.ar/deremate/img_dr/consulta.gif" width="701" alt="" style="width:701px;"></td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td id="LEFT_EDENLP" width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td id="PRODUCT_EDENLP" width="701" align="center" style="text-align:center;width:701px;">
<table border="2" align="center" cellpadding="0" cellspacing="0" bordercolor="#FF0000" style="width: 701px;border-color:#FF0000;text-align:center;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:2px;border-top:2px;border-bottom:2px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo_p.gif" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo_p.gif);"><!-- "Descripcion" inicio -->
<div style="text-align: center;"><span style="font-size: x-large;">Bafle/Monitor DB TECHNOLOGIES ARENA&#xA0;10<br> 300w RMS/600w Prog</span><br><br></div>
<div style="text-align: center;"><img src="https://www.mercadolibre.com/jm/img?s=MLA&amp;v=O&amp;t=T&amp;f=3131925919_092012.jpg&amp;sll=894248"></div>
<div style="text-align: center;"></div>
<div style="text-align: center;">
<div>
<p>The 10&#x201C; woofer and the 1&#x201C; driver with rotatable 90&#xB0;x70&#xB0; constant&#xA0;directivity horn, can handle up to 300W/RMS and are able to put out up&#xA0;to 125dB spl. ARENA 10 offers a superb sound quality and can be used&#xA0;as a standard fullrange enclosure (at reduced low frequency reproduction)&#xA0;or in combination with the ARENA SW15 subwoofer. Due to the&#xA0;extensive configuration and sound performance the ARENA 10 is one&#xA0;of a kind.</p>
</div>
<p></p>
<div class="shotup"></div>
<div class="shotdown"></div>
<h3 class="bgcat">Specifications</h3>
<h3>Technical data</h3>
<table class="productinfo">
<tbody>
<tr>
<td class="label">Speaker Type</td>
<td class="value">2-Way Passive Speaker</td>
</tr>
</tbody>
</table>
<h3>Acoustical data</h3>
<table class="productinfo">
<tbody>
<tr>
<td class="label">Nominal Power Rating</td>
<td class="value">300 W/RMS</td>
</tr>
<tr>
<td class="label">Peak Power Rating</td>
<td class="value">600 W/RMS</td>
</tr>
<tr>
<td class="label">Impedance</td>
<td class="value">8 Ohms</td>
</tr>
<tr>
<td class="label">Frequency Response [+/- 3dB]</td>
<td class="value">95 - 19.000 Hz</td>
</tr>
<tr>
<td class="label">Max SPL</td>
<td class="value">125 dB</td>
</tr>
<tr>
<td class="label">HF</td>
<td class="value">1 &quot;</td>
</tr>
<tr>
<td class="label">Driver Protection</td>
<td class="value">PTC</td>
</tr>
<tr>
<td class="label">Directivity</td>
<td class="value">90x70 &#xB0;</td>
</tr>
<tr>
<td class="label">Horn</td>
<td class="value">CD Horn</td>
</tr>
<tr>
<td class="label">Rotatable Horn</td>
<td class="value">Yes</td>
</tr>
<tr>
<td class="label">Crossover Frequency (passive)</td>
<td class="value">2100 Hz</td>
</tr>
<tr>
<td class="label">Slope MF-HF</td>
<td class="value">18 dB/Octave</td>
</tr>
<tr>
<td class="label">LF</td>
<td class="value">10 &quot;</td>
</tr>
<tr>
<td class="label">Voice Coil LF</td>
<td class="value">2 &quot;</td>
</tr>
</tbody>
</table>
<h3>Input Section</h3>
<table class="productinfo">
<tbody>
<tr>
<td class="label">Signal Input</td>
<td class="value">1x Speakon<br>Pin 1+=+<br>Pin 1-=-</td>
</tr>
<tr>
<td class="label">Signal Output</td>
<td class="value">1x Speakon<br>Pin 1+=+<br>Pin 1-=-</td>
</tr>
</tbody>
</table>
<h3>Mechanics</h3>
<table class="productinfo">
<tbody>
<tr>
<td class="label">Housing</td>
<td class="value">Multiplex birch plywood</td>
</tr>
<tr>
<td class="label">Housing Design</td>
<td class="value">Multifunctional</td>
</tr>
<tr>
<td class="label">Color</td>
<td class="value">Black</td>
</tr>
<tr>
<td class="label">Surface Texture</td>
<td class="value">Textured acrylic lacquer</td>
</tr>
<tr>
<td class="label">Handles</td>
<td class="value">1x on back</td>
</tr>
<tr>
<td class="label">Pole Mount</td>
<td class="value">36mm</td>
</tr>
<tr>
<td class="label">Angles Up</td>
<td class="value">Monitor use 45 &#xB0;</td>
</tr>
<tr>
<td class="label">Front Grille</td>
<td class="value">Metall grille with acoustic foam in front</td>
</tr>
<tr>
<td class="label">Rigging Points</td>
<td class="value">12 x M8</td>
</tr>
<tr>
<td class="label">Width</td>
<td class="value">321 mm (12.84 in)</td>
</tr>
<tr>
<td class="label">Height</td>
<td class="value">508 mm (20.32 in)</td>
</tr>
<tr>
<td class="label">Depth</td>
<td class="value">320 mm (12.8 in)</td>
</tr>
<tr>
<td class="label">Weight</td>
<td class="value">12.2 kg (26.9 lbs)</td>
</tr>
</tbody>
</table>
</div>
<div style="text-align: center;"></div>
</td>
</tr>
</tbody>
</table>
</td>
<td id="RIGTH_EDENLP" width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
<tr>
<td colspan="3">
<table border="0" align="center" cellpadding="0" cellspacing="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" style="width: 750px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" style="text-align:center;"><img src="http://edenlp.com.ar/deremate/img_dr/visita.gif" alt=""><br>
<div align="center" style="text-align:center;"></div>
<p align="center" style="font-size: 30px; color: #0000ff;text-align:center;"><a href="http://eshops.deremate.com.ar/edenlp/" target="_blank" rel="nofollow"><strong>http://eshops.deremate.com.ar/edenlp/</strong></a></p>
<img src="http://edenlp.com.ar/deremate/supervendedores.png" alt=""><br> <img src="http://edenlp.com.ar/deremate/img_dr/revisa.gif" width="701" alt="" style="width:701px;"><br>
<div align="center" style="text-align:center;"></div>
</td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
<img src="http://edenlp.com.ar/deremate/pie.jpg" alt=""></td>
</tr>
</tbody>
</table>
</div>
            