
                <h4>Descripci&#xF3;n:</h4>
                
<div id="itemEditDescrML">
<table cellspacing="0" cellpadding="0" border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" width="750" id="TABLE_EDENLP" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td colspan="3"><img src="http://edenlp.com.ar/deremate/banne.png" alt=""><br>
<table cellspacing="0" cellpadding="0" border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" width="750" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td background="http://edenlp.com.ar/deremate/izq.png" width="25" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" bordercolor="#0000FF" style="border-color:#0000FF;text-align:center;">
<table cellspacing="0" cellpadding="0" border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" width="700" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:700px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_der.png" alt=""></td>
<td width="421" style="width:421px;">
<p align="center" style="text-align:center;"><img src="http://edenlp.com.ar/deremate/img_dr/edenlp.gif" alt=""><br> <img width="421" src="http://edenlp.com.ar/deremate/local.jpg" alt="" style="width:421px;"><br> <img width="421" src="http://edenlp.com.ar/deremate/logo.png" alt="" style="width:421px;"><br> <img src="http://edenlp.com.ar/deremate/img_dr/pais.gif" alt=""><br> <img width="421" src="http://edenlp.com.ar/deremate/representaciones.png" alt="" style="width:421px;"></p>
</td>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_izq.png" alt=""></td>
</tr>
</tbody>
</table>
<img width="701" src="http://edenlp.com.ar/deremate/img_dr/aceptamos.gif" alt="" style="width:701px;"><br> <img src="http://edenlp.com.ar/deremate/dolar.php" alt=""><br> <img width="701" src="http://edenlp.com.ar/deremate/img_dr/consulta.gif" alt="" style="width:701px;"></td>
<td background="http://edenlp.com.ar/deremate/der.jpg" width="24" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td background="http://edenlp.com.ar/deremate/izq.png" width="25" id="LEFT_EDENLP" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" width="701" id="PRODUCT_EDENLP" style="text-align:center;width:701px;">
<table cellspacing="0" cellpadding="0" bordercolor="#ff0000" border="2" align="center" width="701" style="border-color:#ff0000;text-align:center;width:701px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:2px;border-top:2px;border-bottom:2px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td background="http://edenlp.com.ar/deremate/img_dr/fondo_p.gif" align="center" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo_p.gif);"><!-- "Descripcion" inicio -->
<div style="text-align: center;"><span style="font-size: x-large;">Microfono Pastilla Ds Pickups</span></div>
<div style="text-align: center;"><span style="font-size: x-large;"> Ds33-td Hambucker Ah1-td oro</span></div>
<div style="text-align: center;"><span style="font-size: x-large;">MODELO COLOR DORADO</span></div>
<div style="text-align: center;"><span style="font-size: x-large;"><br></span></div>
<div style="text-align: center;"><img src="https://mla-s1-p.mlstatic.com/263001-MLA20261501534_032015-C.jpg" style="font-size: x-large;"></div>
<div style="text-align: center;"><span style="font-size: x-large;"><br></span></div>
<div style="text-align: center;"></div>
<div style="text-align: center;"><span style="font-size: x-large; color: #000000;"><span style="font-size: x-large;"><span size="2" face="Arial, Helvetica, sans-serif" color="#999999" style="font-family: Arial, Helvetica, sans-serif; font-size: small;color:#999999;"><span color="#FFFFFF" style="color:#FFFFFF;"><b>APLICACIONES</b>&#xA0;</span><br><b><span color="#C0C0C0" style="color:#C0C0C0;">-&#xA0;</span></b><span color="#C0C0C0" style="color:#C0C0C0;"><span face="Arial, Helvetica, sans-serif" size="2" style="font-family: Arial, Helvetica, sans-serif; font-size: small;">Vers&#xE1;til mic doble bobina tipo P.A.F.</span>&#xA0;en ALNICO V.<br><b>-</b>&#xA0;Ideal para estilos country, reggae, blues, funk, pop, rock y jazz.</span></span></span></span>
<p><span style="color: #000000;"><span color="#FFFFFF" face="Arial, Helvetica, sans-serif" size="2" style="font-family: Arial, Helvetica, sans-serif; font-size: small;color:#FFFFFF;"><b>DESCRIPCION&#xA0;</b></span><span color="#999999" face="Arial, Helvetica, sans-serif" size="2" style="font-family: Arial, Helvetica, sans-serif; font-size: small;color:#999999;"><br></span><span color="#C0C0C0" style="color:#C0C0C0;"><span face="Arial, Helvetica, sans-serif" size="2" style="font-family: Arial, Helvetica, sans-serif; font-size: small;"><span color="#999999" style="color:#999999;"><span color="#C0C0C0" style="color:#C0C0C0;"><b>-</b></span></span>&#xA0;Humbucker con&#xA0;<b><span color="#FFFFFF" style="color:#FFFFFF;">cobertor de ALPACA / Nickel Silver&#xA0;</span></b>como los tradicionales P.A.F Gibson!<br>- C&#xE1;lidos y cristalinos tonos de gran definici&#xF3;n.<br>- Micr&#xF3;fono balanceado en graves-medios-agudos.<br>- Precisa distorsi&#xF3;n con ataque y sensibilidad, aunque conservando gran&#xA0;<i>sustain</i>.&#xA0;<br><span color="#999999" style="color:#999999;"><span color="#C0C0C0" style="color:#C0C0C0;"><b>-</b></span></span>&#xA0;Puede ser instalado junto a un AH2-T para obtener un 10-15% m&#xE1;s de &quot;cuerpo&quot; en la posici&#xF3;n del puente o un AH3-T para lograr un sonido aun m&#xE1;s potente y agresivo!<br><span color="#999999" style="color:#999999;"><span color="#C0C0C0" style="color:#C0C0C0;"><b>-</b>&#xA0;Doble parafinado en c&#xE1;mara de vacio para evitar acoples indeseados.<br>- Extra silencioso gracias al cobertor que rodea ambas bobinas.<br>- Logo de DS estampado a cu&#xF1;o para lograr m&#xE1;xima calidad de presentaci&#xF3;n y durabilidad a trav&#xE9;s del tiempo.&#xA0;<br><span face="Arial, Helvetica, sans-serif" size="2" style="font-family: Arial, Helvetica, sans-serif; font-size: small;"><span color="#999999" style="color:#999999;"><b><span color="#C0C0C0" style="color:#C0C0C0;">-</span></b><span color="#C0C0C0" style="color:#C0C0C0;">&#xA0;F-Spaced (51mm)&#xA0;</span></span></span></span></span><br></span><span color="#C0C0C0" style="color:#C0C0C0;"><span face="Arial, Helvetica, sans-serif" size="2" style="font-family: Arial, Helvetica, sans-serif; font-size: small;"><span color="#999999" style="color:#999999;"><span color="#C0C0C0" style="color:#C0C0C0;"><b>-</b>&#xA0;Manualmente ensamblado</span></span></span></span><span face="Arial, Helvetica, sans-serif" size="2" style="font-family: Arial, Helvetica, sans-serif; font-size: small;"><br><span color="#999999" style="color:#999999;"><span color="#C0C0C0" style="color:#C0C0C0;"><span face="Arial, Helvetica, sans-serif" size="2" style="font-family: Arial, Helvetica, sans-serif; font-size: small;"><span color="#999999" style="color:#999999;"><span color="#C0C0C0" style="color:#C0C0C0;"><b>-</b></span></span>&#xA0;Easy-connector system&#xAE;&#xA0;<br><span face="Arial, Helvetica, sans-serif" size="2" style="font-family: Arial, Helvetica, sans-serif; font-size: small;"><span face="Arial, Helvetica, sans-serif" size="2" style="font-family: Arial, Helvetica, sans-serif; font-size: small;"><span color="#999999" style="color:#999999;"><span color="#C0C0C0" style="color:#C0C0C0;"><span face="Arial, Helvetica, sans-serif" size="2" style="font-family: Arial, Helvetica, sans-serif; font-size: small;"><span color="#999999" style="color:#999999;"><span color="#C0C0C0" style="color:#C0C0C0;"><span face="Arial, Helvetica, sans-serif" size="2" style="font-family: Arial, Helvetica, sans-serif; font-size: small;"><span color="#999999" style="color:#999999;"><span color="#C0C0C0" style="color:#C0C0C0;"><b>-</b></span></span></span></span></span></span>&#xA0;Circuito impreso + base de fibra de vidrio&#xA0;</span></span><span color="#C0C0C0" size="2" face="Arial, Helvetica, sans-serif" style="font-family: Arial, Helvetica, sans-serif; font-size: small;color:#C0C0C0;">con insertos de bronce + tornillos 3/32&quot; ranurados.</span></span></span><span color="#C0C0C0" style="color:#C0C0C0;"><br><b>-</b>&#xA0;Incluye todos los accesorios de instalaci&#xF3;n y manual de instrucciones.<br></span><span color="#CCCCCC" style="color:#CCCCCC;"><span color="#FFFFFF" style="color:#FFFFFF;"><span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC" style="font-family: Arial, Helvetica, sans-serif; font-size: small;color:#CCCCCC;">- Packaging en caja de cedro lustrado con tapa de acr&#xED;lico.</span></span></span></span></span></span></span></span></span></p>
<p></p>
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="width:100%;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td colspan="2" valign="top" height="44" style="height:44px;vertical-align:top;">
<p><span style="color: #000000;"><span color="#FFFFFF" face="Arial, Helvetica, sans-serif" size="2" style="font-family: Arial, Helvetica, sans-serif; font-size: small;color:#FFFFFF;"><b>GUITARRAS</b></span><span color="#999999" face="Arial, Helvetica, sans-serif" size="2" style="font-family: Arial, Helvetica, sans-serif; font-size: small;color:#999999;"><br><b><span color="#C0C0C0" style="color:#C0C0C0;">-</span></b><span color="#C0C0C0" style="color:#C0C0C0;">&#xA0;Excelente para instrumentos de maderas semi-duras. Funciona especialmente bien en cuerpos de caoba y diapasones de palisandro.</span></span></span></p>
<p><span style="color: #000000;"><span color="#FFFFFF" face="Arial, Helvetica, sans-serif" size="2" style="font-family: Arial, Helvetica, sans-serif; font-size: small;color:#FFFFFF;"><b>MODELOS DISPONIBLES</b></span><span color="#999999" face="Arial, Helvetica, sans-serif" size="2" style="font-family: Arial, Helvetica, sans-serif; font-size: small;color:#999999;"><br><b><span color="#FFFFFF" style="color:#FFFFFF;">-</span></b><span color="#FFFFFF" style="color:#FFFFFF;">&#xA0;&#xDA;nica versi&#xF3;n (DS33-T) para ambas posiciones m&#xE1;stil (neck) y puente (bridge)&#xA0;</span><span color="#C0C0C0" style="color:#C0C0C0;"><br><span color="#FFFFFF" style="color:#FFFFFF;">- Opciones de cobertor:&#xA0;<b>natural, oro 24K, niquel negro</b></span><br><b>-</b>&#xA0;Cable de 4-conductores + malla para una amplia variedad de conexiones.</span></span></span></p>
</td>
</tr>
<tr>
<td width="60%" height="54" style="height:54px;width:60%;">
<div align="center" style="text-align:center;">
<table width="89%" border="1" cellspacing="0" cellpadding="0" bordercolor="#666666" style="border-color:#666666;width:89%;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:1px;border-top:1px;border-bottom:1px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td valign="top" style="vertical-align:top;">
<div align="center" style="text-align:center;"><span color="#999999" size="3" face="Arial, Helvetica, sans-serif" style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: medium;"><b><span color="#F2DF86" style="color:#F2DF86;">Especificaciones T&#xE9;cnicas</span></b></span></div>
</td>
</tr>
</tbody>
</table>
</div>
<p><span style="color: #000000;"><span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC" style="font-family: Arial, Helvetica, sans-serif; font-size: small;color:#CCCCCC;"><b><span color="#F2DF86" style="color:#F2DF86;">&#x2022;</span>&#xA0;<span color="#F2DF86" style="color:#F2DF86;"></span></b></span><span size="2" color="#C0C0C0" face="Arial, Helvetica, sans-serif" style="font-family: Arial, Helvetica, sans-serif; font-size: small;color:#C0C0C0;">Resistencia 7,95 K ohms&#xA0;<br></span><span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC" style="font-family: Arial, Helvetica, sans-serif; font-size: small;color:#CCCCCC;"><b><span color="#F2DF86" style="color:#F2DF86;">&#x2022;</span>&#xA0;<span color="#F2DF86" style="color:#F2DF86;"></span></b></span><span size="2" color="#C0C0C0" face="Arial, Helvetica, sans-serif" style="font-family: Arial, Helvetica, sans-serif; font-size: small;color:#C0C0C0;">Imantaci&#xF3;n: Barra Alnico V<br></span><span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC" style="font-family: Arial, Helvetica, sans-serif; font-size: small;color:#CCCCCC;"><b><span color="#F2DF86" style="color:#F2DF86;">&#x2022;</span>&#xA0;<span color="#F2DF86" style="color:#F2DF86;"></span></b></span><span size="2" color="#C0C0C0" face="Arial, Helvetica, sans-serif" style="font-family: Arial, Helvetica, sans-serif; font-size: small;color:#C0C0C0;">Cancelaci&#xF3;n de ruido = S&#xED;<br><span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC" style="font-family: Arial, Helvetica, sans-serif; font-size: small;color:#CCCCCC;"><b><span color="#F2DF86" style="color:#F2DF86;">&#x2022;</span>&#xA0;<span color="#F2DF86" style="color:#F2DF86;"></span></b></span><span color="#CCCCCC" style="color:#CCCCCC;">Frecuencia de resonancia 3,1 KHz.&#xA0;</span><br></span><span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC" style="font-family: Arial, Helvetica, sans-serif; font-size: small;color:#CCCCCC;"><b><span color="#F2DF86" style="color:#F2DF86;">&#x2022;</span>&#xA0;<span color="#F2DF86" style="color:#F2DF86;"></span></b></span><span size="2" color="#C0C0C0" face="Arial, Helvetica, sans-serif" style="font-family: Arial, Helvetica, sans-serif; font-size: small;color:#C0C0C0;">Nivel de Salida:&#xA0;</span><span color="#C0C0C0" face="Arial, Helvetica, sans-serif" size="-1" style="font-family: Arial, Helvetica, sans-serif;color:#C0C0C0;font-size:-1;">moderado</span></span></p>
</td>
</tr>
</tbody>
</table>
<p><span color="#C0C0C0" style="color: #c0c0c0;"><span face="Arial, Helvetica, sans-serif" size="2" style="font-family: Arial, Helvetica, sans-serif; font-size: small;"><span color="#999999" style="color: #999999;"><span color="#C0C0C0" style="color: #c0c0c0;"><span face="Arial, Helvetica, sans-serif" size="2" style="font-family: Arial, Helvetica, sans-serif; font-size: small;"><span color="#CCCCCC" style="color: #cccccc;"><span color="#FFFFFF" style="color: #ffffff;"><span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC" style="color: #cccccc; font-family: Arial, Helvetica, sans-serif; font-size: small;"><br></span></span></span></span></span></span></span></span></p>
</div>
<!-- "Descripcion" final --></td>
</tr>
</tbody>
</table>
</td>
<td background="http://edenlp.com.ar/deremate/der.jpg" width="24" id="RIGTH_EDENLP" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
<tr>
<td colspan="3">
<table cellspacing="0" cellpadding="0" border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" width="750" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td background="http://edenlp.com.ar/deremate/izq.png" width="25" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" style="text-align:center;"><img src="http://edenlp.com.ar/deremate/img_dr/visita.gif" alt=""><br>
<div align="center" style="text-align:center;"></div>
<p align="center" style="font-size: 30px; color: #0000ff;text-align:center;"><a target="_blank" href="http://eshops.deremate.com.ar/edenlp/" rel="nofollow"><strong>http://eshops.deremate.com.ar/edenlp/</strong></a></p>
<img src="http://edenlp.com.ar/deremate/supervendedores.png" alt=""><br> <img width="701" src="http://edenlp.com.ar/deremate/img_dr/revisa.gif" alt="" style="width:701px;"><br>
<div align="center" style="text-align:center;"></div>
</td>
<td background="http://edenlp.com.ar/deremate/der.jpg" width="24" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
<img src="http://edenlp.com.ar/deremate/pie.jpg" alt=""></td>
</tr>
</tbody>
</table>
</div>
            