
                <h4>Descripci&#xF3;n:</h4>
                
<table id="TABLE_EDENLP" cellspacing="0" cellpadding="0" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="width: 750px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td colspan="3"><img src="http://edenlp.com.ar/deremate/banne.png"><br>
<table cellspacing="0" cellpadding="0" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="width: 750px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td bordercolor="#0000ff" align="middle" style="border-color:#0000ff;text-align:middle;">
<table cellspacing="0" cellpadding="0" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="width: 700px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_der.png"></td>
<td width="421" style="width:421px;">
<p align="center" style="text-align:center;"><img src="http://edenlp.com.ar/deremate/img_dr/edenlp.gif"><br><img src="http://edenlp.com.ar/deremate/local.jpg" width="421" style="width:421px;"><br><img src="http://edenlp.com.ar/deremate/logo.png" width="421" style="width:421px;"><br><img src="http://edenlp.com.ar/deremate/img_dr/pais.gif"><br><img src="http://edenlp.com.ar/deremate/representaciones.png" width="421" style="width:421px;"></p>
</td>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_izq.png"></td>
</tr>
</tbody>
</table>
<img src="http://edenlp.com.ar/deremate/img_dr/aceptamos.gif" width="701" style="width:701px;"><br><img src="http://edenlp.com.ar/deremate/dolar.php"><br><img src="http://edenlp.com.ar/deremate/img_dr/consulta.gif" width="701" style="width:701px;"></td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td id="LEFT_EDENLP" width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td id="PRODUCT_EDENLP" align="middle" width="701" style="text-align:middle;width:701px;">
<table bordercolor="#ff0000" cellspacing="0" cellpadding="0" align="center" border="2" style="width: 701px;border-color:#ff0000;text-align:center;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:2px;border-top:2px;border-bottom:2px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td align="middle" background="http://edenlp.com.ar/deremate/img_dr/fondo_p.gif" style="text-align:middle;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo_p.gif);"><!-- "Descripcion" inicio -->
<p><span style="font-size: x-large;">Micro Mooer Alimentador / transformador multiple&#xA0;</span></p>
<p><span style="font-size: x-large;"><br></span></p>
<p><span style="font-size: x-large;"><img src="https://a248.e.akamai.net/mla-s2-p.mlstatic.com/17824-MLA20145063227_082014-C.jpg"></span></p>
<p><span style="font-size: x-large;"><img src="https://a248.e.akamai.net/mla-s2-p.mlstatic.com/17814-MLA20145063260_082014-C.jpg"></span></p>
<p><span style="font-size: small;">Provide stable 9V DC power supply with high performance, each&#xA0;<br>out put maximum current of&#xA0; 300 mA, can meet most of the pedal use requirement .<br>Eight independent out put short circuit protection design, when one&#xA0;<br>circuit output failure, other out put lines still can work independently.<br>8 LED lights indicating output status in darkness, its unique&#xA0;<br>dull - polished feature can also protect your eyes from spotlights on stage.<br>Very small and exquisite, full metal shell .</span></p>
<p><span style="font-size: small;">The 12V power adapter&#xA0; 12V 2A<br>460mm lines *4 (connect the pedal )<br>610mm lines *4 (connect the pedal )<br>200mm Polar conversion line (The out put power from the negative is&#xA0;<br>changed to outside to inside is outside negative)<br>Velcro tape<br>Owner&apos;s Manual</span></p>
<p></p>
<!-- "Descripcion" final --></td>
</tr>
</tbody>
</table>
</td>
<td id="RIGTH_EDENLP" width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
<tr>
<td colspan="3">
<table cellspacing="0" cellpadding="0" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="width: 750px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="middle" style="text-align:middle;"><img src="http://edenlp.com.ar/deremate/img_dr/visita.gif"><br>
<div align="center" style="text-align:center;"></div>
<p style="font-size: 30px; color: #0000ff;text-align:center;" align="center"><a href="http://www.deremate-inc.com/edenlp/" target="_blank" rel="nofollow"><strong>http://www.deremate-inc.com/edenlp/</strong></a></p>
<img src="http://edenlp.com.ar/deremate/supervendedores.png"><br><img src="http://edenlp.com.ar/deremate/img_dr/revisa.gif" width="701" style="width:701px;"><br>
<div align="center" style="text-align:center;"></div>
</td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
<img src="http://edenlp.com.ar/deremate/pie.jpg"></td>
</tr>
</tbody>
</table>
<p><br><br><br>edenlp <br>Desde La Plata a TODO el pais <br>Mira todos nuestros productos en: <br>http://eshops.mercadolibre.com.ar/edenlp/ <br>ATENCION !! CONSULTAR STOCK ANTES DE OFERTAR <br>Todas las marcas y modelos en un solo sitio, edenlp?.. <br>GARANTIA OFICIAL DE 6 MESES <br>REPRESENTANTES OFIICALES DE <br>IBANEZ, GRACIA, GIBSON, FENDER Y MAS <br>Trabajamos con OCA contrareembolso (10% de recargo) <br>A contra dep&#xF3;sito sin recargo <br>VENTA ONLINE con tarjetas de cr&#xE9;dito <br>5 a&#xF1;os de experiencia en la venta ONLINE <br>ATENCION !!! ALGUNOS PRODUCTOS PUEDEN ESTAR DISCONTINUADOS, CONSULTAR STOCK ANTES DE OFERTAR</p>
            