
                <h4>Descripci&#xF3;n:</h4>
                <table id="TABLE_EDENLP" cellspacing="0" cellpadding="0" width="750" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td colspan="3"><img src="http://edenlp.com.ar/deremate/banne.png"><br>
<table cellspacing="0" cellpadding="0" width="750" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td bordercolor="#0000ff" align="middle" style="border-color:#0000ff;text-align:middle;">
<table cellspacing="0" cellpadding="0" width="700" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:700px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_der.png"> </td>
<td width="421" style="width:421px;">
<p align="center" style="text-align:center;"><img src="http://edenlp.com.ar/deremate/img_dr/edenlp.gif"><br><img src="http://edenlp.com.ar/deremate/local.jpg" width="421" style="width:421px;"><br><img src="http://edenlp.com.ar/deremate/logo.png" width="421" style="width:421px;"><br><img src="http://edenlp.com.ar/deremate/img_dr/pais.gif"><br><img src="http://edenlp.com.ar/deremate/representaciones.png" width="421" style="width:421px;"> </p></td>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_izq.png"> </td></tr></tbody></table><img src="http://edenlp.com.ar/deremate/img_dr/aceptamos.gif" width="701" style="width:701px;"><br><img src="http://edenlp.com.ar/deremate/dolar.php"><br><img src="http://edenlp.com.ar/deremate/img_dr/consulta.gif" width="701" style="width:701px;"><br></td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td></tr></tbody></table></td></tr>
<tr>
<td id="LEFT_EDENLP" width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td id="PRODUCT_EDENLP" align="middle" width="701" style="text-align:middle;width:701px;">
<table bordercolor="#ff0000" cellspacing="0" cellpadding="0" width="701" align="center" border="2" style="border-color:#ff0000;text-align:center;width:701px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:2px;border-top:2px;border-bottom:2px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td align="middle" background="http://edenlp.com.ar/deremate/img_dr/fondo_p.gif" style="text-align:middle;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo_p.gif);"><!-- "Descripcion" inicio -->
<div style="TEXT-ALIGN: center;"><font size="6" style="font-size:6;">Mxr M-117R </font></div>
<div style="TEXT-ALIGN: center;"><font size="6" style="font-size:6;">Flanger Vibrato, short delay, chorus<br></font><br><img alt="" src="http://img3.musiciansfriend.com/dbase/pics/products/regular/8/3/6/396836.jpg"><br><br></div>
<h2 id="qf_copy_heading" style="TEXT-ALIGN: center;">The M-117R: a reissue of the infamous original.</h2>
<p id="qf_prod_copy" style="TEXT-ALIGN: center;">Back by popular demand, the MXR M-117R Flanger creates a variety of wild sounds from dynamic jet plane or cool space effects to short delay, chorus, and vibrato. You have complete control of the filter so you can sculpt the sound you want. Back off the Width setting to zero to disengage auto-sweep, then use the Manual knob to physically place the effect anywhere along the frequency spectrum! Use with guitar, bass, keyboards, and vocals.<br><br>The M-117R effects pedal has 4 knobs and a footswitch. The footswitch toggles the flanger effect on/bypass (red LED indicates on). The Manual knob selects the frequency center of the effect when auto-sweep is disengaged. The Width knob at zero disengages auto-sweep, but when you rotate it clockwise, it increases the total phase sweep of the effect. The Speed knob modulates rate of effect. The Regen knob feeds the effect back onto itself at adjustable intensity, increasing the total phase effect.<br><br>Powered by battery or optional Dunlop ECB-004 AC adapter. (See accessory box on this page.)</p>
<p id="qf_feature_heading" style="TEXT-ALIGN: center;"><strong>MXR M-117R Flanger Effects Pedal Features:</strong></p>
<div style="TEXT-ALIGN: center;">
<ul class="bullet09" id="features">
<li>Footswitch for on/bypass </li>
<li>Manual, Width, Speed, and Regen controls </li>
<li>5&quot;W x 3-3/4&quot;H x 1-1/2&quot;D </li>
<li>1-3/4 lbs. </li></ul></div><br><br><!-- "Descripcion" final --></td></tr></tbody></table></td>
<td id="RIGTH_EDENLP" width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td></tr>
<tr>
<td colspan="3">
<table cellspacing="0" cellpadding="0" width="750" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="middle" style="text-align:middle;"><img src="http://edenlp.com.ar/deremate/img_dr/visita.gif"><br>
<div align="center" style="text-align:center;"><borrad src="http://edenlp.com.ar/deremate/iframe.php?src=producto.html" frameborder="0" width="701" height="400" allowtransparency="" style="height:400px;width:701px;">
                            </borrad></div>
<p style="FONT-SIZE: 30px; COLOR: #0000ff;text-align:center;" align="center"><a href="http://eshops.deremate.com.ar/edenlp/" target="_blank" rel="nofollow"><strong>http://eshops.deremate.com.ar/edenlp/</strong></a> </p><img src="http://edenlp.com.ar/deremate/supervendedores.png"><br><img src="http://edenlp.com.ar/deremate/img_dr/revisa.gif" width="701" style="width:701px;"><br>
<div align="center" style="text-align:center;"><borrad src="http://edenlp.com.ar/deremate/comentarios.php" frameborder="0" width="701" height="400" allowtransparency="" style="height:400px;width:701px;">
                            </borrad></div></td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td></tr></tbody></table><img src="http://edenlp.com.ar/deremate/pie.jpg"> </td></tr></tbody></table><!---->
            