
                <h4>Descripci&#xF3;n:</h4>
                <div>
<table width="750" cellspacing="0" cellpadding="0" border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td colspan="3"><img src="http://edenlp.com.ar/deremate/banne.png" alt=""><br>
<table width="750" cellspacing="0" cellpadding="0" border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" style="text-align:center;">
<table width="700" cellspacing="0" cellpadding="0" border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:700px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_der.png" alt=""></td>
<td width="421" style="width:421px;">
<p align="center" style="text-align:center;"><img src="http://edenlp.com.ar/deremate/img_dr/edenlp.gif" alt=""><br> <img width="421" src="http://edenlp.com.ar/deremate/local.jpg" alt="" style="width:421px;"><br> <img width="421" src="http://edenlp.com.ar/deremate/logo.png" alt="" style="width:421px;"><br> <img src="http://edenlp.com.ar/deremate/img_dr/pais.gif" alt=""><br> <img width="421" src="http://edenlp.com.ar/deremate/representaciones.png" alt="" style="width:421px;"></p>
</td>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_izq.png" alt=""></td>
</tr>
</tbody>
</table>
<img width="701" src="http://edenlp.com.ar/deremate/img_dr/aceptamos.gif" alt="" style="width:701px;"><br> <img src="http://edenlp.com.ar/deremate/dolar.php" alt=""><br> <img width="701" src="http://edenlp.com.ar/deremate/img_dr/consulta.gif" alt="" style="width:701px;"></td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td width="701" align="center" style="text-align:center;width:701px;">
<table width="701" cellspacing="0" cellpadding="0" border="2" align="center" style="text-align:center;width:701px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:2px;border-top:2px;border-bottom:2px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td background="http://edenlp.com.ar/deremate/img_dr/fondo_p.gif" align="center" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo_p.gif);">
<div style="text-align: center;"><span style="font-size: 30px;">Teclado&#xA0;Casio LK170 61teclas iluminadas Edenlp</span><br><br><img src="https://mla-s1-p.mlstatic.com/562801-MLA20403245449_092015-C.jpg"></div>
<div style="text-align: center;">Tecl Portatil, 61t, c/Ilum de Teclas, Sist 3 Pasos, 48polif, 400s, entrada p/sustain, sal auric,&#xA0;</div>
<div style="text-align: center;"><br></div>
<div style="text-align: center;">
<div>
<div>
<div>
<h3>&#xA1;Las lecciones hacen que aprender a tocar sea m&#xE1;s divertido! &#xA1;El teclado m&#xE1;s completo!</h3>
</div>
</div>
</div>
<div>
<div>
<h2>&#xA1;Funciones b&#xE1;sicas mejoradas de alta calidad!</h2>
</div>
</div>
<div>
<div>
<div>
<h3>Calidad de sonido mejorada y la sensaci&#xF3;n de estar tocando un teclado de verdad</h3>
</div>
</div>
<div>
<h4>Fuente de sonidos AHL&#xA0;*</h4>
<p>&#xA1;Todos los tonos incorporados, incluidos los de piano y otros instrumentos ac&#xFA;sticos, suenan mejor que nunca! La m&#xE1;xima polifon&#xED;a de 48 tonos ofrece un amplio margen para reducir al m&#xED;nimo la posibilidad de que las notas decaigan cuando los tonos est&#xE1;n estratificados y se interpreta con Acompa&#xF1;amiento Autom&#xE1;tico.</p>
<div>
<ul>
<li>*&#xA0;Forma de onda grande ac&#xFA;stica y altamente comprimida (AHL)</li>
</ul>
</div>
</div>
<div>
<p></p>
<div>
<h4>Teclado similar al de un piano</h4>
</div>
<p>Un teclado muy f&#xE1;cil de usar que se asemeja mucho al de un piano ac&#xFA;stico.</p>
</div>
<div>
<h4>Efectos digitales</h4>
</div>
<p>Utilice estos efectos para agregar reverberaci&#xF3;n a fin de lograr una mayor profundidad y variedad de matices a su interpretaci&#xF3;n musical.</p>
</div>
<div>
<h2>&#xA1;Potentes funciones de lecci&#xF3;n!</h2>
</div>
<div>
<div>
<h3>Las funciones de lecciones lo gu&#xED;an hasta lograr una excelente interpretaci&#xF3;n</h3>
</div>
<div>
<div>
<h4>Lecci&#xF3;n Paso a Paso</h4>
</div>
<p>Para dominar una canci&#xF3;n, es mejor dividirla en fraseos cortos, dominar cada uno de los fraseos y luego juntar todo. La Lecci&#xF3;n paso a paso hace exactamente eso y proporciona el apoyo que necesita para mejorar su interpretaci&#xF3;n.</p>
</div>
<div></div>
<div>
<div>
<h4>Evaluaci&#xF3;n de desempe&#xF1;o</h4>
</div>
<p>El puntaje obtenido en la lecci&#xF3;n se muestra en la pantalla.</p>
</div>
<div>
<div>
<h4>Gu&#xED;a de digitaci&#xF3;n por voz</h4>
</div>
<p>Cuando el teclado advierte que usted se encuentra en dificultades, le ayudar&#xE1; dict&#xE1;ndole los n&#xFA;meros de los dedos que deber&#xE1; usar y, para hacerlo, utiliza una simulaci&#xF3;n de voz humana.</p>
</div>
<div>
<h4>Selecci&#xF3;n de funci&#xF3;n &quot;Lesson Part&quot;&#xA0;(mano derecha, mano izquierda, ambas manos)</h4>
</div>
<div>
<div>
<h4>110 melod&#xED;as del banco de canciones&#xA0;adem&#xE1;s de 20 fraseos de pr&#xE1;ctica&#xA0;(incluye libro de partituras*)</h4>
</div>
<p>Las canciones incorporadas cubren un amplio espectro de g&#xE9;neros para que usted pueda no s&#xF3;lo practicar las lecciones sino tambi&#xE9;n disfrutar al escucharlas. &#xA1;Incluye fraseos de pr&#xE1;ctica!</p>
<div>
<ul>
<li>*&#xA0;El libro de partituras no incorpora la m&#xFA;sica para los fraseos de pr&#xE1;ctica. Debido a restricciones de derechos de autor, es posible que el libro de partituras no incluya algunas melod&#xED;as.</li>
</ul>
</div>
</div>
<div>
<h4>Funci&#xF3;n de metr&#xF3;nomo para dar apoyo a las lecciones</h4>
</div>
</div>
<div>
<h2>&#xA1;Nuevas funciones de entretenimiento!</h2>
</div>
<div>
<div>
<h3>Nunca antes la m&#xFA;sica fue tan divertida como ahora</h3>
</div>
<div>
<div>
<h4>Funci&#xF3;n de sampleado</h4>
</div>
<p></p>
<p>El micr&#xF3;fono incorporado del teclado de sampleado permite que cualquiera pueda samplear voces o sonidos cercanos f&#xE1;cilmente. Puede disfrutar de sonidos sampleados mediante la reproducci&#xF3;n de estos en el teclado, como tonos, o hacerlos audibles como tonos en puntos seleccionados en los ritmos integrados.</p>
</div>
<div>
<div>
<div>
<p>Puede grabar su voz y reproducirla en el teclado.</p>
</div>
</div>
<div>
<div>
<p>Se pueden ingresar hasta cinco voces grabadas en los ritmos predefinidos para crear &quot;Percusi&#xF3;n vocal&quot;.</p>
</div>
</div>
</div>
<div>
<div>
<h4>USO DE EFECTOS</h4>
</div>
<p>El teclado est&#xE1; equipado con 10 tipos de efectos para tonos sampleados cambiantes, por lo que proporciona a&#xFA;n m&#xE1;s maneras de disfrutar la funci&#xF3;n de sampleado.</p>
</div>
<div>
<div>
<h4>Conector de entrada de micr&#xF3;fono para cantar al comp&#xE1;s de la m&#xFA;sica</h4>
</div>
<p>Cante al comp&#xE1;s de las melod&#xED;as incorporadas o de canciones almacenadas desde fuentes externas.</p>
</div>
</div>
<div>
<h2>&#xA1;Creado y dise&#xF1;ado para ayudarlo a lograr el mejor sonido!</h2>
</div>
<div>
<div>
<h3>Toque m&#xFA;sica de todo el mundo</h3>
</div>
<div>
<div>
<h4>Una variada selecci&#xF3;n de tonos (400 tonos de alta calidad)</h4>
</div>
<p>Esta variada selecci&#xF3;n de tonos de instrumentos musicales permite reproducir melod&#xED;as de m&#xFA;ltiples g&#xE9;neros.</p>
</div>
<div>
<div>
<h4>150 ritmos y acompa&#xF1;amientos autom&#xE1;ticos para m&#xFA;sica latina y de otros estilos del&#xA0;mundo entero&#xA0;</h4>
</div>
<p>La avanzada funci&#xF3;n de Acompa&#xF1;amiento Autom&#xE1;tico le brinda acceso a una vasta colecci&#xF3;n de ritmos &#xE9;tnicos de todo el mundo poniendo especial &#xE9;nfasis en los ritmos de origen latino.</p>
<p>&#xA1;Adem&#xE1;s de bossa nova, samba y otros ritmos b&#xE1;sicos, tiene cumbia, reggaet&#xF3;n, calypso y m&#xE1;s!</p>
</div>
<div>
<div>
<h4>Funci&#xF3;n de informaci&#xF3;n musical (amplia pantalla LCD con fondo iluminado)</h4>
</div>
<p>Para ayudarle a ejecutar el teclado se muestra una gran cantidad de informaci&#xF3;n.</p>
</div>
<div>
<h4>Vers&#xE1;til capacidad de ampliaci&#xF3;n</h4>
</div>
<div>
<ul>
<li>Puerto USB&#xA0;para conexi&#xF3;n a computadora*</li>
<li>General MIDI&#xA0;(GM de nivel 1) permite la conexi&#xF3;n con una computadora u otros dispositivos compatibles con el protocolo GM.</li>
</ul>
<div>
<ul>
<li>*Sistemas operativos compatibles: Windows&#xAE;&#xA0;XP Home Edition (SP2 o posterior), Windows&#xAE;&#xA0;XP Professional (SP2 o posterior, 32 bit), Windows Vista&#xAE;&#xA0;(32 bit), Windows&#xAE;&#xA0;7 (32 bit, 64 bit) Mac OS&#xAE;&#xA0;X (10.3.9, 10.4.11 o posterior, 10.5.8 o posterior, 10.6.7 o posterior)<br><br></li>
</ul>
</div>
</div>
<div>
<h4>Preajuste con un bot&#xF3;n (150 preajustes)&#xA0;</h4>
</div>
<p>La funci&#xF3;n de One Touch Preset (preajuste con un bot&#xF3;n) configura el teclado autom&#xE1;ticamente de acuerdo con el ritmo seleccionado en ese momento.</p>
</div>
</div>
</td>
</tr>
</tbody>
</table>
</td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
<tr>
<td colspan="3">
<table width="750" cellspacing="0" cellpadding="0" border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" style="text-align:center;"><img src="http://edenlp.com.ar/deremate/img_dr/visita.gif" alt=""><br>
<div align="center" style="text-align:center;"></div>
<p align="center" style="font-size: 30px; color: #0000ff;text-align:center;"><a href="http://eshops.deremate.com.ar/edenlp/" rel="nofollow &quot;nofollow&quot;"><strong>http://eshops.deremate.com.ar/edenlp/</strong></a></p>
<img src="http://edenlp.com.ar/deremate/supervendedores.png" alt=""><br> <img width="701" src="http://edenlp.com.ar/deremate/img_dr/revisa.gif" alt="" style="width:701px;"><br>
<div align="center" style="text-align:center;"></div>
</td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
<img src="http://edenlp.com.ar/deremate/pie.jpg" alt=""></td>
</tr>
</tbody>
</table>
</div>
            