
                <h4>Descripci&#xF3;n:</h4>
                <div>
<table width="750" border="0" align="center" cellpadding="0" cellspacing="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td colspan="3"><img src="http://edenlp.com.ar/deremate/banne.png" alt=""><br>
<table width="750" border="0" cellspacing="0" cellpadding="0" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td bordercolor="#0000FF" align="center" style="border-color:#0000FF;text-align:center;">
<table width="700" border="0" cellspacing="0" cellpadding="0" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:700px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_der.png" alt=""></td>
<td width="421" style="width:421px;">
<p align="center" style="text-align:center;"><img src="http://edenlp.com.ar/deremate/img_dr/edenlp.gif" alt=""><br> <img src="http://edenlp.com.ar/deremate/local.jpg" width="421" alt="" style="width:421px;"><br> <img src="http://edenlp.com.ar/deremate/logo.png" width="421" alt="" style="width:421px;"><br> <img src="http://edenlp.com.ar/deremate/img_dr/pais.gif" alt=""><br> <img src="http://edenlp.com.ar/deremate/representaciones.png" width="421" alt="" style="width:421px;"></p>
</td>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_izq.png" alt=""></td>
</tr>
</tbody>
</table>
<img src="http://edenlp.com.ar/deremate/img_dr/aceptamos.gif" width="701" alt="" style="width:701px;"><br> <img src="http://edenlp.com.ar/deremate/dolar.php" alt=""><br> <img src="http://edenlp.com.ar/deremate/img_dr/consulta.gif" width="701" alt="" style="width:701px;"></td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td width="701" align="center" style="text-align:center;width:701px;">
<table width="701" border="2" align="center" cellpadding="0" cellspacing="0" bordercolor="#FF0000" style="border-color:#FF0000;text-align:center;width:701px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:2px;border-top:2px;border-bottom:2px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo_p.gif" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo_p.gif);">
<div style="text-align: center;"><span style="font-size: x-large;">Clavijas de bajo Fender</span></div>
<div style="text-align: center;"><span style="font-size: x-large;"> 003-6443-000 Standard 5 cuerdas</span></div>
<div style="text-align: center;"><span style="font-size: x-large;"><br></span></div>
<div style="text-align: center;"><span style="font-size: x-large;"><img src="https://mla-s1-p.mlstatic.com/20364-MLA20188413688_102014-C.jpg"></span></div>
<div style="text-align: center;"></div>
</td>
</tr>
</tbody>
</table>
</td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
<tr>
<td colspan="3">
<table width="750" border="0" align="center" cellpadding="0" cellspacing="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" style="text-align:center;"><img src="http://edenlp.com.ar/deremate/img_dr/visita.gif" alt=""><br>
<div align="center" style="text-align:center;"></div>
<p align="center" style="font-size: 30px; color: #0000ff;text-align:center;"><a href="http://eshops.deremate.com.ar/edenlp/" target="_blank" rel="nofollow &quot;nofollow&quot;"><strong>http://eshops.deremate.com.ar/edenlp/</strong></a></p>
<img src="http://edenlp.com.ar/deremate/supervendedores.png" alt=""><br> <img src="http://edenlp.com.ar/deremate/img_dr/revisa.gif" width="701" alt="" style="width:701px;"><br>
<div align="center" style="text-align:center;"></div>
</td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
<img src="http://edenlp.com.ar/deremate/pie.jpg" alt=""></td>
</tr>
</tbody>
</table>
</div>
            