
                <h4>Descripci&#xF3;n:</h4>
                
<div id="itemEditDescrML">
<table border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" cellspacing="0" cellpadding="0" id="TABLE_EDENLP" style="width: 750px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td colspan="3"><img src="http://edenlp.com.ar/deremate/banne.png" alt=""><br>
<table border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" cellspacing="0" cellpadding="0" style="width: 750px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td background="http://edenlp.com.ar/deremate/izq.png" width="25" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" bordercolor="#0000FF" style="border-color:#0000FF;text-align:center;">
<table border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" cellspacing="0" cellpadding="0" style="width: 700px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_der.png" alt=""></td>
<td width="421" style="width:421px;">
<p align="center" style="text-align:center;"><img src="http://edenlp.com.ar/deremate/img_dr/edenlp.gif" alt=""><br> <img width="421" src="http://edenlp.com.ar/deremate/local.jpg" alt="" style="width:421px;"><br> <img width="421" src="http://edenlp.com.ar/deremate/logo.png" alt="" style="width:421px;"><br> <img src="http://edenlp.com.ar/deremate/img_dr/pais.gif" alt=""><br> <img width="421" src="http://edenlp.com.ar/deremate/representaciones.png" alt="" style="width:421px;"></p>
</td>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_izq.png" alt=""></td>
</tr>
</tbody>
</table>
<img width="701" src="http://edenlp.com.ar/deremate/img_dr/aceptamos.gif" alt="" style="width:701px;"><br> <img src="http://edenlp.com.ar/deremate/dolar.php" alt=""><br> <img width="701" src="http://edenlp.com.ar/deremate/img_dr/consulta.gif" alt="" style="width:701px;"></td>
<td background="http://edenlp.com.ar/deremate/der.jpg" width="24" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td background="http://edenlp.com.ar/deremate/izq.png" width="25" id="LEFT_EDENLP" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" width="701" id="PRODUCT_EDENLP" style="text-align:center;width:701px;">
<table bordercolor="#FF0000" border="2" align="center" cellspacing="0" cellpadding="0" style="width: 701px;border-color:#FF0000;text-align:center;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:2px;border-top:2px;border-bottom:2px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td background="http://edenlp.com.ar/deremate/img_dr/fondo_p.gif" align="center" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo_p.gif);"><!-- "Descripcion" inicio -->
<div style="text-align: center;"><span style="font-size: x-large;">Redoblante Mapex Birch MPBC4550BMB<br> 14x5.5, 10torres Edenlp</span></div>
<div style="text-align: center;"><span style="font-size: x-large;"><br></span></div>
<div style="text-align: center;"><span style="font-size: x-large;"><img src="http://static.mercadoshops.com/jm/com.stores.framework.commons.imageproxy.ImgProxyServlet?v=i&amp;f=77726746-5482-1.jpg&amp;s=77726746&amp;item=5482"></span></div>
<div style="text-align: center;"><span style="font-size: x-large;"><br></span></div>
<div style="text-align: center;">
<p>Modelo: MPBC4550BMB</p>
<p>Descripci&#xF3;n: Caja Mapex en abedul negro. Serie MPX 14&#x201D; x 5.5&#x201D;. Casco de abedul de 7,2 mm de grosor 20 tensores de baja masa. Hardware negro. Parches Remo UX.</p>
</div>
<div style="text-align: center;"><span style="font-size: x-large;"><br></span></div>
<div style="text-align: center;"></div>
<div style="text-align: center;"></div>
<!-- "Descripcion" final --></td>
</tr>
</tbody>
</table>
</td>
<td background="http://edenlp.com.ar/deremate/der.jpg" width="24" id="RIGTH_EDENLP" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
<tr>
<td colspan="3">
<table border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" cellspacing="0" cellpadding="0" style="width: 750px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td background="http://edenlp.com.ar/deremate/izq.png" width="25" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" style="text-align:center;"><img src="http://edenlp.com.ar/deremate/img_dr/visita.gif" alt=""><br>
<div align="center" style="text-align:center;"></div>
<p align="center" style="font-size: 30px; color: #0000ff;text-align:center;"><a target="_blank" href="http://eshops.deremate.com.ar/edenlp/" rel="nofollow"><strong>http://eshops.deremate.com.ar/edenlp/</strong></a></p>
<img src="http://edenlp.com.ar/deremate/supervendedores.png" alt=""><br> <img width="701" src="http://edenlp.com.ar/deremate/img_dr/revisa.gif" alt="" style="width:701px;"><br>
<div align="center" style="text-align:center;"></div>
</td>
<td background="http://edenlp.com.ar/deremate/der.jpg" width="24" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
<img src="http://edenlp.com.ar/deremate/pie.jpg" alt=""></td>
</tr>
</tbody>
</table>
</div>
            