
                <h4>Descripci&#xF3;n:</h4>
                

<div id="itemEditDescrML">
<table id="TABLE_EDENLP" width="750" border="0" align="center" cellpadding="0" cellspacing="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td colspan="3"><img src="http://edenlp.com.ar/deremate/banne.png" alt=""><br>
<table width="750" border="0" cellspacing="0" cellpadding="0" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td bordercolor="#0000FF" align="center" style="border-color:#0000FF;text-align:center;">
<table width="700" border="0" cellspacing="0" cellpadding="0" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:700px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_der.png" alt=""></td>
<td width="421" style="width:421px;">
<p align="center" style="text-align:center;"><img src="http://edenlp.com.ar/deremate/img_dr/edenlp.gif" alt=""><br> <img src="http://edenlp.com.ar/deremate/local.jpg" width="421" alt="" style="width:421px;"><br> <img src="http://edenlp.com.ar/deremate/logo.png" width="421" alt="" style="width:421px;"><br> <img src="http://edenlp.com.ar/deremate/img_dr/pais.gif" alt=""><br> <img src="http://edenlp.com.ar/deremate/representaciones.png" width="421" alt="" style="width:421px;"></p>
</td>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_izq.png" alt=""></td>
</tr>
</tbody>
</table>
<img src="http://edenlp.com.ar/deremate/img_dr/aceptamos.gif" width="701" alt="" style="width:701px;"><br> <img src="http://edenlp.com.ar/deremate/dolar.php" alt=""><br> <img src="http://edenlp.com.ar/deremate/img_dr/consulta.gif" width="701" alt="" style="width:701px;"></td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td id="LEFT_EDENLP" width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td id="PRODUCT_EDENLP" width="701" align="center" style="text-align:center;width:701px;"><br><br>
<table width="701" border="2" align="center" cellpadding="0" cellspacing="0" bordercolor="#FF0000" style="border-color:#FF0000;text-align:center;width:701px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:2px;border-top:2px;border-bottom:2px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo_p.gif" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo_p.gif);"><!-- "Descripcion" inicio -->
<div style="text-align: center;"><span face="Tahoma" style="font-family: Tahoma;"><b><span style="font-size: 23px;">Pedal De Bombo P-3000D &#xA0;&quot;Demon Drive&quot;; c/estuche</span><br><span style="font-size: 23px;">edenlp</span><br><span style="font-size: 23px;"><img src="http://static.mercadoshops.com/jm/com.stores.framework.commons.imageproxy.ImgProxyServlet?v=i&amp;f=77726746-4818-1.jpg&amp;s=77726746&amp;item=4818" align="absmiddle" alt="" style="text-align:absmiddle;"><img src="http://static.mercadoshops.com/jm/com.stores.framework.commons.imageproxy.ImgProxyServlet?v=i&amp;f=77726746-4818-2.jpg&amp;s=77726746&amp;item=4818" align="absmiddle" alt="" style="text-align:absmiddle;"><img src="http://static.mercadoshops.com/jm/com.stores.framework.commons.imageproxy.ImgProxyServlet?v=i&amp;f=77726746-4818-3.jpg&amp;s=77726746&amp;item=4818" align="absmiddle" alt="" style="text-align:absmiddle;"><img src="http://static.mercadoshops.com/jm/com.stores.framework.commons.imageproxy.ImgProxyServlet?v=i&amp;f=77726746-4818-4.jpg&amp;s=77726746&amp;item=4818" align="absmiddle" alt="" style="text-align:absmiddle;"><br></span></b></span>
<div style="text-align: center;"><span>El pedal P-3000D es un sistema de pedal tan avanzado, tan bien ingeniado que se convierte en una extensi&#xF3;n de tu cuerpo.&#xA0;</span><br><span>Cualquiera sea buscar relampageantes &quot;blast beats&quot;, r&#xE1;pidos o profundos, grooves de rock s&#xF3;lidos, este pedal ofrece la mayor ajustabilidad para maximizar tu estilo de tocar. El m&#xE1;s r&#xE1;pido, suave, m&#xE1;s versatil pedal en el MUNDO.&#xA0;</span><br><br><span>El pedal P-3000D Es un pedal Tracci&#xF3;n directa (Direct Drive). Aqu&#xED; les pongo sus caracter&#xED;sticas:&#xA0;</span><br><br><span>Ajuste directo de conexi&#xF3;n&#xA0;</span><br><span>Tiene un cambio de posicionamiento de dos ajustes de conexi&#xF3;n directos para una selecci&#xF3;n entre sensilibidad, el cu&#xE1;l es: &quot;liviano&quot; o &quot;pesado&quot;&#xA0;</span><br><span>Esto crea el mejor traslado entre las ideas musicales del bater&#xED;sta y su ejecuci&#xF3;n en el pedal de bombo.&#xA0;</span><br><img class="imagen" border="0" src="http://www.pearldrum.com/demondrivelive/art/lightbox/directlink.jpg" style="border-left:0px;border-top:0px;border-bottom:0px;"><span>&#xA0;</span><br><span>Rulemanes NiNJA&#xA0;</span><br><span>Los rulemanes NiNJA fueron originalmente dise&#xF1;ados por ingenieros de skateboarding, estos rulemanes contienen bolas de acero micro-pul&#xED;das para una mayor velocidad y una incre&#xED;ble suavidad.&#xA0;</span><br><img class="imagen" border="0" src="http://www.pearldrum.com/demondrivelive/art/lightbox/ninja.jpg" style="border-left:0px;border-top:0px;border-bottom:0px;"><span>&#xA0;</span><br><span>Eje de conexi&#xF3;n Z&#xA0;</span><br><span>Hecho de aluminio ajustable para un perfecto funcionamiento y una total transmisi&#xF3;n de energ&#xED;a desde un extremo al otro, para un efecto preciso&#xA0;</span><br><img class="imagen" border="0" src="http://www.pearldrum.com/demondrivelive/art/lightbox/zlink.jpg" style="border-left:0px;border-top:0px;border-bottom:0px;"><span>&#xA0;</span><br><span>Pie D&#xFA;o-cubierta&#xA0;</span><br><span>La m&#xE1;s unica caracter&#xED;stica del pedal Demon Drive de Pearl es su exclusiva D&#xFA;o-Cubierta. El primer pedal del mundo que puede convertirse en largo o corto. Mediante un simple ajuste, el pedal Demon Drive puede ser ajustado para ser el tradicional &quot;shortboard&quot; o el moderno &quot;longboard&quot; en segundos, ofreciendo mayor o menor altura y una sensaci&#xF3;n r&#xE1;pida que es lo preferido cuando la velocidad es una necesidad.&#xA0;</span><br><img class="imagen" border="0" src="http://www.pearldrum.com/demondrivelive/art/lightbox/duodeck.jpg" style="border-left:0px;border-top:0px;border-bottom:0px;"><span>&#xA0;</span><br><span>Ajuste del golpe&#xA0;</span><br><span>Una selecci&#xF3;n de dos posicionas para una sensaci&#xF3;n de finesa o poder. Simplemente desafloja la arandela para cambiar la posici&#xF3;n.&#xA0;</span><br><img class="imagen" border="0" src="http://www.pearldrum.com/demondrivelive/art/lightbox/beaterstroke.jpg" style="border-left:0px;border-top:0px;border-bottom:0px;"><span>&#xA0;</span><br><span>Click-bloqueo salto de tensi&#xF3;n&#xA0;</span><br><span>La funci&#xF3;n Click-bloqueo previene que el resorte de tensi&#xF3;n no se falsee, no importa cu&#xE1;n duro toques. Simplemente tira de la palanca para ajustar.&#xA0;</span><br><img class="imagen" border="0" src="http://www.pearldrum.com/demondrivelive/art/lightbox/springlock.jpg" style="border-left:0px;border-top:0px;border-bottom:0px;"><span>&#xA0;</span><br><span>Plancha de tracci&#xF3;n Ajustable&#xA0;</span><br><span>Los puntos de tracci&#xF3;n de aluminio son totalmente ajustable para variar el aumento de resbalo o agarre para tu manera de tocar.&#xA0;</span><br><img class="imagen" border="0" src="http://www.pearldrum.com/demondrivelive/art/lightbox/traction.jpg" style="border-left:0px;border-top:0px;border-bottom:0px;"><span>&#xA0;</span><br><span>Altura del pedal ajustable&#xA0;</span><br><span>Desafloja y rota a la altura deseada. La rotaci&#xF3;n est&#xE1; indexada para una &#xF3;ptima repetici&#xF3;n.</span></div>
</div>
<div><!-- "Descripcion" final --></div>
</td>
</tr>
</tbody>
</table>
</td>
<td id="RIGTH_EDENLP" width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
<tr>
<td colspan="3">
<table width="750" border="0" align="center" cellpadding="0" cellspacing="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" style="text-align:center;">
<div><img src="http://edenlp.com.ar/deremate/img_dr/visita.gif" alt=""></div>
<div align="center" style="text-align:center;"></div>
<p style="font-size: 30px; color: #0000ff;"><a href="http://eshops.deremate.com.ar/edenlp/" target="_blank" rel="nofollow"><strong>http://eshops.deremate.com.ar/edenlp/</strong></a></p>
<div><img src="http://edenlp.com.ar/deremate/supervendedores.png" alt=""><br> <img src="http://edenlp.com.ar/deremate/img_dr/revisa.gif" width="701" alt="" style="width:701px;"></div>
<div align="center" style="text-align:center;"></div>
</td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
<div><img src="http://edenlp.com.ar/deremate/pie.jpg" alt=""></div>
</td>
</tr>
</tbody>
</table>
<div></div>
</div>
            