
                <h4>Descripci&#xF3;n:</h4>
                <table cellspacing="0" cellpadding="0" border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" style="width: 750px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td colspan="3"><img src="http://edenlp.com.ar/deremate/banne.png" alt=""><br>
<table cellspacing="0" cellpadding="0" border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" style="width: 750px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td background="http://edenlp.com.ar/deremate/izq.png" width="25" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" bordercolor="#0000FF" style="border-color:#0000FF;text-align:center;">
<table cellspacing="0" cellpadding="0" border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" style="width: 700px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_der.png" alt=""></td>
<td width="421" style="width:421px;">
<p align="center" style="text-align:center;"><img src="http://edenlp.com.ar/deremate/img_dr/edenlp.gif" alt=""><br> <img width="421" src="http://edenlp.com.ar/deremate/local.jpg" alt="" style="width:421px;"><br> <img width="421" src="http://edenlp.com.ar/deremate/logo.png" alt="" style="width:421px;"><br> <img src="http://edenlp.com.ar/deremate/img_dr/pais.gif" alt=""><br> <img width="421" src="http://edenlp.com.ar/deremate/representaciones.png" alt="" style="width:421px;"></p>
</td>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_izq.png" alt=""></td>
</tr>
</tbody>
</table>
<img width="701" src="http://edenlp.com.ar/deremate/img_dr/aceptamos.gif" alt="" style="width:701px;"><br> <img src="http://edenlp.com.ar/deremate/dolar.php" alt=""><br> <img width="701" src="http://edenlp.com.ar/deremate/img_dr/consulta.gif" alt="" style="width:701px;"></td>
<td background="http://edenlp.com.ar/deremate/der.jpg" width="24" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td background="http://edenlp.com.ar/deremate/izq.png" width="25" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" width="701" style="text-align:center;width:701px;">
<table cellspacing="0" cellpadding="0" bordercolor="#ff0000" border="2" align="center" style="width: 701px;border-color:#ff0000;text-align:center;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:2px;border-top:2px;border-bottom:2px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td background="http://edenlp.com.ar/deremate/img_dr/fondo_p.gif" align="center" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo_p.gif);">
<div style="text-align: center;"><span style="font-size: x-large;">Control de volumen Jbl CSR-2SV-WHT blanco Edenlp</span></div>
<div style="text-align: center;"><img src="https://mla-s2-p.mlstatic.com/490701-MLA20379412938_082015-C.jpg"></div>
<div style="text-align: center;">Control de Volumen/ nivel de pared, 2 fuentes, de embutir, t/ Americana (Rectangular) c:White</div>
<div style="text-align: center;"></div>
</td>
</tr>
</tbody>
</table>
</td>
<td background="http://edenlp.com.ar/deremate/der.jpg" width="24" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
<tr>
<td colspan="3">
<table cellspacing="0" cellpadding="0" border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" style="width: 750px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td background="http://edenlp.com.ar/deremate/izq.png" width="25" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" style="text-align:center;"><img src="http://edenlp.com.ar/deremate/img_dr/visita.gif" alt=""><br>
<div align="center" style="text-align:center;"></div>
<p align="center" style="font-size: 30px; color: #0000ff;text-align:center;"><a target="_blank" href="http://eshops.deremate.com.ar/edenlp/" rel="nofollow &quot;nofollow&quot;"><strong>http://eshops.deremate.com.ar/edenlp/</strong></a></p>
<img src="http://edenlp.com.ar/deremate/supervendedores.png" alt=""><br> <img width="701" src="http://edenlp.com.ar/deremate/img_dr/revisa.gif" alt="" style="width:701px;"><br>
<div align="center" style="text-align:center;"></div>
</td>
<td background="http://edenlp.com.ar/deremate/der.jpg" width="24" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
<img src="http://edenlp.com.ar/deremate/pie.jpg" alt=""></td>
</tr>
</tbody>
</table>
            