
                <h4>Descripci&#xF3;n:</h4>
                <table cellspacing="0" cellpadding="0" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="width: 750px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td colspan="3"><img alt="" src="http://edenlp.com.ar/deremate/banne.png"><br>
<table cellspacing="0" cellpadding="0" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="width: 750px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td bordercolor="#0000ff" align="center" style="border-color:#0000ff;text-align:center;">
<table cellspacing="0" cellpadding="0" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="width: 700px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="139" style="width:139px;"><img alt="" src="http://edenlp.com.ar/deremate/img.php?src=img_der.png"></td>
<td width="421" style="width:421px;">
<p align="center" style="text-align:center;"><img alt="" src="http://edenlp.com.ar/deremate/img_dr/edenlp.gif"><br><img width="421" alt="" src="http://edenlp.com.ar/deremate/local.jpg" style="width:421px;"><br><img width="421" alt="" src="http://edenlp.com.ar/deremate/logo.png" style="width:421px;"><br><img alt="" src="http://edenlp.com.ar/deremate/img_dr/pais.gif"><br><img width="421" alt="" src="http://edenlp.com.ar/deremate/representaciones.png" style="width:421px;"></p>
</td>
<td width="139" style="width:139px;"><img alt="" src="http://edenlp.com.ar/deremate/img.php?src=img_izq.png"></td>
</tr>
</tbody>
</table>
<img width="701" alt="" src="http://edenlp.com.ar/deremate/img_dr/aceptamos.gif" style="width:701px;"><br><img alt="" src="http://edenlp.com.ar/deremate/dolar.php"><br><img width="701" alt="" src="http://edenlp.com.ar/deremate/img_dr/consulta.gif" style="width:701px;"></td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" width="701" style="text-align:center;width:701px;">
<table bordercolor="#ff0000" cellspacing="0" cellpadding="0" align="center" border="2" style="width: 701px;border-color:#ff0000;text-align:center;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:2px;border-top:2px;border-bottom:2px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo_p.gif" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo_p.gif);">
<p></p>
<div style="text-align: center;"><span style="font-size: x-large;">Preamplificador P/auriculares Vox AP2-CR Classic Rock&#xA0;&#xA0;</span></div>
<div style="text-align: center;"><span style="font-size: x-large;">Edenlp</span></div>
<div style="text-align: center;"></div>
<div style="text-align: center;"><img src="https://mla-s1-p.mlstatic.com/633011-MLA20463175904_102015-C.jpg"></div>
<div style="text-align: center;">
<h2>Bring Some Classic Crunch to Your Practice Sessions</h2>
<p>The Vox amPlug Classic Rock G2 headphone guitar amplifier will help you nail the classic UK-made amp sound, giving you that massive crunch - despite the fact that it occupies virtually no space. Sporting a drastically improved analog circuit, the amPlug Classic Rock G2 provides you with an exceptionally clear and present tone that will inject inspiration into your practice sessions. You also get a selectable mid-boost, as well as onboard chorus, delay, and reverb. So, ditch your cable, plug straight into a Vox amPlug Classic Rock G2 headphone guitar amplifier, and enjoy some authentic rock &apos;n&apos; roll guitar tone.</p>
<p></p>
<table>
<tbody>
<tr><th>Type</th>
<td>Solid State</td>
</tr>
<tr><th>Number of Channels</th>
<td>1</td>
</tr>
<tr><th>Effects</th>
<td>Yes</td>
</tr>
<tr><th>Reverb</th>
<td>Yes</td>
</tr>
<tr><th>Inputs</th>
<td>1 x Instrument, 1 x 1/8&quot;</td>
</tr>
<tr><th>Outputs</th>
<td>1 x 1/8&quot;</td>
</tr>
<tr><th>Height</th>
<td>1.22&quot;</td>
</tr>
<tr><th>Width</th>
<td>3.39&quot;</td>
</tr>
<tr><th>Depth</th>
<td>3.15&quot;</td>
</tr>
<tr><th>Weight</th>
<td>0.09 lbs.</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
</td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
<tr>
<td colspan="3">
<table cellspacing="0" cellpadding="0" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="width: 750px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" style="text-align:center;"><img alt="" src="http://edenlp.com.ar/deremate/img_dr/visita.gif"><br>
<div align="center" style="text-align:center;"></div>
<p align="center" style="font-size: 30px; color: #0000ff;text-align:center;"><a target="_blank" href="http://eshops.deremate.com.ar/edenlp/" rel="nofollow &quot;nofollow&quot;"><strong>http://eshops.deremate.com.ar/edenlp/</strong></a></p>
<img alt="" src="http://edenlp.com.ar/deremate/supervendedores.png"><br><img width="701" alt="" src="http://edenlp.com.ar/deremate/img_dr/revisa.gif" style="width:701px;"><br>
<div align="center" style="text-align:center;"></div>
</td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
<img alt="" src="http://edenlp.com.ar/deremate/pie.jpg"></td>
</tr>
</tbody>
</table>
            