
                <h4>Descripci&#xF3;n:</h4>
                
<div id="itemEditDescrML">
<table border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" width="750" cellspacing="0" cellpadding="0" id="TABLE_EDENLP" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td colspan="3"><img alt="" src="http://edenlp.com.ar/deremate/banne.png"><br>
<table border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" width="750" cellspacing="0" cellpadding="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td background="http://edenlp.com.ar/deremate/izq.png" width="25" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" bordercolor="#0000FF" style="border-color:#0000FF;text-align:center;">
<table border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" width="700" cellspacing="0" cellpadding="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:700px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="139" style="width:139px;"><img alt="" src="http://edenlp.com.ar/deremate/img.php?src=img_der.png"></td>
<td width="421" style="width:421px;">
<p align="center" style="text-align:center;"><img alt="" src="http://edenlp.com.ar/deremate/img_dr/edenlp.gif"><br> <img width="421" alt="" src="http://edenlp.com.ar/deremate/local.jpg" style="width:421px;"><br> <img width="421" alt="" src="http://edenlp.com.ar/deremate/logo.png" style="width:421px;"><br> <img alt="" src="http://edenlp.com.ar/deremate/img_dr/pais.gif"><br> <img width="421" alt="" src="http://edenlp.com.ar/deremate/representaciones.png" style="width:421px;"></p>
</td>
<td width="139" style="width:139px;"><img alt="" src="http://edenlp.com.ar/deremate/img.php?src=img_izq.png"></td>
</tr>
</tbody>
</table>
<img width="701" alt="" src="http://edenlp.com.ar/deremate/img_dr/aceptamos.gif" style="width:701px;"><br> <img alt="" src="http://edenlp.com.ar/deremate/dolar.php"><br> <img width="701" alt="" src="http://edenlp.com.ar/deremate/img_dr/consulta.gif" style="width:701px;"></td>
<td background="http://edenlp.com.ar/deremate/der.jpg" width="24" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td background="http://edenlp.com.ar/deremate/izq.png" width="25" id="LEFT_EDENLP" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" width="701" id="PRODUCT_EDENLP" style="text-align:center;width:701px;">
<table bordercolor="#FF0000" border="2" align="center" width="701" cellspacing="0" cellpadding="0" style="border-color:#FF0000;text-align:center;width:701px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:2px;border-top:2px;border-bottom:2px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td background="http://edenlp.com.ar/deremate/img_dr/fondo_p.gif" align="center" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo_p.gif);"><!-- "Descripcion" inicio -->
<div style="text-align: center;"><span style="font-size: x-large;">Generador de tonos Shure A15TG Edenlp</span></div>
<div style="text-align: center;"></div>
<div style="text-align: center;"><img src="https://a248.e.akamai.net/mla-s1-p.mlstatic.com/10106-MLA20025172927_122013-C.jpg"></div>
<div style="text-align: center;"></div>
<div style="text-align: center;">
<p>The Shure A15TG Tone Generator is a battery-powered 700 Hz signal source used to troubleshoot audio systems by checking microphone lines for correct patching and detecting unusual noise that is present.The output level of the A15TG is approximately -42 dBV. This allows it to be used with either microphone level or line level inputs and the barrel design allows it to be connected to a microphone cable or directly to a mixer input.</p>
<p>The A15TG can tolerate the presence of phantom power or a short circuit in the line that it is driving. Additional features of the A15TG include a recessed On-Off switch, a Male XLR output connector, and a removable end cap allowing for easy battery installation and removal. Battery life is 1,000 hours of continuous use.</p>
<p><strong>Batteries</strong>: use any 1.5 volt button cell battery that fits in the allotted space. This includes A76 alkaline, 357 silver oxide, and 675 zinc air hearing aid batteries.<br>&#xA0;</p>
</div>
<div style="text-align: center;"></div>
<!-- "Descripcion" final --></td>
</tr>
</tbody>
</table>
</td>
<td background="http://edenlp.com.ar/deremate/der.jpg" width="24" id="RIGTH_EDENLP" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
<tr>
<td colspan="3">
<table border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center" width="750" cellspacing="0" cellpadding="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td background="http://edenlp.com.ar/deremate/izq.png" width="25" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" style="text-align:center;"><img alt="" src="http://edenlp.com.ar/deremate/img_dr/visita.gif"><br>
<div align="center" style="text-align:center;"></div>
<p align="center" style="font-size: 30px; color: #0000ff;text-align:center;"><a href="http://eshops.deremate.com.ar/edenlp/" target="_blank" rel="nofollow"><strong>http://eshops.deremate.com.ar/edenlp/</strong></a></p>
<img alt="" src="http://edenlp.com.ar/deremate/supervendedores.png"><br> <img width="701" alt="" src="http://edenlp.com.ar/deremate/img_dr/revisa.gif" style="width:701px;"><br>
<div align="center" style="text-align:center;"></div>
</td>
<td background="http://edenlp.com.ar/deremate/der.jpg" width="24" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
<img alt="" src="http://edenlp.com.ar/deremate/pie.jpg"></td>
</tr>
</tbody>
</table>
</div>
            