
                <h4>Descripci&#xF3;n:</h4>
                <table id="TABLE_EDENLP" cellspacing="0" cellpadding="0" width="750" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td colspan="3"><img src="http://edenlp.com.ar/deremate/banne.png"><br>
<table cellspacing="0" cellpadding="0" width="750" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td bordercolor="#0000ff" align="middle" style="border-color:#0000ff;text-align:middle;">
<table cellspacing="0" cellpadding="0" width="700" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:700px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_der.png"></td>
<td width="421" style="width:421px;">
<p align="center" style="text-align:center;"><img src="http://edenlp.com.ar/deremate/img_dr/edenlp.gif"><br><img src="http://edenlp.com.ar/deremate/local.jpg" width="421" style="width:421px;"><br><img src="http://edenlp.com.ar/deremate/logo.png" width="421" style="width:421px;"><br><img src="http://edenlp.com.ar/deremate/img_dr/pais.gif"><br><img src="http://edenlp.com.ar/deremate/representaciones.png" width="421" style="width:421px;"></p>
</td>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_izq.png"></td>
</tr>
</tbody>
</table>
<img src="http://edenlp.com.ar/deremate/img_dr/aceptamos.gif" width="701" style="width:701px;"><br><img src="http://edenlp.com.ar/deremate/dolar.php"><br><img src="http://edenlp.com.ar/deremate/img_dr/consulta.gif" width="701" style="width:701px;"></td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td id="LEFT_EDENLP" width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td id="PRODUCT_EDENLP" align="middle" width="701" style="text-align:middle;width:701px;">
<table bordercolor="#ff0000" cellspacing="0" cellpadding="0" width="701" align="center" border="2" style="border-color:#ff0000;text-align:center;width:701px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:2px;border-top:2px;border-bottom:2px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td align="middle" background="http://edenlp.com.ar/deremate/img_dr/fondo_p.gif" style="text-align:middle;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo_p.gif);"><!-- "Descripcion" inicio -->
<div style="text-align: center;"><span style="font-size: x-large;">Guitarra Epiphone&#xA0;Les Paul CLASSIC-T 250-087-320</span></div>
<div style="text-align: center;"><span style="font-size: x-large;">Edenlp</span></div>
<div style="text-align: center;"><img src="https://mla-s2-p.mlstatic.com/384501-MLA20328564280_062015-C.jpg"></div>
<div style="text-align: center;"><img src="https://mla-s1-p.mlstatic.com/856401-MLA20328563890_062015-C.jpg"></div>
<div style="text-align: center;"><img src="https://mla-s2-p.mlstatic.com/398401-MLA20328563913_062015-C.jpg"></div>
<div style="text-align: center;"><span class="SpecGroup-Title">SPECIFICATIONS</span><span></span>
<table cellspacing="0" cellpadding="0" style="padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td valign="top" class="SpecFirstCell" style="vertical-align:top;">Body</td>
<td valign="top" style="vertical-align:top;">Mahogany</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" style="vertical-align:top;">Top</td>
<td valign="top" style="vertical-align:top;">AAA Flame Maple Veneer</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" style="vertical-align:top;">Neck</td>
<td valign="top" style="vertical-align:top;">3-piece Hard Maple with Volute</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" style="vertical-align:top;">Neck Shape</td>
<td valign="top" style="vertical-align:top;">1960s SlimTaper&#x2122;</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" style="vertical-align:top;">Neck Joint</td>
<td valign="top" style="vertical-align:top;">Set</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" style="vertical-align:top;">Scale Length</td>
<td valign="top" style="vertical-align:top;">24.75&quot;</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" style="vertical-align:top;">Fingerboard</td>
<td valign="top" style="vertical-align:top;">Rosewood with &quot;Trapezoid&quot; Inlays</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" style="vertical-align:top;">Fingerboard Radius</td>
<td valign="top" style="vertical-align:top;">12&quot;</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" style="vertical-align:top;">Frets</td>
<td valign="top" style="vertical-align:top;">22 medium/jumbo</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" style="vertical-align:top;">Neck Pickup</td>
<td valign="top" style="vertical-align:top;">Epiphone Ceramic Plus-R&#x2122; Open Coil humbucker</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" style="vertical-align:top;">Bridge Pickup</td>
<td valign="top" style="vertical-align:top;">Epiphone Ceramic Plus-T&#x2122; Open Coil humbucker</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" colspan="2" style="vertical-align:top;"><strong><span style="text-decoration: underline;">Min-ETune&#x2122; Automatic Tuner System</span></strong></td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" colspan="2" style="vertical-align:top;">Featuring 18 Tuning presets including</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" style="vertical-align:top;">12 Factory Presets</td>
<td valign="top" style="vertical-align:top;"><br>1. &#xA0;Standard<br>2. &#xA0;DADGAD<br>3. &#xA0;LOW D<br>4. &#xA0;DROP D<br>5. &#xA0;Eb<br>6. &#xA0;DOUBLE DROP D<br>7. &#xA0;OPEN E<br>8. &#xA0;OPEN A<br>9. &#xA0;OPEN D<br>10. OPEN G<br>11. DOBRO<br>12. ALL 4<span>th</span></td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" colspan="2" style="vertical-align:top;">6 User Programmable Presets</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" style="vertical-align:top;">Controls</td>
<td valign="top" style="vertical-align:top;"><br>1-Neck Volume<br>1-Neck Tone<br>1-Bridge Volume<br>1-Bridge Tone</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" style="vertical-align:top;">Knobs</td>
<td valign="top" style="vertical-align:top;">Top Hats with chrome metal inserts</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" style="vertical-align:top;">Pickup Selector</td>
<td valign="top" style="vertical-align:top;">3-way Epiphone Toggle</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" style="vertical-align:top;">Nut</td>
<td valign="top" style="vertical-align:top;">Tronical SpeedNut&#x2122;</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" style="vertical-align:top;">Nut Width</td>
<td valign="top" style="vertical-align:top;">1.693&quot;</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" style="vertical-align:top;">Binding</td>
<td valign="top" style="vertical-align:top;"><br>Body Top-Back (1-layer)<br>Fingerboard-Black (1-layer)</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" style="vertical-align:top;">Hardware</td>
<td valign="top" style="vertical-align:top;">Nickel</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" style="vertical-align:top;">Headstock</td>
<td valign="top" style="vertical-align:top;">Clipped Ear, 14 degree angle</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" style="vertical-align:top;">Headstock Logo</td>
<td valign="top" style="vertical-align:top;">Vintage &quot;Epiphone&quot; (Pearloid) w/ &quot;Les Paul Model&quot; in gold silkprint and &quot;2014&quot; logo on back of headstock</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" style="vertical-align:top;">Truss Rod Cover</td>
<td valign="top" style="vertical-align:top;">Bell shape, black and white (2-layer)</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" style="vertical-align:top;">Truss Rod Logo</td>
<td valign="top" style="vertical-align:top;">&quot;Les Paul Classic-T&quot; in white</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" style="vertical-align:top;">Machine Heads</td>
<td valign="top" style="vertical-align:top;">Min-ETune&#x2122; Machine Heads with vintage style keys 40:1 ratio</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" style="vertical-align:top;">Bridge</td>
<td valign="top" style="vertical-align:top;">LockTone&#x2122; Tune-o-matic</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" style="vertical-align:top;">Tailpiece</td>
<td valign="top" style="vertical-align:top;">LockTone&#x2122; Stopbar</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" style="vertical-align:top;">Strap buttons</td>
<td valign="top" style="vertical-align:top;">Yes</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" style="vertical-align:top;">Pickguard</td>
<td valign="top" style="vertical-align:top;">Black</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" style="vertical-align:top;">Back Cavity Cover</td>
<td valign="top" style="vertical-align:top;">Black</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" style="vertical-align:top;">Output</td>
<td valign="top" style="vertical-align:top;">&#xBC;&quot; Epiphone Heavy Duty Non-Rotating Jack</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" style="vertical-align:top;">Includes</td>
<td valign="top" style="vertical-align:top;">Epiphone User manual, Min-ETune&#x2122; Quick Start Guide, 1 Min-ETune&#x2122; battery, MineETune&#x2122; Battery Charger</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" style="vertical-align:top;">Colors</td>
<td valign="top" style="vertical-align:top;">Black Cherry, Midnight Ebony, Midnight Sapphire</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" style="vertical-align:top;">Typical Weight (+/- 5%)</td>
<td valign="top" style="vertical-align:top;">9.1 lbs</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" style="vertical-align:top;">Strings</td>
<td valign="top" style="vertical-align:top;">D&#x2019;Addario&#xAE; 10, 13, 17, 26, 36, 46</td>
</tr>
</tbody>
</table>
</div>
<div style="text-align: center;"></div>
<div style="text-align: center;"></div>
<div style="text-align: center;"></div>
<br><!-- "Descripcion" final --></td>
</tr>
</tbody>
</table>
</td>
<td id="RIGTH_EDENLP" width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
<tr>
<td colspan="3">
<table cellspacing="0" cellpadding="0" width="750" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="middle" style="text-align:middle;"><img src="http://edenlp.com.ar/deremate/img_dr/visita.gif"><br>
<div align="center" style="text-align:center;"></div>
<p style="font-size: 30px; color: #0000ff;text-align:center;" align="center"><a href="http://eshops.deremate.com.ar/edenlp/" target="_blank" rel="nofollow"><strong>http://eshops.deremate.com.ar/edenlp/</strong></a></p>
<img src="http://edenlp.com.ar/deremate/supervendedores.png"><br><img src="http://edenlp.com.ar/deremate/img_dr/revisa.gif" width="701" style="width:701px;"><br>
<div align="center" style="text-align:center;"></div>
</td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
<img src="http://edenlp.com.ar/deremate/pie.jpg"></td>
</tr>
</tbody>
</table>
            