
                <h4>Descripci&#xF3;n:</h4>
                <table cellspacing="0" cellpadding="0" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="width: 750px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td colspan="3"><img alt="" src="http://edenlp.com.ar/deremate/banne.png"><br>
<table cellspacing="0" cellpadding="0" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="width: 750px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td bordercolor="#0000ff" align="center" style="border-color:#0000ff;text-align:center;">
<table cellspacing="0" cellpadding="0" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="width: 700px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="139" style="width:139px;"><img alt="" src="http://edenlp.com.ar/deremate/img.php?src=img_der.png"></td>
<td width="421" style="width:421px;">
<p align="center" style="text-align:center;"><img alt="" src="http://edenlp.com.ar/deremate/img_dr/edenlp.gif"><br><img width="421" alt="" src="http://edenlp.com.ar/deremate/local.jpg" style="width:421px;"><br><img width="421" alt="" src="http://edenlp.com.ar/deremate/logo.png" style="width:421px;"><br><img alt="" src="http://edenlp.com.ar/deremate/img_dr/pais.gif"><br><img width="421" alt="" src="http://edenlp.com.ar/deremate/representaciones.png" style="width:421px;"></p>
</td>
<td width="139" style="width:139px;"><img alt="" src="http://edenlp.com.ar/deremate/img.php?src=img_izq.png"></td>
</tr>
</tbody>
</table>
<img width="701" alt="" src="http://edenlp.com.ar/deremate/img_dr/aceptamos.gif" style="width:701px;"><br><img alt="" src="http://edenlp.com.ar/deremate/dolar.php"><br><img width="701" alt="" src="http://edenlp.com.ar/deremate/img_dr/consulta.gif" style="width:701px;"></td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" width="701" style="text-align:center;width:701px;">
<table bordercolor="#ff0000" cellspacing="0" cellpadding="0" align="center" border="2" style="width: 701px;border-color:#ff0000;text-align:center;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:2px;border-top:2px;border-bottom:2px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo_p.gif" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo_p.gif);"><span style="font-size: 30px;"></span>
<div style="text-align: center;">
<div style="text-align: center;">
<div style="text-align: center;"><span style="font-size: x-large;">Cuerdas Daddario ECB80SL P/bajo 40-95&#xA0;Edenlp</span></div>
</div>
</div>
<div style="text-align: center;"><img src="https://mla-s2-p.mlstatic.com/718701-MLA20403390711_092015-C.jpg"></div>
<div style="text-align: center;">D&apos;Addario ECB80 , cuerdas para bajo, blandas, 40-95, escala s&#xFA;per larga</div>
<div style="text-align: center;"><br></div>
<div style="text-align: center;">
<p>ECB80SL, una versi&#xF3;n extra larga de las cuerdas de entochado plano para bajo m&#xE1;s livianas de D&apos;Addario, son conocidas por su tono c&#xE1;lido y melodioso y por su sensaci&#xF3;n de pulido suave al tacto. Las cuerdas de la serie Chromes proporcionan graves profundos e intensos, lo que las convierte en la opci&#xF3;n de entorchado plano preferida entre los m&#xFA;sicos de Jazz, R&amp;B y Pop. Aptas para bajos de escala larga con una longitud de escala de la cuerda de hasta 36 1/4 pulgadas.</p>
<ul>
</ul><ul>
</ul><ul>
<li>Versi&#xF3;n extra larga del juego de calibre m&#xE1;s liviano con entorchado plano de D&apos;Addario para bajo.</li>
<li>Entorchado con cord&#xF3;n y pulido para proporcionar una sensaci&#xF3;n extra suave y un tono c&#xE1;lido y melodioso.</li>
<li>Aptas para bajos de escala extra larga con una longitud de escala de la cuerda de hasta 38 pulgadas.</li>
<li>Fabricado en EE. UU. para ofrecer la m&#xE1;xima calidad y rendimiento.</li>
<li>Calibres de las cuerdas: Entorchado .040, .060, .075, .095</li>
<li>Paquete ecol&#xF3;gico y resistente a la corrosi&#xF3;n para conservar la frescura de las cuerdas.</li>
</ul>


<div>Las cuerdas para bajo de la serie Chromes de D&apos;Addario est&#xE1;n entorchadas con un cord&#xF3;n de acero inoxidable aplanado y pulido para lograr una superficie incre&#xED;blemente suave. A trav&#xE9;s de su sonido con abundantes tonos y su efecto amortiguado caracter&#xED;stico, la serie Chromes de D&apos;Addario ofrece las cuerdas de entorchado plano m&#xE1;s populares del mundo.</div>
</div>
<span style="font-size: x-large;"></span></td>
</tr>
</tbody>
</table>
</td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
<tr>
<td colspan="3">
<table cellspacing="0" cellpadding="0" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="width: 750px;text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" style="text-align:center;"><img alt="" src="http://edenlp.com.ar/deremate/img_dr/visita.gif"><br>
<div align="center" style="text-align:center;"></div>
<p align="center" style="font-size: 30px; color: #0000ff;text-align:center;"><a target="_blank" href="http://eshops.deremate.com.ar/edenlp/" rel="nofollow &quot;nofollow&quot;"><strong>http://eshops.deremate.com.ar/edenlp/</strong></a></p>
<img alt="" src="http://edenlp.com.ar/deremate/supervendedores.png"><br><img width="701" alt="" src="http://edenlp.com.ar/deremate/img_dr/revisa.gif" style="width:701px;"><br>
<div align="center" style="text-align:center;"></div>
</td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
<img alt="" src="http://edenlp.com.ar/deremate/pie.jpg"></td>
</tr>
</tbody>
</table>
            