
                <h4>Descripci&#xF3;n:</h4>
                <div id="itemEditDescrML">
<table id="TABLE_EDENLP" cellspacing="0" cellpadding="0" width="750" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td colspan="3"><img alt="" src="http://edenlp.com.ar/deremate/banne.png"><br>
<table cellspacing="0" cellpadding="0" width="750" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td bordercolor="#0000ff" align="center" style="border-color:#0000ff;text-align:center;">
<table cellspacing="0" cellpadding="0" width="700" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:700px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="139" style="width:139px;"><img alt="" src="http://edenlp.com.ar/deremate/img.php?src=img_der.png"></td>
<td width="421" style="width:421px;">
<p align="center" style="text-align:center;"><img alt="" src="http://edenlp.com.ar/deremate/img_dr/edenlp.gif"><br><img width="421" alt="" src="http://edenlp.com.ar/deremate/local.jpg" style="width:421px;"><br><img width="421" alt="" src="http://edenlp.com.ar/deremate/logo.png" style="width:421px;"><br><img alt="" src="http://edenlp.com.ar/deremate/img_dr/pais.gif"><br><img width="421" alt="" src="http://edenlp.com.ar/deremate/representaciones.png" style="width:421px;"></p>
</td>
<td width="139" style="width:139px;"><img alt="" src="http://edenlp.com.ar/deremate/img.php?src=img_izq.png"></td>
</tr>
</tbody>
</table>
<img width="701" alt="" src="http://edenlp.com.ar/deremate/img_dr/aceptamos.gif" style="width:701px;"><br><img alt="" src="http://edenlp.com.ar/deremate/dolar.php"><br><img width="701" alt="" src="http://edenlp.com.ar/deremate/img_dr/consulta.gif" style="width:701px;"></td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td id="LEFT_EDENLP" width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td id="PRODUCT_EDENLP" align="center" width="701" style="text-align:center;width:701px;">
<table bordercolor="#ff0000" cellspacing="0" cellpadding="0" width="701" align="center" border="2" style="border-color:#ff0000;text-align:center;width:701px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:2px;border-top:2px;border-bottom:2px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo_p.gif" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo_p.gif);"><!-- "Descripcion" inicio -->
<div style="text-align: center;"><span style="font-size: x-large;">Mixer potenciada Phonic Power1860Plus Edenlp</span></div>
<div style="text-align: center;"><span style="font-size: x-large;"><br></span></div>
<div style="text-align: center;"><img src="https://mla-s2-p.mlstatic.com/905501-MLA20329216545_062015-C.jpg"></div>
<div style="text-align: center;"><img src="https://mla-s2-p.mlstatic.com/343501-MLA20329216215_062015-C.jpg"></div>
<div style="text-align: center;"><img src="https://mla-s2-p.mlstatic.com/782501-MLA20329216223_062015-C.jpg"></div>
<div style="text-align: center;">
<h4>Mezcladora Potenciada 12-Canales 800W con Gr&#xE1;fica EQ &amp; DFX</h4>
<div class="cm-tabs-content clear">
<ul>
<li>Amplificador de potencia est&#xE9;reo de 2 x 400W / 4 ohms (bridgeable y patchable)</li>
<li>8 entradas de micr&#xF3;fono balanceadas con inserciones</li>
<li>Dos entradas de canales de l&#xED;nea est&#xE9;reo con jack RCA est&#xE9;reo adicional</li>
<li>EQ de 3-bandas en todas entradas de canales</li>
<li>EQ de 7-bandas est&#xE9;reo gr&#xE1;fico asignable a Main o Aux 1</li>
<li>Procesador de efectos digitales 32-bit con 100 programas predeterminados m&#xE1;s efectos de tap retardo, tonos de prueba e foot switch jack</li>
<li>Cuatro env&#xED;os AUX (AUX 1/2 son pre-fader y EFX 1/2 son post-fader)</li>
<li>Dos retornos AUX est&#xE9;reo, cada uno puede ser ruteado a AUX 1 &amp; 2 env&#xED;os (efecto a monitor)</li>
<li>Entradas est&#xE9;reo RCA y salidas para reproductores de CD o MP3 externos.</li>
<li>Fuente fantasma +48V agrupado para aplicaciones de mesa</li>
<li>Salida mono para extra relleno de zona o fuente de proceso de subwoofer</li>
<li>PFL en cada entrada y AFL en cada salida</li>
<li>Cuatro env&#xED;os AUX (AUX 1/2 son pre-fader y EFX 1/2 son post-fader</li>
<li>Dos retornos AUX est&#xE9;reo, cada uno puede ser ruteado a env&#xED;os AUX 1 &amp; 2 (efecto a monitor)</li>
<li>Interruptor standby para mute canales 1 a 12 para ejecutar m&#xFA;sica entre sets</li>
<li>Salida zona 2 para relleno lateral u otro sistema PA</li>
<li>Salida aud&#xED;fono/sala de control con control de nivel giratorio</li>
<li>Un jack profesional tipo-speakon y dos jacks de 1/4&#x201D; por canal para conexi&#xF3;n de altavoz</li>
<li>Peso liviano mediante interruptor de suministro de potencia de alta efectividad</li>
<li>Chassis principal de metal fuerte con manija integrada</li>
<li>Cubierta protectora moldeada previene rallar o da&#xF1;ar la Mezcladora</li>
<li>Energ&#xED;a principal intercambiable entre 115 VAC y 230 VAC</li>
</ul>
</div>
</div>
<br><br><!-- "Descripcion" final --></td>
</tr>
</tbody>
</table>
</td>
<td id="RIGTH_EDENLP" width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
<tr>
<td colspan="3">
<table cellspacing="0" cellpadding="0" width="750" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" style="text-align:center;"><img alt="" src="http://edenlp.com.ar/deremate/img_dr/visita.gif"><br>
<div align="center" style="text-align:center;"></div>
<p align="center" style="font-size: 30px; color: #0000ff;text-align:center;"><a target="_blank" href="http://eshops.deremate.com.ar/edenlp/" rel="nofollow"><strong>http://eshops.deremate.com.ar/edenlp/</strong></a></p>
<img alt="" src="http://edenlp.com.ar/deremate/supervendedores.png"><br><img width="701" alt="" src="http://edenlp.com.ar/deremate/img_dr/revisa.gif" style="width:701px;"><br>
<div align="center" style="text-align:center;"></div>
</td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
<img alt="" src="http://edenlp.com.ar/deremate/pie.jpg"></td>
</tr>
</tbody>
</table>
</div>
            