
                <h4>Descripci&#xF3;n:</h4>
                
<table id="TABLE_EDENLP" cellspacing="0" cellpadding="0" width="750" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td colspan="3"><img src="http://edenlp.com.ar/deremate/banne.png"><br>
<table cellspacing="0" cellpadding="0" width="750" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td bordercolor="#0000ff" align="middle" style="border-color:#0000ff;text-align:middle;">
<table cellspacing="0" cellpadding="0" width="700" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:700px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_der.png"></td>
<td width="421" style="width:421px;">
<p align="center" style="text-align:center;"><img src="http://edenlp.com.ar/deremate/img_dr/edenlp.gif"><br><img src="http://edenlp.com.ar/deremate/local.jpg" width="421" style="width:421px;"><br><img src="http://edenlp.com.ar/deremate/logo.png" width="421" style="width:421px;"><br><img src="http://edenlp.com.ar/deremate/img_dr/pais.gif"><br><img src="http://edenlp.com.ar/deremate/representaciones.png" width="421" style="width:421px;"></p>
</td>
<td width="139" style="width:139px;"><img src="http://edenlp.com.ar/deremate/img.php?src=img_izq.png"></td>
</tr>
</tbody>
</table>
<img src="http://edenlp.com.ar/deremate/img_dr/aceptamos.gif" width="701" style="width:701px;"><br><img src="http://edenlp.com.ar/deremate/dolar.php"><br><img src="http://edenlp.com.ar/deremate/img_dr/consulta.gif" width="701" style="width:701px;"></td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td id="LEFT_EDENLP" width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td id="PRODUCT_EDENLP" align="middle" width="701" style="text-align:middle;width:701px;">
<table bordercolor="#ff0000" cellspacing="0" cellpadding="0" width="701" align="center" border="2" style="border-color:#ff0000;text-align:center;width:701px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:2px;border-top:2px;border-bottom:2px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td align="middle" background="http://edenlp.com.ar/deremate/img_dr/fondo_p.gif" style="text-align:middle;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo_p.gif);"><!-- "Descripcion" inicio -->
<div style="text-align: center;"><span style="font-size: x-large;">Sintetizador Korg Krome-88 digital 88 Teclas Edenlp</span></div>
<div style="text-align: center;"><span style="font-size: x-large;"><br></span></div>
<div style="text-align: center;"><span style="font-size: x-large;"><img src="https://a248.e.akamai.net/mla-s2-p.mlstatic.com/14726-MLA20089693701_052014-C.jpg"></span></div>
<div style="text-align: center;"><span style="font-size: small;">The Korg Krome-88 brings you a top-of-the-line professional digital keyboard with authentically weighted piano action. It delivers complete all-around functionality for any style of keyboard playing, and comes preloaded with numerous unlooped instrument sounds that sound so gorgeous you&apos;ll want to use them in the studio as much as you do on stage.</span></div>
<div style="text-align: center;"><span style="font-size: small;"><br></span></div>
<div style="text-align: center;">
<h3><span style="font-size: small;">A True Workstation</span></h3>
<span style="font-size: small;">The Korg Krome-88 isn&apos;t just a keyboard -- it&apos;s a true full-featured musical creation engine. In addition to its easy-to-use 16-track sequencer, it&apos;s got a sweet Auto Song Setup feature that allows you to sketch entire compositions quickly and easily. Now there&apos;s only a single REC button standing between your inspiration and the finished idea! And when you&apos;re taking the time to prepare arrangements for a live set or studio gig, Korg&apos;s Cue List feature will allow you to get all the different parts in the right place as fast as humanly possible.<br><br></span>
<h3><span style="font-size: small;">A Grand Piano that Goes Anywhere</span></h3>
<span style="font-size: small;">Even with 640 Programs (individual voices) and 288 gig-ready Combinations, sometimes you really just need the sound of a great grand piano. And the Korg Krome might well be the best option out there. The German D Grand Piano patch on the Korg Krome-88 is rendered with so much detail that it uses dozens of times more memory than most keyboards do total. Good thing it&apos;s got a whopping 3.8 GB of PCM memory on board! Down to replicating the sound of damper resonances, the Krome-88 offers a piano experience that even classically-trained musicians will appreciate.<br><br></span>
<h3><span style="font-size: small;">Please Stop Carrying Around That Dusty Old Rhodes</span></h3>
<span style="font-size: small;">Korg delivered the same degree of detail when they created the Krome-88&apos;s electronic piano sounds. Each of its three electric piano models is rendered at 8 distinct dynamic levels to assure a faithful response to the subtleties of the musician&apos;s touch.<br><br></span>
<h3><span style="font-size: small;">The Keyboardist Can Finally Fire That Drummer She Hates</span></h3>
<span style="font-size: small;">The Krome-88 goes beyond typical digital keyboards with its inclusion of the Jazz Ambiance Drums patch set that was so acclaimed on the now-famous Korg Kronos. Once again, the massive PCM memory onboard this instrument gives you sounds you&apos;ll want to use in any type of performance situation. Choose from more than 600 preset rhythm sequences or create your own patterns and loops!<br><br></span>
<h3><span style="font-size: small;">Good Effects On You</span></h3>
<span style="font-size: small;">The FX section gives you 5 insert slots for each preset, so you can create custom combinations of reverbs, delays, filters, flangers, phasers, and more. And if your music is looking for some new sounds altogether, patches like the Grain Shifter and the onboard amp modeling features will take you into tonal realms you&apos;ve never even considered before. After all, the Krome is a Korg, so it makes sense that it&apos;s a stellar tool for creating killer sounds from scratch.<br><br></span>
<h3><span style="font-size: small;">Software Support When You Want It</span></h3>
<span style="font-size: small;">The Krome-88 comes USB-ready. In addition to hooking up effortlessly with any DAW, this port allows you to interface with the included Krome Plug-in Editing Software. With this you can prepare your sounds and FX inserts before your gig, or control them with a DAW in real time by connecting to a computer. And right next to the USB port you&apos;ll find an SD card reader to save files and patches when you don&apos;t have your computer on hand!<br><br></span>
<h3><span style="font-size: small;">Beautiful On Every Level</span></h3>
<span style="font-size: small;">The dark, curved body design with two contrasting aluminum panels projects a striking, high-end allure. But once your audience hears the sound coming off this slick board, they&apos;ll understand that the quality embodied by the Korg Krome-88 is more than skin deep. We think you&apos;ll pick up that pretty quickly too.<br><br></span>
<h3><span style="font-size: small;">Features:</span></h3>
<span style="font-size: x-large;"><span><span style="font-size: small;">- Korg&apos;s NH keybed: Fully weighted, graded 88-key keyboard</span><br><span style="font-size: small;">- Full-length unlooped acoustic and electric piano and drum sounds</span><br><span style="font-size: small;">- A gorgeous and intuitive 7-inch color TouchView control display</span><br><span style="font-size: small;">- Pre-programmed with 640 gorgeous sounds and 288 combi patches</span><br><span style="font-size: small;">- 5 FX Inserts for each preset, along with 2 Master FX, and 1 Total FX</span><br><span style="font-size: small;">- Timbre and EQ adjustment on each track</span><br><span style="font-size: small;">- Distinctive design with stylish contrasting aluminum panels</span><br><span style="font-size: small;">- USB connection</span><br><span style="font-size: small;">- SD Card slot for data storage</span><br><span style="font-size: small;">- Includes Krome software editor to edit sounds on your computer</span><br><span style="font-size: small;">- Complete MIDI I/O</span><br><span style="font-size: small;">- Standard 1/4-inch L and R outputs</span><br><span style="font-size: small;">- Can be connected to optional Korg XVP-10 Expression Pedal, EXP-2 Foot Controller, DS-1H Damper Pedal, or PS-1/PS-3 Pedal Switch</span><br><span style="font-size: small;">- 3.5mm stereo headphone jack</span><br></span></span></div>
<div style="text-align: center;"><span style="font-size: x-large;"><br></span></div>
<div style="text-align: center;"></div>
<div style="text-align: center;"></div>
<!-- "Descripcion" final --></td>
</tr>
</tbody>
</table>
</td>
<td id="RIGTH_EDENLP" width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
<tr>
<td colspan="3">
<table cellspacing="0" cellpadding="0" width="750" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="middle" style="text-align:middle;"><img src="http://edenlp.com.ar/deremate/img_dr/visita.gif"><br>
<div align="center" style="text-align:center;"></div>
<p style="font-size: 30px; color: #0000ff;text-align:center;" align="center"><a href="http://eshops.deremate.com.ar/edenlp/" target="_blank" rel="nofollow"><strong>http://eshops.deremate.com.ar/edenlp/</strong></a></p>
<img src="http://edenlp.com.ar/deremate/supervendedores.png"><br><img src="http://edenlp.com.ar/deremate/img_dr/revisa.gif" width="701" style="width:701px;"><br>
<div align="center" style="text-align:center;"></div>
</td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
<img src="http://edenlp.com.ar/deremate/pie.jpg"></td>
</tr>
</tbody>
</table>
            