
                <h4>Descripci&#xF3;n:</h4>
                
<div id="itemEditDescrML">
<table id="TABLE_EDENLP" cellspacing="0" cellpadding="0" width="750" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td colspan="3"><img alt="" src="http://edenlp.com.ar/deremate/banne.png"><br>
<table cellspacing="0" cellpadding="0" width="750" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td bordercolor="#0000ff" align="center" style="border-color:#0000ff;text-align:center;">
<table cellspacing="0" cellpadding="0" width="700" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:700px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="139" style="width:139px;"><img alt="" src="http://edenlp.com.ar/deremate/img.php?src=img_der.png"></td>
<td width="421" style="width:421px;">
<p align="center" style="text-align:center;"><img alt="" src="http://edenlp.com.ar/deremate/img_dr/edenlp.gif"><br><img width="421" alt="" src="http://edenlp.com.ar/deremate/local.jpg" style="width:421px;"><br><img width="421" alt="" src="http://edenlp.com.ar/deremate/logo.png" style="width:421px;"><br><img alt="" src="http://edenlp.com.ar/deremate/img_dr/pais.gif"><br><img width="421" alt="" src="http://edenlp.com.ar/deremate/representaciones.png" style="width:421px;"></p>
</td>
<td width="139" style="width:139px;"><img alt="" src="http://edenlp.com.ar/deremate/img.php?src=img_izq.png"></td>
</tr>
</tbody>
</table>
<img width="701" alt="" src="http://edenlp.com.ar/deremate/img_dr/aceptamos.gif" style="width:701px;"><br><img alt="" src="http://edenlp.com.ar/deremate/dolar.php"><br><img width="701" alt="" src="http://edenlp.com.ar/deremate/img_dr/consulta.gif" style="width:701px;"></td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td id="LEFT_EDENLP" width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td id="PRODUCT_EDENLP" align="center" width="701" style="text-align:center;width:701px;"><br>
<table bordercolor="#ff0000" cellspacing="0" cellpadding="0" width="701" align="center" border="2" style="border-color:#ff0000;text-align:center;width:701px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:2px;border-top:2px;border-bottom:2px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo_p.gif" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo_p.gif);">
<div style="text-align: center;"><span style="font-size: x-large;">Auricular Idance EB-X104 In Ear,<br> C/microfono, &#xA0;C/dj Sof</span></div>
<div style="text-align: center;"><span style="font-size: x-large;"><br></span></div>
<div style="text-align: center;"><span style="font-size: x-large;"><img src="http://img1.mlstatic.com/s_MLA_v_C_f_5218027452_102013.jpg"></span></div>
<div style="text-align: center;"><span style="font-size: x-large;"><br></span></div>
<div style="text-align: center;">
<div><span><span><span id="result_box" lang="es"><span class="hps">Auriculares In Ear</span></span></span><span><span id="result_box" lang="es"><span class="hps">&#xA0;de neodimio</span></span></span><span><span id="result_box" lang="es"><span class="hps">&#xA0;de cable plano con conector de 3.5mm,&#xA0;</span>&#xA0;<span class="hps">micr&#xF3;fono</span>&#xA0;<span class="hps">incluido para</span>&#xA0;<span class="hps">iPhone</span>, iPad&#xA0;<span class="hps">o tablet.</span></span></span></span><span><span id="result_box" lang="es"><span class="hps">&#xA0;Incluye como accesorio funda de transporte</span><span class="hps">.</span></span></span></div>
<div><span><span lang="es"><br></span></span></div>
<div><span><strong>ESPECIFICACIONES</strong></span></div>
<div><span><br><span>Tipo del driver :&#xA0; Neodimio</span><br><span>Sensibilidad : 98 dB&#xA0;</span><br><span>Impedancia : 32 Ohms</span><br><span>Rango de Frecuencia : 15 Hz - 20 KHz</span><br><span>Conector de Entrada : 3.5mm&#xA0;</span><br><span>Cable : 1.2 mts</span></span></div>
<div><span><span>Peso: 12grs</span></span></div>
</div>
<div style="text-align: center;"></div>
<div style="text-align: center;"></div>
<!-- "Descripcion" final --></td>
</tr>
</tbody>
</table>
</td>
<td id="RIGTH_EDENLP" width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
<tr>
<td colspan="3">
<table cellspacing="0" cellpadding="0" width="750" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" border="0" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" style="text-align:center;"><img alt="" src="http://edenlp.com.ar/deremate/img_dr/visita.gif"><br>
<div align="center" style="text-align:center;"></div>
<p align="center" style="font-size: 30px; color: #0000ff;text-align:center;"><a target="_blank" href="http://eshops.deremate.com.ar/edenlp/" rel="nofollow"><strong>http://eshops.deremate.com.ar/edenlp/</strong></a></p>
<img alt="" src="http://edenlp.com.ar/deremate/supervendedores.png"><br><img width="701" alt="" src="http://edenlp.com.ar/deremate/img_dr/revisa.gif" style="width:701px;"><br>
<div align="center" style="text-align:center;"></div>
</td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
<img alt="" src="http://edenlp.com.ar/deremate/pie.jpg"></td>
</tr>
</tbody>
</table>
</div>
            