
                <h4>Descripci&#xF3;n:</h4>
                <div align="center" style="text-align:center;">
<table cellspacing="0" cellpadding="0" width="701" border="0" style="width:701px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td><img alt="" src="http://edenlp.com.ar/deremate/banne.png"></td></tr></tbody></table>
<table cellspacing="0" cellpadding="0" width="750" border="0" style="width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;">&#xA0;</td>
<td bordercolor="#0000ff" bgcolor="#dededd" style="border-color:#0000ff;background-color:#dededd;">
<table cellspacing="0" cellpadding="0" width="700" border="0" style="width:700px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="139" style="width:139px;">
<div align="center" style="text-align:center;"><img alt="" src="http://edenlp.com.ar/deremate/img.php?src=img_der.png"></div></td>
<td width="422" style="width:422px;">
<table cellspacing="0" cellpadding="0" width="200" align="center" border="0" style="text-align:center;width:200px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td><span style="FONT-SIZE: 40px; COLOR: rgb(255,0,0);"><strong><img height="60" alt="" src="http://edenlp.com.ar/deremate/super_vendedor.png" width="60" style="height:60px;width:60px;"></strong></span></td>
<td valign="center" style="vertical-align:center;"><span style="FONT-SIZE: 40px; COLOR: rgb(255,0,0);"><strong><em>edenlp...</em></strong></span></td>
<td><span style="FONT-SIZE: 40px; COLOR: rgb(255,0,GARANTIA OFICIAL DE 6 MESES
&lt;br&gt;DESDE LA PLATA A TODO EL PAIS
&lt;br&gt;TODAS LAS MARCAS Y MODELOS EN UN SOLO LUGAR
&lt;br&gt;edenlp?
&lt;br&gt;edenlp
&lt;br&gt;Desde La Plata a TODO el pais
&lt;br&gt;Mira todos nuestros productos en:
&lt;br&gt;http://eshops.mercadolibre.com.ar/edenlp/
&lt;br&gt;ATENCION !! CONSULTAR STOCK ANTES DE OFERTAR
&lt;br&gt;Todas las marcas y modelos en un solo sitio, edenlp?..
&lt;br&gt;GARANTIA OFICIAL DE 6 MESES
&lt;br&gt;REPRESENTANTES OFIICALES DE 
&lt;br&gt;IBANEZ, GRACIA, GIBSON, FENDER Y MAS
&lt;br&gt;Trabajamos con OCA contrareembolso (10% de recargo)
&lt;br&gt;A contra dep&#xF3;sito sin recargo
&lt;br&gt;VENTA ONLINE con tarjetas de cr&#xE9;dito
&lt;br&gt;5 a&#xF1;os de experiencia en la venta ONLINE
&lt;br&gt;ATENCION !!! ALGUNOS PRODUCTOS PUEDEN ESTAR DISCONTINUADOS, CONSULTAR STOCK ANTES DE OFERTAR
&lt;br&gt;;"></span></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></div>
            