
                <h4>Descripci&#xF3;n:</h4>
                <table width="750" border="0" align="center" cellpadding="0" cellspacing="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td colspan="3"><img alt="" src="http://edenlp.com.ar/deremate/banne.png"><br>
<table width="750" border="0" cellspacing="0" cellpadding="0" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td bordercolor="#0000FF" align="center" style="border-color:#0000FF;text-align:center;">
<table width="700" border="0" cellspacing="0" cellpadding="0" align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:700px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="139" style="width:139px;"><img alt="" src="http://edenlp.com.ar/deremate/img.php?src=img_der.png"></td>
<td width="421" style="width:421px;">
<p align="center" style="text-align:center;"><img alt="" src="http://edenlp.com.ar/deremate/img_dr/edenlp.gif"><br> <img width="421" alt="" src="http://edenlp.com.ar/deremate/local.jpg" style="width:421px;"><br> <img width="421" alt="" src="http://edenlp.com.ar/deremate/logo.png" style="width:421px;"><br> <img alt="" src="http://edenlp.com.ar/deremate/img_dr/pais.gif"><br> <img width="421" alt="" src="http://edenlp.com.ar/deremate/representaciones.png" style="width:421px;"></p>
</td>
<td width="139" style="width:139px;"><img alt="" src="http://edenlp.com.ar/deremate/img.php?src=img_izq.png"></td>
</tr>
</tbody>
</table>
<img width="701" alt="" src="http://edenlp.com.ar/deremate/img_dr/aceptamos.gif" style="width:701px;"><br> <img alt="" src="http://edenlp.com.ar/deremate/dolar.php"><br> <img width="701" alt="" src="http://edenlp.com.ar/deremate/img_dr/consulta.gif" style="width:701px;"></td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td width="701" align="center" style="text-align:center;width:701px;">
<table width="701" border="2" align="center" cellpadding="0" cellspacing="0" bordercolor="#FF0000" style="border-color:#FF0000;text-align:center;width:701px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:2px;border-top:2px;border-bottom:2px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td align="center" background="http://edenlp.com.ar/deremate/img_dr/fondo_p.gif" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo_p.gif);">
<p style="margin-to1: 0px; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; padding-to1: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;"><span style="font-size: x-large;">Amplificador Multiprop&#xF3;sito Laney AH80 80w&#xA0;&#xA0;Edenlp</span></p>
<p style="margin-to1: 0px; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; padding-to1: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;"><img src="https://mla-s2-p.mlstatic.com/302601-MLA20370566822_082015-C.jpg"></p>
<p style="margin-to1: 0px; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; padding-to1: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;"><img src="https://mla-s1-p.mlstatic.com/546601-MLA20370566827_082015-C.jpg"></p>
<p style="margin-to1: 0px; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; padding-to1: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;"><img src="https://mla-s2-p.mlstatic.com/522701-MLA20370567974_082015-C.jpg"></p>
<p style="margin-to1: 0px; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; padding-to1: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;">El AH80 es un amplificador multi-instrumento capaz de aceptar entradas de micr&#xF3;fonos vocales, guitarras, teclados y equipos electr&#xF3;nicos. Entre sus principales caracter&#xED;sticas encontramos: 3 canales, Delay con controles de nivel, time y feedback, conectores XLR, jack 1/4 pulgada, mini jack, controles individuales de nivel de canal y EQ gr&#xE1;fico maestro de 5 bandas. La secci&#xF3;n Master incluye una entrada AUX, salida de l&#xED;nea y salida de auriculares.</p>
<table>
<tbody>
<tr><th>PESO</th>
<td>13,5 kg</td>
</tr>
<tr><th>POTENCIA</th>
<td>80 Watts</td>
</tr>
<tr><th>CANALES</th>
<td>3</td>
</tr>
<tr><th>DIMENSIONES</th>
<td>433 x 413 x 368 mm</td>
</tr>
<tr><th>NO. DE PARLANTES</th>
<td>1</td>
</tr>
<tr><th>SERIE</th>
<td>AH</td>
</tr>
<tr><th>MEDIDA PARLANTE</th>
<td>10 pulgadas</td>
</tr>
<tr><th>EFECTOS</th>
<td>Delay</td>
</tr>
</tbody>
</table>
<p style="margin-to1: 0px; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; padding-to1: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;"><br></p>
</td>
</tr>
</tbody>
</table>
</td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
<tr>
<td colspan="3">
<table width="750" border="0" align="center" cellpadding="0" cellspacing="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" style="text-align:center;background-image:url(http://edenlp.com.ar/deremate/img_dr/fondo.gif);width:750px;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;border-left:0px;border-top:0px;border-bottom:0px;border-spacing:0;border-collapse: separate;">
<tbody>
<tr>
<td width="25" background="http://edenlp.com.ar/deremate/izq.png" style="background-image:url(http://edenlp.com.ar/deremate/izq.png);width:25px;"></td>
<td align="center" style="text-align:center;"><img alt="" src="http://edenlp.com.ar/deremate/img_dr/visita.gif"><br>
<div align="center" style="text-align:center;"></div>
<p align="center" style="font-size: 30px; color: #0000ff;text-align:center;"><a target="_blank" href="http://eshops.deremate.com.ar/edenlp/" rel="nofollow &quot;nofollow&quot;"><strong>http://eshops.deremate.com.ar/edenlp/</strong></a></p>
<img alt="" src="http://edenlp.com.ar/deremate/supervendedores.png"><br> <img width="701" alt="" src="http://edenlp.com.ar/deremate/img_dr/revisa.gif" style="width:701px;"><br>
<div align="center" style="text-align:center;"></div>
</td>
<td width="24" background="http://edenlp.com.ar/deremate/der.jpg" style="background-image:url(http://edenlp.com.ar/deremate/der.jpg);width:24px;"></td>
</tr>
</tbody>
</table>
<img alt="" src="http://edenlp.com.ar/deremate/pie.jpg"></td>
</tr>
</tbody>
</table>
            