<span><!-- "Descripcion" inicio --></span>
<div><span>Piano Digital Casio Celviano AP650MBK 88 Teclas Edenlp</span></div>
<div><span><br></span></div>
<div><span><img src="http://img1.mlstatic.com/s_MLA_v_O_f_4353581273_052013.jpg"></span></div>
<div><span><br></span></div>
<div><span>Casio AP-650 MBK Celviano digital piano - 88 Scaled Hammer Action II Keys (Tri-Sensor) synthetic ebony/ivory Key&#xB4;s, 250 thomann sounds, Multi-Dimensional Morphing AiF, 128-voice polyphony, 180 styles, 6 demonstration-only songs, 180 one touch preset, split &amp; layer functions, DSP, 16-track sequencer, chorus, brilliance, 2-track sequencer, hammer response, damper resonance, Lid- and Key-of-Simulator, audio recording/playback, 60 songs, transposer, metronome, duett mode, LCD-Display thomann with backlit, 2 headphone jacks, top board open/close, 3 pedals ( halp damper ), USB to host port, USB to device flash drive port, stereo line input and output, Midi IN/OUT, 2-way 4-speakers 2 x 30 W, Dimensions incl. stand: 1377 x 427 x thomann 911 mm (H x W x D). Weight: 50,2 kg. Includes score book, music stand, headphone hook and power supply AD-E24500LW, color: satin black</span></div>
<div></div>
<div></div>
<div></div>
<!-- "Descripcion" final -->