<!-- "Descripcion" inicio -->
<div><span>Redoblante Mapex Birch MPBC3600CXN&#xA0;</span></div>
<div><span><br></span></div>
<div></div>
<div><span><img src="https://www.mercadolibre.com/jm/img?s=MLA&amp;v=O&amp;t=T&amp;f=3592340991_122012.jpg&amp;sll=509199)"><br></span></div>
<div><span><br></span></div>
<div><span><span></span></span>
<div><span>13x6, 8torres, bordona 20H, Wax Natural</span></div>
</div>
<div></div>
<!-- "Descripcion" final -->