<!-- "Descripcion" inicio -->
<div><span>Microfono P/guit Ds Pickups Ds43-M<br> Hum Cancelling Stack 05<br></span><br><img src="http://static.mercadoshops.com/jm/com.stores.framework.commons.imageproxy.ImgProxyServlet?v=i&amp;f=77726746-4528-1.jpg&amp;s=77726746&amp;item=4528" align="absmiddle" alt=""><br><br><span face="Arial, Helvetica, sans-serif"><b>SOMOS DISTRIBUIDORES OFICIALES<br>TIEMPO DE ENTREGA 7 A 10 D&#xCD;AS</b></span><span size="2" face="Arial, Helvetica, sans-serif"><b><br><br></b></span>
<p></p>
<p align="left"></p>
<table width="80%" border="1" cellspacing="0" cellpadding="0" align="center" bordercolor="#333333">
<tbody>
<tr>
<td>
<div align="center">
<p align="left"><span color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><b>APLICACIONES&#xA0;</b></span><span color="#999999" size="2" face="Arial, Helvetica, sans-serif"><br></span><span color="#999999" size="2"><span color="#CCCCCC" face="Arial, Helvetica, sans-serif">- Dise&#xF1;o doble en formato simple con cancelaci&#xF3;n de ruido&#xA0;<i>(hum-canceling)</i>dise&#xF1;ado para proveer un sonido m&#xE1;s contundente y c&#xE1;lido que el modelo Stack.06<br>- Recomendado para estilos rock, hard-rock, blues, pop, etc.</span></span></p>
<p><span color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><b>DESCRIPCION</b></span><span color="#999999" size="2" face="Arial, Helvetica, sans-serif"><br><b><span color="#C0C0C0">-&#xA0;</span></b><span color="#C0C0C0">Micr&#xF3;fono equipado con n&#xFA;cleos de ALNICO V y dos bobinas que ofrecen<span color="#FFFFFF"><b><i>resonancia dual</i></b></span>&#xA0;para una mejor respuesta en los rangos medios sin perder definici&#xF3;n!<br>- No se requiere modificar la cavidad original de la guitarra.<br></span><span color="#999999" size="2" face="Arial, Helvetica, sans-serif"><span color="#C0C0C0">- Presenta un sonido c&#xE1;lido seteado en limpio, al mismo tiempo que &quot;abre&quot; su definici&#xF3;n y rango din&#xE1;mico con el uso de distorsi&#xF3;n!<br>- Extremadamente silenciosos por estar recubiertas ambas bobinas con material conductivo.&#xA0;</span></span><span color="#C0C0C0" size="2" face="Arial, Helvetica, sans-serif"><b><br>-&#xA0;</b>Gran&#xA0;<i>sustain&#xA0;</i>y sensibilidad a la acci&#xF3;n de las cuerdas.&#xA0;<br></span><span color="#999999" size="2" face="Arial, Helvetica, sans-serif"><span color="#C0C0C0" size="2" face="Arial, Helvetica, sans-serif"><b>-&#xA0;</b>Manualmente ensamblado.</span></span><span color="#C0C0C0" size="2" face="Arial, Helvetica, sans-serif"><br></span><span color="#999999" size="2" face="Arial, Helvetica, sans-serif"><span color="#999999" size="2" face="Arial, Helvetica, sans-serif"><span color="#999999" size="2" face="Arial, Helvetica, sans-serif"><span color="#C0C0C0">- Ideal para m&#xFA;sicos que pueden combinarlo con un amplificador valvular seteado en limpio o distorsionado.</span></span></span></span><span color="#C0C0C0" size="2" face="Arial, Helvetica, sans-serif"><br></span><span color="#999999" size="2" face="Arial, Helvetica, sans-serif"><span color="#999999" size="2" face="Arial, Helvetica, sans-serif"><span color="#C0C0C0">- Equipado con n&#xFA;cleos desbastados de forma manual</span></span></span><span color="#C0C0C0" size="2" face="Arial, Helvetica, sans-serif">.<br><b>-&#xA0;</b>Dise&#xF1;ado para adaptarse a guitarras est&#xE1;ndar tipo americanas &#x2013; separaci&#xF3;n entre cuerdas 52,5mm.&#xA0;<br><b>-&#xA0;</b>Cable de 2 conductores + malla (fase reversible)&#xA0;<br>- Tornillos + tubos de l&#xE1;tex para una &#xF3;ptima calibraci&#xF3;n del micr&#xF3;fono.&#xA0;<br><b>-&#xA0;</b></span><span size="2" face="Arial, Helvetica, sans-serif" color="#999999"><span color="#C0C0C0">Base de fibra de vidrio (circuito impreso) con insertos de bronce est&#xE1;ndar 6/32&quot;</span></span><span face="Arial, Helvetica, sans-serif" size="2" color="#C0C0C0">.</span></span></p>
</div>
</td>
</tr>
</tbody>
</table>
<p></p>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td colspan="2" valign="top" height="254">
<p><span face="Arial, Helvetica, sans-serif" size="2" color="#C0C0C0"><b>-&#xA0;</b>Micr&#xF3;fono parafinado al vac&#xED;o para eliminar retroalimentaciones y acoples indeseados.&#xA0;<br><b>-&#xA0;</b>Incluye todos los accesorios de instalaci&#xF3;n y manual de instrucciones + diagrama de conexionado.<br><b>-&#xA0;</b>Embalado y sellado en caja de cedro lustrado con tapa de acr&#xED;lico.</span></p>
<p><span color="#999999" size="2" face="Arial, Helvetica, sans-serif"><span color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><b>GUITARRAS</b></span><span color="#999999" size="2" face="Arial, Helvetica, sans-serif"><br><b><span color="#C0C0C0">-</span></b><span color="#C0C0C0">&#xA0;Se adapta perfectamente a toda clase de instrumentos. Recomendado para diapasones de maple y&#xA0;<br>palisandro.&#xA0;</span></span><span color="#C0C0C0"><br></span></span></p>
<p><span color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><b>MODELOS DISPONIBLES</b></span><span color="#999999" size="2" face="Arial, Helvetica, sans-serif"><br><b><span color="#FFFFFF">-&#xA0;</span></b><span color="#FFFFFF">Tres versiones: neck (DS43-N), middle (DS43-M) y bridge</span><span color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">&#xA0;(DS43-B)&#xA0;</span><span color="#C0C0C0"><br><span color="#FFFFFF">-&#xA0;</span></span><span color="#999999" size="2" face="Arial, Helvetica, sans-serif"><span color="#999999" size="2" face="Arial, Helvetica, sans-serif"><span color="#C0C0C0"><span color="#FFFFFF">Color&#xA0;</span></span></span><span color="#FFFFFF">marfil</span></span><span color="#C0C0C0"><br><b>-&#xA0;</b>El modelo STACK.05 MIDDLE presenta polaridad invertida para cancelar ruido en las posiciones 2 y 4 de la llave selectora de cinco posiciones.&#xA0;<br></span></span></p>
</td>
</tr>
<tr>
<td width="54%" height="2">
<div align="center"><span color="#999999" size="3" face="Arial, Helvetica, sans-serif"><b><br></b></span>
<table width="93%" border="1" cellspacing="0" cellpadding="0" bordercolor="#666666">
<tbody>
<tr>
<td>
<div align="center"><span color="#999999" size="3" face="Arial, Helvetica, sans-serif"><b><span color="#F2DF86">Especificaciones T&#xE9;cnicas</span></b></span></div>
</td>
</tr>
</tbody>
</table>
</div>
<span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC"><b><span color="#F2DF86">&#x2022;</span>&#xA0;</b></span><span size="2" color="#C0C0C0" face="Arial, Helvetica, sans-serif">Resistencia 18,6 K ohms<br></span><span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC"><b><span color="#F2DF86">&#x2022;</span>&#xA0;</b></span><span size="2" color="#C0C0C0" face="Arial, Helvetica, sans-serif">ALNICO V&#xA0;<br></span><span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC"><b><span color="#F2DF86">&#x2022;</span>&#xA0;</b></span><span size="2" color="#C0C0C0" face="Arial, Helvetica, sans-serif">Cancelaci&#xF3;n de ruido = S&#xED;<br></span><span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC"><b><span color="#F2DF86">&#x2022;</span>&#xA0;</b></span><span size="2" color="#C0C0C0" face="Arial, Helvetica, sans-serif">Frecuencias de resonancia dual = 3,0 KHz y 7,0 KHz.<br></span><span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC"><b><span color="#F2DF86">&#x2022;</span>&#xA0;</b></span><span size="2" color="#C0C0C0" face="Arial, Helvetica, sans-serif">Salida: moderada</span></td>
<td width="46%" height="2">
<div align="center"></div>
</td>
</tr>
<tr>
<td colspan="2" height="175">
<div align="center"><br>
<table width="80%" border="1" cellpadding="0" cellspacing="0" bordercolor="#666666">
<tbody>
<tr>
<td>
<div align="center"><span color="#999999" size="3" face="Arial, Helvetica, sans-serif"><b><span color="#F2DF86">Respuesta en Frecuencia</span></b></span></div>
</td>
</tr>
</tbody>
</table>
<img src="http://www.dspickups.com.ar/Imagenes/Mics/Graficos/grstack.05.jpg" width="350" height="257" alt=""></div>
</td>
</tr>
</tbody>
</table>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
</div>
<!-- "Descripcion" final -->