
<div><span>Bajo&#xA0;&#xA0;Squier Jazz Bass Affinity 031-0760-# Edenlp</span></div>
<div></div>
<div></div>
<div><img src="https://mla-s1-p.mlstatic.com/205801-MLA20408862012_092015-C.jpg"></div>
<div><img src="https://mla-s1-p.mlstatic.com/727801-MLA20408860754_092015-C.jpg"></div>
<div>
<h2>AFFINITY SERIES&#x2122; JAZZ BASS&#xAE;</h2>
<p>Los bajos Squier Affinity Series ofrecen la mejor calidad en dise&#xF1;o de bajos. El Affinity Series Jazz Bass marca el ritmo con un sonido potente y una sensaci&#xF3;n r&#xE1;pida, y las novedades para el 2013 son un logotipo bicolor en la pala, golpeador de tres capas blanco/negro/blanco, clavijeros abiertos y llamativos acabados Lake Placid Blue, Burgundy Mist Metallic. Entre otras caracter&#xED;sticas se incluyen un diapas&#xF3;n de palo rosa con 20 trastes medios jumbo, pastillas dobles single-coil Jazz Bass y puente de carga superior.</p>
<p></p>
<div>
<div>
<p><img src="http://ne1.wpc.edgecastcdn.net/00077D/fender/images/2013/instruments/specs/squier/icon-body.png" alt="Body"></p>
Body</div>
<div>
<table width="100%">
<tbody>
<tr>
<td width="20%">Body Shape:</td>
<td width="80%">Jazz Bass&#xAE;</td>
</tr>
<tr>
<td width="20%">Body Material:</td>
<td width="80%">Alder</td>
</tr>
<tr>
<td width="20%">Body Finish:</td>
<td width="80%">Polyurethane</td>
</tr>
</tbody>
</table>
</div>
</div>
<hr>
<div>
<div>
<p><img src="http://ne1.wpc.edgecastcdn.net/00077D/fender/images/2013/instruments/specs/squier/icon-neck.png" alt="Neck"></p>
Neck</div>
<div>
<table width="100%">
<tbody>
<tr>
<td width="20%">Neck Material:</td>
<td width="80%">Maple</td>
</tr>
<tr>
<td width="20%">Neck Shape:</td>
<td width="80%">&quot;C&quot; Shape</td>
</tr>
<tr>
<td width="20%">Scale Length:</td>
<td width="80%">34&quot; (864 mm)</td>
</tr>
<tr>
<td width="20%">Fingerboard Radius:</td>
<td width="80%">9.5&quot; (241 mm)</td>
</tr>
<tr>
<td width="20%">Number of Frets:</td>
<td width="80%">20</td>
</tr>
<tr>
<td width="20%">Fret Size:</td>
<td width="80%">Medium Jumbo</td>
</tr>
<tr>
<td width="20%">String Nut:</td>
<td width="80%">Synthetic Bone</td>
</tr>
<tr>
<td width="20%">Nut Width:</td>
<td width="80%">1.5&quot; (38.1 mm)</td>
</tr>
<tr>
<td width="20%">Neck Plate:</td>
<td width="80%">4-Bolt Standard</td>
</tr>
<tr>
<td width="20%">Neck Finish:</td>
<td width="80%">Polyurethane</td>
</tr>
<tr>
<td width="20%">Fingerboard:</td>
<td width="80%">Rosewood</td>
</tr>
<tr>
<td width="20%">Position Inlays:</td>
<td width="80%">Pearloid Dot</td>
</tr>
</tbody>
</table>
</div>
</div>
<hr>
<div>
<div>
<p><img src="http://ne1.wpc.edgecastcdn.net/00077D/fender/images/2013/instruments/specs/squier/icon-electronics.png" alt="Electronics"></p>
Electronics</div>
<div>
<table width="100%">
<tbody>
<tr>
<td width="20%">Bridge Pickup:</td>
<td width="80%">Standard Single-Coil Jazz Bass</td>
</tr>
<tr>
<td width="20%">Neck Pickup:</td>
<td width="80%">Single-Coil Jazz Bass</td>
</tr>
<tr>
<td width="20%">Controls:</td>
<td width="80%">Volume 1. (Middle Pickup), Volume 2. (Bridge Pickup), Master Tone</td>
</tr>
<tr>
<td width="20%">Pickup Switching:</td>
<td width="80%">None</td>
</tr>
<tr>
<td width="20%">Pickup Configuration:</td>
<td width="80%">SS</td>
</tr>
</tbody>
</table>
</div>
</div>
<hr>
<div>
<div>
<p><img src="http://ne1.wpc.edgecastcdn.net/00077D/fender/images/2013/instruments/specs/squier/icon-hardware.png" alt="Hardware"></p>
Hardware</div>
<div>
<table width="100%">
<tbody>
<tr>
<td width="20%">Bridge:</td>
<td width="80%">4-Saddle Standard</td>
</tr>
<tr>
<td width="20%">Tuning Machines:</td>
<td width="80%">Standard Open-Gear</td>
</tr>
<tr>
<td width="20%">Orientation:</td>
<td width="80%">Right-Hand</td>
</tr>
<tr>
<td width="20%">Pickguard:</td>
<td width="80%">3-Ply Parchment</td>
</tr>
<tr>
<td width="20%">Control Knobs:</td>
<td width="80%">Knurled Flat-Top</td>
</tr>
</tbody>
</table>
</div>
</div>
<hr>
<div>
<div>
<p><img src="http://ne1.wpc.edgecastcdn.net/00077D/fender/images/2013/instruments/specs/squier/icon-misc.png" alt="Miscellaneous"></p>
Miscellaneous</div>
<div>
<table width="100%">
<tbody>
<tr>
<td width="20%">Strings:</td>
<td width="80%">Fender&#xAE; USA Bass 7250ML, NPS, (.045-.100 Gauges)</td>
</tr>
<tr>
<td width="20%">Unique Features:</td>
<td width="80%">Dot Position Inlays, Jazz Bass&#xAE; Control Knobs</td>
</tr>
<tr>
<td width="20%">Included Accessories:</td>
<td width="80%">Wrenches: 1.5mm, 4mm</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div></div>
<div></div>
<div>Modelos:</div>
<div>
<table border="0" cellpadding="0" cellspacing="0" width="555"><colgroup><col width="125"> <col width="430"> </colgroup>
<tbody>
<tr height="16">
<td height="16" width="125">031-0760-506</td>
<td width="430">Bajo Elec. Jazz Bass Squier Affinity RWN, Black</td>
</tr>
<tr height="16">
<td height="16">031-0760-532</td>
<td>Bajo Elec. Jazz Bass Squier Affinity RWN, Brown Sunburst</td>
</tr>
<tr height="16">
<td height="16"></td>
<td></td>
</tr>
</tbody>
</table>
<br><br></div>
