<!-- "Descripcion" inicio -->
<div><span>Microfono Condenser Samson MTR201A</span></div>
<div><span> c/pop filter, shock mount y estuche</span></div>
<div><span><br></span></div>
<div><span><img src="https://a248.e.akamai.net/mla-s2-p.mlstatic.com/17411-MLA20138779771_082014-C.jpg"></span></div>
<div></div>
<div>
<h2>Sound Superior.</h2>
<p><span class="notranslate">Samson</span>&apos;s MTR201 Condenser Microphone brings exceptional performance and high-end quality to a variety of live and studio situations. Ideal for recording vocals, close miking instruments, use as a room microphone and more, the MTR201 solidifies&#xA0;<span class="notranslate">Samson</span>&apos;s commitment to offering superior sound and the ability to capture the best audio possible.</p>
<h3>Fully Featured Design</h3>
<p>The MTR201 is a large, 1&quot; gold-sputtered diaphragm studio condenser microphone. It features a cardioid pickup pattern that provides increased isolation of a sound source and is designed to handle high SPLs of up to 132dB. It also has a 10db attenuation switch for handling ultra-high levels. The MTR201 offers a smooth, extended frequency response, as well as low self-noise and a wide dynamic range perfect for recording. In addition, its internally shock-mounted capsule also reduces handling noise and external vibrations. This rugged die cast mic is bundled with a pop filter, shockmount and protective carry case.</p>
<p><img src="http://www.samsontech.com/site_media/cms/collateral_images/mtr-microphones/mtr201-231-accessories-1200x486.jpg" border="0" alt="MTR101a accessories " title="MTR101a accessories" width="600" height="215"></p>
<h3>Capture Your Best...</h3>
<h4>Vocals</h4>
<p>The MTR201 is perfect for capturing vocal performances in the studio. The mic&apos;s cardioid pickup pattern provides increased isolation, avoiding unwanted noise and highlighting only the vocalist. As such, the MTR201 is ideal for any vocal performance where excellent rear-rejection is needed or use it as the &quot;Mid&quot; mic in a Mid-Side stereo setup. And with a wide 20Hz&#x2013;20kHz frequency response, the MTR201 can capture the most dynamic of voices with ease.</p>
<p><img src="http://www.samsontech.com/site_media/cms/collateral_images/mtr-microphones/mtr231_mtr201_singing-620x514.jpg" border="0" alt="MTR201 singer" title="MTR201 singer" width="310" height="257"></p>
<h4>Instruments And More</h4>
<p>Featuring a wide dynamic range and the ability to handle high SPLs, the MTR201 is ideal for use as a room microphone or for close miking a variety of instruments both live and in the studio. From aggressive guitar cabinets and drums to vibrant pianos, winds and other preferred instruments, the MTR201 is designed to faithfully reproduce a diverse range of instrument tones. And the previously mentioned vocal miking techniques can be easily applied to all of these instruments given the situation and desired sound.</p>
<p><img src="http://www.samsontech.com/site_media/cms/collateral_images/mtr-microphones/mtr201_grouped-620x608.jpg" border="0" alt="MTR201 in use" title="MTR201 in use" width="310" height="304"></p>
<p>Sound superior with the new MTR201 Condenser Microphone from&#xA0;<span class="notranslate">Samson</span>.<span>&#xA0;</span></p>
</div>
<div><br><span></span></div>
<div></div>
<!-- "Descripcion" final -->