
<div><span>&#xA0;Micr&#xF3;fono Stereo X/Y Zoom Iq6 P/iphone Ipad Ipod Edenlp</span></div>
<div><span><img src="https://mla-s2-p.mlstatic.com/881301-MLA20300992752_052015-C.jpg"></span></div>
<div><span><img src="https://mla-s2-p.mlstatic.com/569201-MLA20300992778_052015-C.jpg"></span></div>
<div><span>The iQ6 features two high quality unidirectional condenser microphones in an X/Y configuration&#x2014;the same ones used in our world-famous H4n Handy Recorder. X/Y stereo recording is a great way to cover a wide area while still capturing sound sources in the center with clarity and definition. You can even change the mic angle from 90 degrees for a tightly focused image to 120 degrees for immersive wide-angle stereo.</span></div>
<div><span><br></span></div>
<div>
<table cellspacing="0" cellpadding="0" class="specTB">
<tbody>
<tr>
<td class="thCol" colspan="2">Microphone</td>
<td width="512">X/Y stereo mic (90&#xB0;/120&#xB0;)</td>
</tr>
<tr>
<td colspan="2" class="thCol">Maximum input sound pressure</td>
<td>130dB SPL</td>
</tr>
<tr>
<td colspan="2" class="thCol">Input gain</td>
<td>-11 to + 51dB</td>
</tr>
<tr>
<td colspan="2" class="thCol">Audio quality</td>
<td>44.1kHz/16bit, 48kHz/16bit</td>
</tr>
<tr>
<td colspan="2" class="thCol">Power</td>
<td>Powered by the connected device</td>
</tr>
<tr>
<td colspan="2" class="thCol">Connector</td>
<td>Lightning connector<br>Stereo mini jack (combined headphone/line level output)</td>
</tr>
<tr>
<td colspan="2" class="thCol">Dimensions</td>
<td>61.1(W) x 30.6(D) x 53.1(H)mm</td>
</tr>
<tr>
<td colspan="2" class="thCol">Weight</td>
<td>28.8g</td>
</tr>
<tr>
<td colspan="2" class="thCol">Compatible devices</td>
<td>iPhone 5, iPhone 5s, iPhone 5c, iPhone 6, iPhone 6 Plus, iPod touch (5th generation), iPad (4th generation), iPad Air, iPad Air 2, iPad mini, iPad mini 2, iPad mini 3</td>
</tr>
<tr>
<td colspan="2" class="thCol">Supported OS</td>
<td>iOS 6.0 or newer</td>
</tr>
<tr>
<td colspan="2" class="thCol">Included Accessories</td>
<td>iQ6 XY Stereo Microphone<br>Operation Manual<br>Foam Windscreen</td>
</tr>
<tr>
<td colspan="2" class="thCol">Optional Accessory</td>
<td>Hairy Windscreen (WSU-1)</td>
</tr>
</tbody>
</table>
</div>
<div><span><br></span></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<!-- "Descripcion" final -->