<!-- "Descripcion" inicio -->
<p><strong><u><font size="7">BOSS</font></u></strong></p>
<p></p>
<p><font size="6"><strong>Bass Chorus CEB-3<br></strong></font></p>
<p></p>
<p></p>
<p>
<table height="402" width="543" border="0">
<tbody>
<tr>
<td>
<p><font size="4"></font></p>
<p><font size="4"><img height="232" alt="" src="http://www.listaimsa.com.ar/pedales/CEB-3m.gif" width="200"> <br></font></p>
<p><font size="4"></font></p></td>
<td>
<p><font face="Times New Roman" size="4"></font></p>
<h4><font size="4">A Chorus Pedal with Built-in Crossover.</font></h4><!-- database[introduction] -->
<div class="detail-ov-copy"><!-- image, intro text --><font size="4">A split-frequency chorus capable of applying warm, rich chorus to higher frequencies without muddying the lows. A space synthesis effect guarantees a natural and spacious chorus effect. </font></div>
<div class="detail-ov-copy"><font size="4"></font></div></td></tr></tbody></table></p>
<p></p>
<p><font size="5">Especificaciones:</font></p>
<div align="center"><br></div>
<table class="specsheet" cellspacing="0" cellpadding="1" width="510" align="center" border="0">
<tbody>
<tr>
<td width="30%">
<div class="specName"><font size="3">Nominal Input Level</font> </div></td>
<td colspan="2">
<div class="specValue"><font size="3">-20 dBu</font> </div></td></tr>
<tr>
<td colspan="3">
<div class="hr-line"><font size="3"><img height="1" alt="" src="http://www.bosscorp.co.jp/products/en/images/trans.gif" width="1"></font> </div></td></tr>
<tr>
<td width="30%">
<div class="specName"><font size="3">Input Impedance</font> </div></td>
<td colspan="2">
<div class="specValue"><font size="3">1 M ohms</font> </div></td></tr>
<tr>
<td colspan="3">
<div class="hr-line"><font size="3"><img height="1" alt="" src="http://www.bosscorp.co.jp/products/en/images/trans.gif" width="1"></font> </div></td></tr>
<tr>
<td width="30%">
<div class="specName"><font size="3">Nominal Output Level</font> </div></td>
<td colspan="2">
<div class="specValue"><font size="3">-20 dBu</font> </div></td></tr>
<tr>
<td colspan="3">
<div class="hr-line"><font size="3"><img height="1" alt="" src="http://www.bosscorp.co.jp/products/en/images/trans.gif" width="1"></font> </div></td></tr>
<tr>
<td width="30%">
<div class="specName"><font size="3">Output Impedance</font> </div></td>
<td colspan="2">
<div class="specValue"><font size="3">1 k ohms</font> </div></td></tr>
<tr>
<td colspan="3">
<div class="hr-line"><font size="3"><img height="1" alt="" src="http://www.bosscorp.co.jp/products/en/images/trans.gif" width="1"></font> </div></td></tr>
<tr>
<td width="30%">
<div class="specName"><font size="3">Recommended Load Impedance</font> </div></td>
<td colspan="2">
<div class="specValue"><font size="3">10 k ohms or greater</font> </div></td></tr>
<tr>
<td colspan="3">
<div class="hr-line"><font size="3"><img height="1" alt="" src="http://www.bosscorp.co.jp/products/en/images/trans.gif" width="1"></font> </div></td></tr>
<tr>
<td width="30%">
<div class="specName"><font size="3">Residual Noise Level </font></div></td>
<td colspan="2">
<div class="specValue"><font size="3">-86 dBu (IHF-A, Typ.)</font> </div></td></tr>
<tr>
<td colspan="3">
<div class="hr-line"><font size="3"><img height="1" alt="" src="http://www.bosscorp.co.jp/products/en/images/trans.gif" width="1"></font> </div></td></tr>
<tr>
<td width="30%">
<div class="specName"><font size="3">Connectors</font> </div></td>
<td colspan="2">
<div class="specValue"><font size="3">INPUT Jack, OUTPUT Jack A (mono)/ B, AC Adaptor Jack (DC 9 V)</font> </div></td></tr>
<tr>
<td colspan="3">
<div class="hr-line"><font size="3"><img height="1" alt="" src="http://www.bosscorp.co.jp/products/en/images/trans.gif" width="1"></font> </div></td></tr>
<tr>
<td width="30%">
<div class="specName"><font size="3">Power Supply</font> </div></td>
<td colspan="2">
<div class="specValue"><font size="3">DC 9 V: Dry Battery 9 V type (6F22/9 V), AC Adaptor</font> </div></td></tr>
<tr>
<td colspan="3">
<div class="hr-line"><font size="3"><img height="1" alt="" src="http://www.bosscorp.co.jp/products/en/images/trans.gif" width="1"></font> </div></td></tr>
<tr>
<td width="30%">
<div class="specName"><font size="3">Current Draw</font> </div></td>
<td colspan="2">
<div class="specValue"><font size="3">22 mA (DC 9 V)</font> </div></td></tr>
<tr>
<td colspan="3">
<div class="hr-line"><font size="3"><img height="1" alt="" src="http://www.bosscorp.co.jp/products/en/images/trans.gif" width="1"></font> </div></td></tr>
<tr>
<td width="30%">
<div class="specName"><font size="3">Accessories</font> </div></td>
<td colspan="2">
<div class="specValue"><font size="3">Dry Battery 9 V type (6F22/9 V)</font> </div></td></tr>
<tr>
<td colspan="3">
<div class="hr-line"><font size="3"><img height="1" alt="" src="http://www.bosscorp.co.jp/products/en/images/trans.gif" width="1"></font> </div></td></tr>
<tr>
<td width="30%">
<div class="specName"><font size="3">Options</font> </div></td>
<td colspan="2">
<div class="specValue"><font size="3">AC Adaptor (PSA-Series)</font> </div></td></tr><!-- Dimension 1 --><!-- Dimension comment 1 -->
<tr>
<td><font size="3"><br></font></td></tr>
<tr>
<td width="100%" bgcolor="#666666" colspan="3">
<div class="specSect"><font size="3">Size and Weight ( incl. battery ) </font></div></td></tr>
<tr>
<td><font size="3"><br></font></td></tr>
<tr>
<td width="30%">
<div class="specName"><font size="3">Width</font> </div></td>
<td>
<div class="specValue"><font size="3">73 mm</font> </div></td>
<td>
<div class="specValue"><font size="3">2-7/8 inches</font> </div></td></tr>
<tr>
<td width="100%" colspan="3">
<div class="hr-line"><font size="3"><img height="1" alt="" src="http://www.bosscorp.co.jp/images/trans.gif" width="1"></font> </div></td></tr>
<tr>
<td width="30%">
<div class="specName"><font size="3">Depth</font> </div></td>
<td>
<div class="specValue"><font size="3">129 mm</font> </div></td>
<td>
<div class="specValue"><font size="3">5-1/8 inches</font> </div></td></tr>
<tr>
<td width="100%" colspan="3">
<div class="hr-line"><font size="3"><img height="1" alt="" src="http://www.bosscorp.co.jp/images/trans.gif" width="1"></font> </div></td></tr>
<tr>
<td width="30%">
<div class="specName"><font size="3">Height</font> </div></td>
<td>
<div class="specValue"><font size="3">59 mm</font> </div></td>
<td>
<div class="specValue"><font size="3">2-3/8 inches</font> </div></td></tr>
<tr>
<td width="100%" colspan="3">
<div class="hr-line"><font size="3"><img height="1" alt="" src="http://www.bosscorp.co.jp/images/trans.gif" width="1"></font> </div></td></tr>
<tr>
<td width="30%">
<div class="specName"><font size="3">Weight</font> </div></td>
<td>
<div class="specValue"><font size="3">0.5 kg</font> </div></td>
<td>
<div class="specValue"><font size="3">1 lbs.</font> </div></td></tr></tbody></table><!-- "Descripcion" final -->