
<p><span>Oportunidad! Bateria electronica Medeli DD502 j usada edenlp</span></p>
<p></p>
<p><span><img src="http://mla-s2-p.mlstatic.com/12749-MLA20065512195_032014-C.jpg"><img src="http://mla-s1-p.mlstatic.com/12713-MLA20065512212_032014-C.jpg"><img src="http://mla-s2-p.mlstatic.com/12718-MLA20065512225_032014-C.jpg"><br></span></p>
<p><span><br></span></p>
<p></p>
<p></p>
