<!-- "Descripcion" inicio -->
<div><span>Pedal De delay Ross DLY-503 ROS P/guitarra &#xA0;Edenlp</span></div>
<div><span><br></span></div>
<div><img src="http://static.mercadoshops.com/jm/com.stores.framework.commons.imageproxy.ImgProxyServlet?v=i&amp;f=77726746-4489-1.jpg&amp;s=77726746&amp;item=4489"></div>
<div></div>
<div>
<p>Los pedales Ross presentan una excelente relaci&#xF3;n precio/calidad que los hacen los elegidos de los guitarristas que sin invertir mucho dinero buscan explorar nuevos sonidos.</p>
<p><strong>Caracter&#xED;sticas:</strong></p>
<ul>
<li>Carcasa met&#xE1;lica de s&#xF3;lida construcci&#xF3;n</li>
<li>3 Perillas: Tiempo, Repetici&#xF3;n y Nivel</li>
<li>Funciona a bater&#xED;a de 9V. o a transformador (no inclu&#xED;do)</li>
<li>Led Indicador.</li>
<li>Switch met&#xE1;lico resistente.</li>
<li>True Bypass.</li>
<li>Topes de goma para minimizar deslizamientos.</li>
</ul>
</div>
<div></div>
<div></div>
<div></div>
<!-- "Descripcion" final -->