<!-- "Descripcion" inicio -->
<p><span>Guitarra Kramer SM-1 Seymour Duncans Edenlp</span></p>
<p><img src="http://static.mercadoshops.com/jm/com.stores.framework.commons.imageproxy.ImgProxyServlet?v=i&amp;f=77726746-5429-1.jpg&amp;s=77726746&amp;item=5429"></p>
<p><span>Duncans,Black Hardware,Vtg White.Made in Korea</span></p>
n serie&#xA0;<span>266.765.050</span><br>
<p></p>
<!-- "Descripcion" final -->