<!-- "Descripcion" inicio -->
<div><span>Consola Mackie 802-VLZ3</span><br><br><img src="http://static.mercadoshops.com/jm/com.stores.framework.commons.imageproxy.ImgProxyServlet?v=i&amp;f=77726746-5156-1.jpg&amp;s=77726746&amp;item=5156"><br><br>
<p><span>We have the mixer for you&#x2014;the 8-channel 802-VLZ3. A professional compact mixer designed just to fit your needs, as well as your workspace, the 802-VLZ3 packs renowned VLZ3 quality into a tight, sleek package. Don&#x2019;t let the small size fool you&#x2014;the 802-VLZ3 is all pro, and all VLZ3. It boasts the same signature VLZ3 high headroom / low noise design that makes others in the series prized in studios and stages worldwide, including premium XDR2 preamps, an ultra-musical EQ and modern summing bus architecture. Ideal for home studio and on-the-go applications, the 802-VLZ3 makes premium mixing capabilities available for setups where space, and money, are tight. It&#x2019;s all the mixer you need, in a footprint that fits just about anywhere, at a price that fits your budget.</span></p>
<table border="0" cellpadding="0" cellspacing="0" id="outlineblue">
<tbody>
<tr>
<td valign="top" width="18" align="center">
<div id="padding">&#x2022;</div>
</td>
<td width="207">
<div id="padding">Ultra-compact 8-channel mixer featuring Mackie VLZ3&#x2019;s signature low noise, high-headroom design</div>
</td>
</tr>
<tr>
<td valign="top" width="18" align="center">
<div id="padding">&#x2022;</div>
</td>
<td width="207">
<div id="padding">3 studio-grade XDR2&#x2122; Extended Dynamic Range mic preamps with:<br>- Ultra-wide 60dB gain range<br>- 130dB dynamic range<br>- +22dBu line input handling<br>- Extended low frequency response<br>- Distortion under 0.0007% (20Hz - 20kHz)<br>- Phantom power for studio condenser mics</div>
</td>
</tr>
<tr>
<td valign="top" width="18" align="center">
<div id="padding">&#x2022;</div>
</td>
<td width="207">
<div id="padding">8 high-headroom line inputs</div>
</td>
</tr>
<tr>
<td valign="top" width="18" align="center">
<div id="padding">&#x2022;</div>
</td>
<td width="207">
<div id="padding">Advanced DC pulse transformer RF rejection</div>
</td>
</tr>
<tr>
<td valign="top" width="18" align="center">
<div id="padding">&#x2022;</div>
</td>
<td width="207">
<div id="padding">Aux send, level, pan and PFL solo on each channel</div>
</td>
</tr>
<tr>
<td valign="top" width="18" align="center">
<div id="padding">&#x2022;</div>
</td>
<td width="207">
<div id="padding">Selectable Instrument inputs on first two channels &#x2013; no DI box needed</div>
</td>
</tr>
<tr>
<td valign="top" width="18" align="center">
<div id="padding">&#x2022;</div>
</td>
<td width="207">
<div id="padding">Stereo Return for connecting effects processor or other stereo source</div>
</td>
</tr>
<tr>
<td valign="top" width="18" align="center">
<div id="padding">&#x2022;</div>
</td>
<td width="207">
<div id="padding">3-Band Active EQ (80Hz, 2.5kHz, 12kHz)</div>
</td>
</tr>
<tr>
<td valign="top" width="18" align="center">
<div id="padding">&#x2022;</div>
</td>
<td width="207">
<div id="padding">18dB/oct. 100Hz Lo-Cut filter on Mic input channels</div>
</td>
</tr>
<tr>
<td valign="top" width="18" align="center">
<div id="padding">&#x2022;</div>
</td>
<td width="207">
<div id="padding">ALT 3/4 stereo bus for added versatility</div>
</td>
</tr>
<tr>
<td valign="top" width="18" align="center">
<div id="padding">&#x2022;</div>
</td>
<td width="207">
<div id="padding">Control Room/Phones source matrix</div>
</td>
</tr>
<tr>
<td valign="top" width="18" align="center">
<div id="padding">&#x2022;</div>
</td>
<td width="207">
<div id="padding">High-resolution 12-segment stereo meters</div>
</td>
</tr>
<tr>
<td valign="top" width="18" align="center">
<div id="padding">&#x2022;</div>
</td>
<td width="207">
<div id="padding">Sealed rotary controls to resist dust and grime</div>
</td>
</tr>
<tr>
<td valign="top" width="18" align="center">
<div id="padding">&#x2022;</div>
</td>
<td width="207">
<div id="padding">Sleek, rugged steel chassis</div>
</td>
</tr>
</tbody>
</table>
<br><br></div>
<!-- "Descripcion" final -->