
<div><span>Oportunidad! Bateria Pad electronica usada<br> Casio LD-80&#xA0;</span></div>
<div><span><br></span></div>
<div><img src="http://img2.mlstatic.com/s_MLA_v_O_f_4694343451_072013.jpg"></div>
<div></div>
<p></p>
