
<p><span>Handy Recorder Zoom H2 Stereo X/Y SD 2gb&#xA0;Edenlp</span></p>
<p><br><img src="https://mla-s2-p.mlstatic.com/626701-MLA20389472251_082015-C.jpg"></p>
<p><img src="https://mla-s1-p.mlstatic.com/612701-MLA20389471807_082015-C.jpg"></p>
<p><img src="https://mla-s2-p.mlstatic.com/474701-MLA20389471820_082015-C.jpg"></p>
<p><img src="https://mla-s1-p.mlstatic.com/519601-MLA20389472274_082015-C.jpg"></p>
<p>Representing a new generation of portable recording, the H2n is Zoom&#x2019;s most innovative handheld recorder to date. We&#x2019;ve packed groundbreaking features into an ultra-portable device that allows you to record pristine audio anywhere you go. From film and broadcast, to journalism, podcasting, musical performance, songwriting and rehearsal, the H2n provides amazing recording quality. No matter the application, the H2n brings the very best in stereo recording to a convenient, user-friendly package that fits in your pocket. Zoom H2n Handy Recorder. The new standard in portable recording.</p>
<p><br></p>
<div>SPECIFICATIONS</div>
<div></div>
<table>
<tbody>
<tr><th>Recording Media</th>
<td>SD/SDHC card (up to 32GB)</td>
</tr>
<tr><th>Built-in Mic</th>
<td>MS stereo &amp; 90-degree XY stereo</td>
</tr>
<tr><th>Maximum Sound Pressure Level</th>
<td>120dB SPL</td>
</tr>
<tr><th>Recording Format</th>
<td><strong>&#xAB;STEREO MODE&#xBB;</strong><br>PCM (Quantization : 16/24bit, Sampling Frequency : 44.1/48/96kHz),<br>MP3 (Bit Rate : 48 to 320kbps, Sampling Frequency : 44.1kHz)<br><strong>&#xAB;4CH MODE&#xBB;</strong><br>PCM (Quantization: 16/24bit, Sampling Frequency: 44.1/48kHz)</td>
</tr>
<tr><th>A/D Conversion</th>
<td>24bit, 128times oversampling</td>
</tr>
<tr><th>D/A Conversion</th>
<td>24bit, 128times oversampling</td>
</tr>
<tr><th>Signal Processing</th>
<td>32bit</td>
</tr>
<tr><th>Functions</th>
<td>Lo-cut Filter, Compressor/Limiter, Auto Gain, Pre-Rec, Auto-Rec, Tuner,Metronome, Variable Speed Playback, Key Control, A-B Repeat,File Dividing, Normalize, MP3 Post-Encode, Marker, Surround Mixer</td>
</tr>
<tr><th>Display</th>
<td>128 x 64 pixel, backlit LCD</td>
</tr>
<tr><th>Input Gain</th>
<td>0 to +39dB</td>
</tr>
<tr><th>Mic / Line Input</th>
<td>1/8&quot; stereo phone jack (Plug-in power supported)</td>
</tr>
<tr><th>Input impedance</th>
<td>2k&#x3A9; (Input level: 0 to -39dBm)</td>
</tr>
<tr><th>Phones / Line Output</th>
<td>1/8&quot; stereo phone jack</td>
</tr>
<tr><th>Rated Output Level</th>
<td>-10dBm</td>
</tr>
<tr><th>Output Load Impedance</th>
<td>10k&#x3A9; or more</td>
</tr>
<tr><th>Phones Output Level</th>
<td>20mW + 20mW into 32&#x3A9; load</td>
</tr>
<tr><th>Built-in Speaker</th>
<td>400mW 8&#x3A9;</td>
</tr>
<tr><th>USB</th>
<td>Mini-B type, Mass Storage Class operation (USB2.0 High Speed compatible),<br>Audio Interface operation (16bit, 44.1kHz/48kHz)</td>
</tr>
<tr><th>Power Requirements</th>
<td>AA/LR6 battery x 2, or AC adapter AD-17 (DC5V/1A/center positive)</td>
</tr>
<tr><th>Battery Life</th>
<td>20 hours (16bit/44.1kHz WAV recording)</td>
</tr>
<tr><th>Dimensions</th>
<td>67.6 (W) x 113.8 (D) x 42.7 (H) mm</td>
</tr>
<tr><th>Weight</th>
<td>130g (without batteries)</td>
</tr>
</tbody>
</table>
<div>*0dBm=0.775Vrms</div>
<div>Included Accessories</div>
<div>
<div><br>SD Memory Card (2GB)</div>
<div><br>2 AA Batteries(for testing the unit)</div>
</div>
<p><br></p>
<div>Built-in Mic, Frequency Response</div>
<p><br></p>
