
<p><span><!-- "Descripcion" inicio --></span></p>
<div><span>Teclado Casio PA50SD Professional l<br> Arranger 61 teclas</span></div>
<div><span><br></span></div>
<div><span><img src="http://img1.mlstatic.com/s_MLA_v_O_f_4803956195_082013.jpg"></span></div>
<div><span><br></span></div>
<div>
<div>&#xA0;</div>
<span><span size="2" face="Arial">For years, the PA50 has been the most popular member of the Korg Pa family. Its amazing sound, ease of use, and affordable price point has proved a winning combination. Now, after much demand, the Pa50 has been brought up to date with the Pa50SD. Replacing the old-school floppy drive, the Pa50 instead offers fast and reliable SD data card storage. The use of SD data cards also makes it much more convenient to share and store data on a computer.<br><br>As a songwriting station or as a back-up band, you can be sure the Pa50SD&#x2019;s performance will be truly musical. The Pa50SD combines enhanced sequencing functions, powerful performance features, custom backlit LCD, comprehensive arranging tools and impeccable sound quality.&#xA0;<br><br><b>Excellent Sound and Instant Control&#xA0;</b><br>Based on the TRITON synth engine the Pa50SD sound quality is second to none! Included with its 660 editable sound programs is a set of very expressive solo instruments, sampled with a natural vibrato. Four studio-quality effect processors are available and feature 89 different effect types. Four assignable pads, an assignable footswitch, the joystick, sync start, fade in and out, tap tempo, accompaniment reset and other front panel functions are available at your fingertips.<br><br></span><a href="http://www.korgpa.com/pa_root/en/products/pa50sd_info.html?en" target="blank" wrc_done="true" rel="nofollow"><b><span size="2" face="Arial">Listen</span></b></a><span>&#xA0;</span><span size="2" face="Arial">&#xA0;to demos of the Pa50SD&#x2019;s amazing sounds.<br><br><b>Musical Styles&#xA0;</b><br>Each of the 304 editable Styles provides up to eight accompaniment parts &#x2013; drums, bass, percussion and more &#x2013; that respond interactively with your playing. Eight parts, four Variations, two Fills, two Intros and two Endings per Style provide all you need to create a natural-sounding performance. In addition to the eight parts that comprise a Style, up to four sounds are available on the keyboard as real-time parts. The Pa50SD can also store 160 user defined Performance settings, each instantly recalling the style, sounds, effects, panning, transposition and other settings assigned to each part.<br><br><b>Extensive Sequencing</b><br>In addition to traditional real-time and step-time sequencing, the Pa50SD also features our unique Backing Sequencer, which can capture up to eight tracks of Style accompaniment and up to eight tracks of real time playing in a single pass. The PA50SD is GM and SMF compatible and in performance, nothing beats the revolutionary XDS Dual Sequencer. Lyrics embedded in SMF sequences are shown in the Display.<br><br><b>Rich, Stereo Sound</b><br>The Pa50SD features two dual-cone speakers in a reflex cabinet and twin 15 Watt amplifiers. Korg Pa Series Website<br><br>For additional information, audio demos and updates, please visit the&#xA0;</span><a href="http://www.korgpa.com/" target="blank" wrc_done="true" rel="nofollow"><b><span size="2" face="Arial">Korg Pa Series website</span></b></a><span>&#xA0;</span><span size="2" face="Arial">. Downloads of software updates, owners manuals and FAQs are available for free as they are released!</span></span></div>
<div></div>
<div></div>
<div></div>
<div></div>
