<!-- "Descripcion" inicio -->
<p><span>Guitarra Kramer NiteV FR Floyd Rose<br> 2 Humbuckers by Gibson</span></p>
<p><span><img src="https://www.mercadolibre.com/jm/img?s=MLA&amp;v=O&amp;t=T&amp;f=3999224775_032013.jpg&amp;sll=484438"><br></span></p>
<p><span>N serie&#xA0;266751000</span></p>
<p></p>
<p></p>
<!-- "Descripcion" final -->