<span><!-- "Descripcion" inicio --></span>
<div><span>Pedalera LINE 6 POD HD500 IMPECABLE usada</span></div>
<div><span>Igual a nueva (incluye caja, manuales y fuente)</span></div>
<div><span><br></span></div>
<div><span><img src="http://img1.mlstatic.com/s_MLA_v_C_f_4984025815_092013.jpg"></span></div>
<div>
<ul>
<li>Procesador multiefectos.</li>
<li>Formato pedalera, chasis met&#xE1;lico.</li>
<li>16 modelos HD de amplificadores, 16 modelos HD de bafles.</li>
<li>100 efectos.</li>
<li>128 presets de usuario, 512 programas.</li>
<li>12 Footswitches.</li>
<li>Editor de librer&#xED;as. Looper (48 seg).</li>
<li>MIDI In/Out/Thru.</li>
<li>XLR Mic IN, Variax Interface, 10x Audio USB, Entrada CD/MP3.</li>
<li>Salidas XLR Bal.</li>
<li>Stereo Effects Loop.</li>
<li>Afinador.</li>
<li>Pedal de volumen/wah.</li>
</ul>
</div>
<div><span><img src="http://img2.mlstatic.com/s_MLA_v_C_f_4984046398_092013.jpg"></span></div>
<div><span><img src="http://img2.mlstatic.com/s_MLA_v_C_f_4984026244_092013.jpg"></span></div>
<div><span><br></span></div>
<div><span><br></span></div>
<div><span><br></span></div>
<div><span><br></span></div>
<div></div>
<div></div>
<!-- "Descripcion" final -->