<!-- "Descripcion" inicio -->
<div><span>Bafle Wharfedale Pro 15&quot; DELTA15&#xA0;Edenlp</span></div>
<div></div>
<div><img src="https://mla-s2-p.mlstatic.com/386301-MLA20308829775_052015-C.jpg"></div>
<div><span>Delta 15 is the largest 2 way speaker in the range. Featuring a 2&#x201D; titanium voice coil combined with a 15&#x201D; low distortion cast frame woofer, the loudspeaker generates 450 watts RMS of power spanning a full range sound of 50Hz &#x2013; 20kHz while the 90 x 60 waveguides ensure a long-throw projection.</span></div>
<div><span><br></span></div>
<div>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_spec">
<tbody>
<tr>
<td>Configuration</td>
<td>2-Way</td>
</tr>
<tr class="even">
<td>Frequency Response (+/- 3dB)</td>
<td>65Hz - 20KHz</td>
</tr>
<tr>
<td>Power (RMS / Program / Peak)</td>
<td>300W / 600W / 1200W</td>
</tr>
<tr class="even">
<td>Impedance</td>
<td>8&#x3A9;</td>
</tr>
<tr>
<td>Max SPL</td>
<td>128dB</td>
</tr>
<tr class="even">
<td>Woofer</td>
<td>15&quot;</td>
</tr>
<tr>
<td>Tweeter</td>
<td>2&quot; Titanium</td>
</tr>
<tr class="even">
<td>Waveguide Type</td>
<td>Elliptical</td>
</tr>
<tr>
<td>Input</td>
<td>2 x Speakon</td>
</tr>
<tr class="even">
<td>Net Weight</td>
<td>16.58kg / 36.5lbs</td>
</tr>
<tr>
<td>Gross Weight</td>
<td>19.5kg / 43lbs</td>
</tr>
<tr class="even">
<td>Dimensions (H x W x D)</td>
<td>500mm x 338/212.4mm x 330</td>
</tr>
</tbody>
</table>
</div>
<div></div>
<div><span><br></span></div>
<div></div>
<div></div>
<!-- "Descripcion" final -->