<!-- "Descripcion" inicio -->
<p><span>Pedal Mooer ANA ECHO delay analogico Edenlp</span></p>
<p><span><br></span></p>
<p><span><img src="http://img2.mlstatic.com/s_MLA_v_O_f_4669980759_072013.jpg"></span></p>
<p><span>Full analog circuit, warm, clear, smooth analog delay sound<br>Full metal shell<br>Very small and exquisite<br>True bypass</span></p>
<p><span>Delay Time: 20ms-300ms<br>Input: 1/4&#x201D; monaural jack (impedance: 470k Ohms)<br>Output: 1/4&#x201D; monaural jack (impedance: 470 Ohms)<br>Power Requirements: AC adapter 9V DC (center minus plug)<br>Current Draw: 26 mA<br>Dimensions: 93.5mm (D) &#xD7; 42mm (W) &#xD7; 52mm (H)<br>Weight: 160g</span></p>
<p></p>
<p></p>
<!-- "Descripcion" final -->