<!-- "Descripcion" inicio --><div><span>Puas p/guitarra electrica, criolla y bajo</span><br><br><img alt="" src="http://siguealconejoblanco.com/musica/wp-content/uploads/2011/01/puas.jpg"><br></div><!-- "Descripcion" final -->