<!-- "Descripcion" inicio -->
<div><span>Pedal Bauton Hazard Overdrive para guitarra tipo Hermida</span></div>
<div></div>
<div><img src="http://i267.photobucket.com/albums/ii305/galeriaeden/1-1.jpg" width="656" height="480"></div>
<div><img src="http://i267.photobucket.com/albums/ii305/galeriaeden/2-1.jpg" width="651" height="481"></div>
<div></div>
<!-- "Descripcion" final -->