<!-- "Descripcion" inicio -->
<p></p>
<p><span>Escobillas Zildjian SDWBZB1</span></p>
<p><span> Metalica Professional retractil</span></p>
<p><span><br></span></p>
<p><span><img src="http://mla-s1-p.mlstatic.com/8600-MLA20005863020_112013-C.jpg"></span></p>
<ul class="a-vertical a-spacing-none">
<li><span class="a-list-item">Position the wires on ZIldjian&apos;s retractable brushes all the way out for a quieter, more traditional brush sound, or pull them in incrementally for added volume and articulation.</span></li>
<li><span class="a-list-item">Position the wires on ZIldjian&apos;s retractable brushes all the way out for a quieter, more traditional brush sound</span></li>
<li><span class="a-list-item">Position the wires on ZIldjian&apos;s retractable brushes all the way out for a quieter</span></li>
<li><span class="a-list-item">More traditional brush sound, or pull them in incrementally for added volume and articulation.</span></li>
</ul>
<p><span><br></span></p>
<!-- "Descripcion" final -->