<!-- "Descripcion" inicio -->
<div><span>Flauta Traversa Pearl 505RBE-1RB silver plated</span></div>
<div><span>Offset&#xA0;llaves ab, Pata B, E part, c/est.</span></div>
<div></div>
<div><img src="http://static.mercadoshops.com/jm/com.stores.framework.commons.imageproxy.ImgProxyServlet?v=i&amp;f=77726746-4764-1.jpg&amp;s=77726746&amp;item=4764"></div>
<div></div>
<div><span><span><span>It has often been said, to judge the worth of an idea or product, you must look at its simplest component. As such, Pearl&apos;s most economical flute is surely one of the company&apos;s most significant innovations.&#xA0;</span><br><br><span>The new Quantz 505 flute joins the famous Pearl Quantz series, with this completely new Silver plated instrument. Now, every Pearl flute, from this novice model to our Maesta line, has French pointed arms - an industry first. The trademark Pearl sound and intonation standards are maintained.&#xA0;</span><br><br><span><b>Features:</b></span><span></span></span></span>
<ul>
<li>Model #: 505RBE-1RB</li>
<li>Keystyle: Open</li>
<li>Footjoint: B</li>
<li>Key: Offset G</li>
<li>Body: Silver Plated</li>
<li>Headjoint: Silver Plated</li>
<li>Headjoint Cut: Standard</li>
<li>Case: French/Cover</li>
</ul>
</div>
<div></div>
<div></div>
<!-- "Descripcion" final -->