<!-- "Descripcion" inicio -->
<div><span>Microfono Pastilla P/guit Ds Pickups<br> Ds12 Cool Vintage&#xA0;<br></span><br><img src="http://www.mercadolibre.com.ar/jm/img?s=MLA&amp;f=2834179949_062012.jpg&amp;v=P&amp;t=T&amp;sll=713889" align="absmiddle" alt=""></div>
<div><span><span></span></span>
<table border="0" cellpadding="0" cellspacing="0" width="477"><colgroup><col width="81"> <col width="396"> </colgroup>
<tbody>
<tr height="17">
<td height="17" class="xl65" width="81">DS12-N</td>
<td class="xl67" width="396">Cool Neck&#xA0;&#xA0;</td>
</tr>
<tr height="17">
<td height="17" class="xl65">DS12-M</td>
<td class="xl67">Cool Middle&#xA0;</td>
</tr>
<tr height="17">
<td height="17" class="xl65">DS12-B</td>
<td class="xl67">Cool Bridge&#xA0;</td>
</tr>
</tbody>
</table>
<span><br><span face="Arial, Helvetica, sans-serif"><b>SOMOS DISTRIBUIDORES OFICIALES<br>TIEMPO DE ENTREGA 7 A 10 D&#xCD;AS</b></span></span><span size="2" face="Arial, Helvetica, sans-serif"><b><br><br></b></span>
<p></p>
<p align="left"><span><span><span><span color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><b>APLICACIONES&#xA0;</b></span><span color="#999999" size="2" face="Arial, Helvetica, sans-serif"><br></span><span color="#999999" size="2"><span color="#C0C0C0" face="Arial, Helvetica, sans-serif">-&#xA0;</span><span color="#C0C0C0" size="2"><span face="Arial, Helvetica, sans-serif">Micr&#xF3;fono&#xA0;<b><i><span color="#FFFFFF">Simple Bobina&#xA0;</span></i></b><span color="#FFFFFF"><i><b>Vintage</b></i></span>&#xA0;de&#xA0;<i><b><span color="#FFFFFF">ALNICO II</span></b></i>&#xA0;<br>(<i>vintage-correct true single-coil</i>)&#xA0;</span></span><span color="#C0C0C0" face="Arial, Helvetica, sans-serif"><br>- Recomendado para estilos jazz, pop, rock, blues, ska, surf, etc.</span></span></span></span></span></p>
<p><span><span><span><span color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><b>DESCRIPCION</b></span><span color="#999999" size="2" face="Arial, Helvetica, sans-serif"><br><b><span color="#C0C0C0">-&#xA0;</span></b><span color="#C0C0C0">El modelo&#xA0;<span color="#FFFFFF"><b>COOL</b></span><b><span color="#FFFFFF">&#xA0;</span></b>es un micr&#xF3;fono simple bobina de tonalidades c&#xE1;lidas, suaves y definidas producidas por la combinaci&#xF3;n de n&#xFA;cleos de ALNICO II y una bobina con un n&#xFA;mero de vueltas moderado.<br></span><span color="#999999" size="2" face="Arial, Helvetica, sans-serif"><span color="#C0C0C0" size="2" face="Arial, Helvetica, sans-serif"><b>-&#xA0;</b>Extremadamente sensible al ataque de las cuerdas por estar bobinado directamente sobre los n&#xFA;cleos de ALNICO II, este modelo es ideal para aquellos m&#xFA;sicos interesados en obtener tanto un sonido dulce y cristalino en limpio, como distorsiones producidas desde la ganancia del amplificador m&#xE1;s que desde el propio micr&#xF3;fono.</span></span><span color="#C0C0C0">&#xA0;<br></span><span color="#999999" size="2" face="Arial, Helvetica, sans-serif"><span color="#C0C0C0">- Al disminuir la atracci&#xF3;n de las cuerdas por el tipo de imantaci&#xF3;n, este micr&#xF3;fono aporta menor nivel de salida que otros modelos de ALNICO V pero mayor&#xA0;<i>sustain</i>&#xA0;al instrumento!</span></span><span color="#C0C0C0"><br></span><span color="#999999" size="2" face="Arial, Helvetica, sans-serif"><span color="#999999" size="2" face="Arial, Helvetica, sans-serif"><span color="#C0C0C0">- En comparaci&#xF3;n con el modelo GYPSY y BLUES, este micr&#xF3;fono ofrece un sonido m&#xE1;s redondeado, medioso y &quot;cool&quot; aunque sin perder definici&#xF3;n (escuchar clips de audio)<br><br></span></span></span></span></span></span></span></p>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td colspan="2" valign="top" height="205">
<p><span color="#C0C0C0" size="2" face="Arial, Helvetica, sans-serif">&#xA0;Se combina perfectamente con cualquiera de los otros modelos Single-Coil&#xA0;<i>&quot;Vintage&quot;</i>&#xA0;en sus diversas posiciones.<b>&#xA0;<br>-&#xA0;</b>Dise&#xF1;ado para adaptarse a guitarras Stratocaster &#x2013; separaci&#xF3;n entre cuerdas 52,5mm.<br><b>-&#xA0;</b></span><span size="2" face="Arial, Helvetica, sans-serif" color="#999999"><span color="#C0C0C0">Base de fibra de vidrio (circuito impreso) con insertos de bronce est&#xE1;ndar de rosca 6/32&quot;</span></span><span face="Arial, Helvetica, sans-serif" size="2" color="#C0C0C0">.&#xA0;<br></span><span color="#999999" size="2" face="Arial, Helvetica, sans-serif"><span color="#C0C0C0">- Equipado con cobertura de hilo parafinado que refuerza la est&#xE9;tica&#xA0;<i>vintage!</i></span></span><span color="#C0C0C0" size="2" face="Arial, Helvetica, sans-serif"><br>- Tornillos + tubos de l&#xE1;tex para una &#xF3;ptima calibraci&#xF3;n del micr&#xF3;fono.&#xA0;<br><b>-&#xA0;</b>Manualmente ensamblado.<br><b>-&#xA0;</b>Micr&#xF3;fono parafinado al vac&#xED;o para eliminar retroalimentaciones y acoples indeseados.&#xA0;<br><b>-&#xA0;</b>Incluye todos los accesorios de instalaci&#xF3;n y manual de instrucciones + diagrama de conexionado.&#xA0;<br></span><span color="#CCCCCC"><span color="#FFFFFF"><span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC">- Presentaci&#xF3;n en caja de cedro lustrado con tapa de acr&#xED;lico.</span></span></span></p>
<p><span color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><b>GUITARRAS</b></span><span color="#999999" size="2" face="Arial, Helvetica, sans-serif"><br><b><span color="#C0C0C0">-&#xA0;</span></b><span color="#C0C0C0">Recomendado para guitarras con cuerpos &quot;c&#xE1;lidos&quot; como alder, ash, basswood, etc.&#xA0;<br>- Funciona adecuadamente con diapasones de maple, guatamb&#xFA;, palisandro y jacarand&#xE1;.&#xA0;<br></span></span></p>
<p><span color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><b>MODELOS DISPONIBLES</b></span><span color="#999999" size="2" face="Arial, Helvetica, sans-serif"><br><b><span color="#FFFFFF">-&#xA0;</span></b><span color="#FFFFFF">Tres versiones: neck (DS12-N), middle (DS12-M) y bridge</span><span color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">&#xA0;(DS12-B)&#xA0;</span><span color="#C0C0C0"><br><b>-&#xA0;</b>El modelo COOL MIDDLE presenta bobinado + polaridad invertida para cancelaci&#xF3;n de ruido en las posiciones 2 y 4 de la llave selectora de cinco posiciones.<br>- El modelo COOL BRIDGE es compensado con un 5% m&#xE1;s de medios-graves para obtener mayor agresividad en la posici&#xF3;n del puente.&#xA0;<br></span></span></p>
</td>
</tr>
<tr>
<td width="62%" height="48">
<div align="center"><span color="#999999" size="3" face="Arial, Helvetica, sans-serif"><b><br></b></span>
<table width="93%" border="1" cellspacing="0" cellpadding="0" bordercolor="#666666">
<tbody>
<tr>
<td>
<div align="center"><span color="#999999" size="3" face="Arial, Helvetica, sans-serif"><b><span color="#F2DF86">Especificaciones T&#xE9;cnicas</span></b></span></div>
</td>
</tr>
</tbody>
</table>
</div>
<span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC"><b><span color="#F2DF86">&#x2022;</span>&#xA0;</b></span><span size="2" color="#C0C0C0" face="Arial, Helvetica, sans-serif">Resistencia:<br>6,6 K ohms (neck y middle) y 7,0 K ohms (bridge)<br></span><span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC"><b><span color="#F2DF86">&#x2022;</span>&#xA0;</b></span><span size="2" color="#C0C0C0" face="Arial, Helvetica, sans-serif">ALNICO II<br></span><span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC"><b><span color="#F2DF86">&#x2022;</span>&#xA0;</b></span><span size="2" color="#C0C0C0" face="Arial, Helvetica, sans-serif">Cancelaci&#xF3;n de ruido = No<br></span><span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC"><b><span color="#F2DF86">&#x2022;</span>&#xA0;</b></span><span size="2" color="#C0C0C0" face="Arial, Helvetica, sans-serif">Frecuencia de resonancia:<br>3,9 KHz (neck-middle) y 3,6 KHz (bridge)<br></span><span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC"><b><span color="#F2DF86">&#x2022;</span>&#xA0;</b></span><span size="2" color="#C0C0C0" face="Arial, Helvetica, sans-serif">Salida: moderada</span></td>
</tr>
</tbody>
</table>
<p></p>
</div>
<!-- "Descripcion" final -->