<!-- "Descripcion" inicio -->
<div><span>Microfono Pastilla Ds Pickups</span></div>
<div><span> Ds33-td Hambucker Ah1-td oro</span></div>
<div><span>MODELO COLOR DORADO</span></div>
<div><span><br></span></div>
<div><img src="https://mla-s1-p.mlstatic.com/263001-MLA20261501534_032015-C.jpg"></div>
<div><span><br></span></div>
<div></div>
<div><span><span><span size="2" face="Arial, Helvetica, sans-serif" color="#999999"><span color="#FFFFFF"><b>APLICACIONES</b>&#xA0;</span><br><b><span color="#C0C0C0">-&#xA0;</span></b><span color="#C0C0C0"><span face="Arial, Helvetica, sans-serif" size="2">Vers&#xE1;til mic doble bobina tipo P.A.F.</span>&#xA0;en ALNICO V.<br><b>-</b>&#xA0;Ideal para estilos country, reggae, blues, funk, pop, rock y jazz.</span></span></span></span>
<p><span><span color="#FFFFFF" face="Arial, Helvetica, sans-serif" size="2"><b>DESCRIPCION&#xA0;</b></span><span color="#999999" face="Arial, Helvetica, sans-serif" size="2"><br></span><span color="#C0C0C0"><span face="Arial, Helvetica, sans-serif" size="2"><span color="#999999"><span color="#C0C0C0"><b>-</b></span></span>&#xA0;Humbucker con&#xA0;<b><span color="#FFFFFF">cobertor de ALPACA / Nickel Silver&#xA0;</span></b>como los tradicionales P.A.F Gibson!<br>- C&#xE1;lidos y cristalinos tonos de gran definici&#xF3;n.<br>- Micr&#xF3;fono balanceado en graves-medios-agudos.<br>- Precisa distorsi&#xF3;n con ataque y sensibilidad, aunque conservando gran&#xA0;<i>sustain</i>.&#xA0;<br><span color="#999999"><span color="#C0C0C0"><b>-</b></span></span>&#xA0;Puede ser instalado junto a un AH2-T para obtener un 10-15% m&#xE1;s de &quot;cuerpo&quot; en la posici&#xF3;n del puente o un AH3-T para lograr un sonido aun m&#xE1;s potente y agresivo!<br><span color="#999999"><span color="#C0C0C0"><b>-</b>&#xA0;Doble parafinado en c&#xE1;mara de vacio para evitar acoples indeseados.<br>- Extra silencioso gracias al cobertor que rodea ambas bobinas.<br>- Logo de DS estampado a cu&#xF1;o para lograr m&#xE1;xima calidad de presentaci&#xF3;n y durabilidad a trav&#xE9;s del tiempo.&#xA0;<br><span face="Arial, Helvetica, sans-serif" size="2"><span color="#999999"><b><span color="#C0C0C0">-</span></b><span color="#C0C0C0">&#xA0;F-Spaced (51mm)&#xA0;</span></span></span></span></span><br></span><span color="#C0C0C0"><span face="Arial, Helvetica, sans-serif" size="2"><span color="#999999"><span color="#C0C0C0"><b>-</b>&#xA0;Manualmente ensamblado</span></span></span></span><span face="Arial, Helvetica, sans-serif" size="2"><br><span color="#999999"><span color="#C0C0C0"><span face="Arial, Helvetica, sans-serif" size="2"><span color="#999999"><span color="#C0C0C0"><b>-</b></span></span>&#xA0;Easy-connector system&#xAE;&#xA0;<br><span face="Arial, Helvetica, sans-serif" size="2"><span face="Arial, Helvetica, sans-serif" size="2"><span color="#999999"><span color="#C0C0C0"><span face="Arial, Helvetica, sans-serif" size="2"><span color="#999999"><span color="#C0C0C0"><span face="Arial, Helvetica, sans-serif" size="2"><span color="#999999"><span color="#C0C0C0"><b>-</b></span></span></span></span></span></span>&#xA0;Circuito impreso + base de fibra de vidrio&#xA0;</span></span><span color="#C0C0C0" size="2" face="Arial, Helvetica, sans-serif">con insertos de bronce + tornillos 3/32&quot; ranurados.</span></span></span><span color="#C0C0C0"><br><b>-</b>&#xA0;Incluye todos los accesorios de instalaci&#xF3;n y manual de instrucciones.<br></span><span color="#CCCCCC"><span color="#FFFFFF"><span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC">- Packaging en caja de cedro lustrado con tapa de acr&#xED;lico.</span></span></span></span></span></span></span></span></span></p>
<p></p>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td colspan="2" valign="top" height="44">
<p><span><span color="#FFFFFF" face="Arial, Helvetica, sans-serif" size="2"><b>GUITARRAS</b></span><span color="#999999" face="Arial, Helvetica, sans-serif" size="2"><br><b><span color="#C0C0C0">-</span></b><span color="#C0C0C0">&#xA0;Excelente para instrumentos de maderas semi-duras. Funciona especialmente bien en cuerpos de caoba y diapasones de palisandro.</span></span></span></p>
<p><span><span color="#FFFFFF" face="Arial, Helvetica, sans-serif" size="2"><b>MODELOS DISPONIBLES</b></span><span color="#999999" face="Arial, Helvetica, sans-serif" size="2"><br><b><span color="#FFFFFF">-</span></b><span color="#FFFFFF">&#xA0;&#xDA;nica versi&#xF3;n (DS33-T) para ambas posiciones m&#xE1;stil (neck) y puente (bridge)&#xA0;</span><span color="#C0C0C0"><br><span color="#FFFFFF">- Opciones de cobertor:&#xA0;<b>natural, oro 24K, niquel negro</b></span><br><b>-</b>&#xA0;Cable de 4-conductores + malla para una amplia variedad de conexiones.</span></span></span></p>
</td>
</tr>
<tr>
<td width="60%" height="54">
<div align="center">
<table width="89%" border="1" cellspacing="0" cellpadding="0" bordercolor="#666666">
<tbody>
<tr>
<td valign="top">
<div align="center"><span color="#999999" size="3" face="Arial, Helvetica, sans-serif"><b><span color="#F2DF86">Especificaciones T&#xE9;cnicas</span></b></span></div>
</td>
</tr>
</tbody>
</table>
</div>
<p><span><span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC"><b><span color="#F2DF86">&#x2022;</span>&#xA0;<span color="#F2DF86"></span></b></span><span size="2" color="#C0C0C0" face="Arial, Helvetica, sans-serif">Resistencia 7,95 K ohms&#xA0;<br></span><span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC"><b><span color="#F2DF86">&#x2022;</span>&#xA0;<span color="#F2DF86"></span></b></span><span size="2" color="#C0C0C0" face="Arial, Helvetica, sans-serif">Imantaci&#xF3;n: Barra Alnico V<br></span><span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC"><b><span color="#F2DF86">&#x2022;</span>&#xA0;<span color="#F2DF86"></span></b></span><span size="2" color="#C0C0C0" face="Arial, Helvetica, sans-serif">Cancelaci&#xF3;n de ruido = S&#xED;<br><span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC"><b><span color="#F2DF86">&#x2022;</span>&#xA0;<span color="#F2DF86"></span></b></span><span color="#CCCCCC">Frecuencia de resonancia 3,1 KHz.&#xA0;</span><br></span><span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC"><b><span color="#F2DF86">&#x2022;</span>&#xA0;<span color="#F2DF86"></span></b></span><span size="2" color="#C0C0C0" face="Arial, Helvetica, sans-serif">Nivel de Salida:&#xA0;</span><span color="#C0C0C0" face="Arial, Helvetica, sans-serif" size="-1">moderado</span></span></p>
</td>
</tr>
</tbody>
</table>
<p><span color="#C0C0C0"><span face="Arial, Helvetica, sans-serif" size="2"><span color="#999999"><span color="#C0C0C0"><span face="Arial, Helvetica, sans-serif" size="2"><span color="#CCCCCC"><span color="#FFFFFF"><span face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC"><br></span></span></span></span></span></span></span></span></p>
</div>
<!-- "Descripcion" final -->