
<div><span>Pedalera multiefecto Boss ME70 Edenlp</span></div>
<div><span><br></span></div>
<div><span><img src="http://img2.mlstatic.com/s_MLA_v_O_f_4837908529_082013.jpg"></span></div>
<div><span><br></span></div>
<div>
<h3>ME-70 Efectos m&#xFA;ltiples de guitarra</h3>
<div class="long-desc">La nueva pedalera&#xA0;<br><strong>BOSS ME-70</strong>&#xA0;une la facilidad de uso de los pedales BOSS con la creatividad avanzada de COSM&#xAE;. La ME-70 de BOSS es una unidad multiefectos&#xA0;tan f&#xE1;cil de usar como un pedal. El dise&#xF1;o f&#xE1;cil de utilizar y basado en mandos hace que la creaci&#xF3;n de tonos sea un abrir y cerrar de ojos, pero con una nueva y potente secci&#xF3;n COSM AMP derivada del BOSS GT-10. Con&#xA0;el ME-70, los &quot;efectos EZ&quot; alcanzan nuevos hitos.
<p></p>
<p>Caracteristicas principales del&#xA0;<br><strong>BOSS ME-70:</strong></p>
<ul>
<li>Mandos especiales para cada par&#xE1;metro, para un funcionamiento r&#xE1;pido y f&#xE1;cil</li>
<li>Nueva secci&#xF3;n de preamplificador COSM derivada del GT-10 y de la serie Legend</li>
<li>EZ TONE para una edici&#xF3;n r&#xE1;pida y f&#xE1;cil</li>
<li>Cuatro conmutadores de pedal y pedal de expresi&#xF3;n</li>
<li>Funci&#xF3;n PHRASE LOOP en la secci&#xF3;n DELAY, con 38 segundos de tiempo de grabaci&#xF3;n</li>
</ul>
</div>
</div>
<div></div>
<div></div>
<!-- "Descripcion" final -->