<!-- "Descripcion" inicio -->
<div><span>Tom Tom Mapex MBT1310CY para MB 13&quot;x10&quot; Transparente Cherry Red</span></div>
<div><span><br></span></div>
<div><span><img src="http://static.mercadoshops.com/jm/com.stores.framework.commons.imageproxy.ImgProxyServlet?v=i&amp;f=77726746-4100-1.jpg&amp;s=77726746&amp;item=4100"><br></span></div>
<div><span><br></span></div>
<div></div>
<!-- "Descripcion" final -->