<!-- "Descripcion" inicio -->
<p><span>Micro Mooer Alimentador / transformador multiple&#xA0;</span></p>
<p><span><br></span></p>
<p><span><img src="https://a248.e.akamai.net/mla-s2-p.mlstatic.com/17824-MLA20145063227_082014-C.jpg"></span></p>
<p><span><img src="https://a248.e.akamai.net/mla-s2-p.mlstatic.com/17814-MLA20145063260_082014-C.jpg"></span></p>
<p><span>Provide stable 9V DC power supply with high performance, each&#xA0;<br>out put maximum current of&#xA0; 300 mA, can meet most of the pedal use requirement .<br>Eight independent out put short circuit protection design, when one&#xA0;<br>circuit output failure, other out put lines still can work independently.<br>8 LED lights indicating output status in darkness, its unique&#xA0;<br>dull - polished feature can also protect your eyes from spotlights on stage.<br>Very small and exquisite, full metal shell .</span></p>
<p><span>The 12V power adapter&#xA0; 12V 2A<br>460mm lines *4 (connect the pedal )<br>610mm lines *4 (connect the pedal )<br>200mm Polar conversion line (The out put power from the negative is&#xA0;<br>changed to outside to inside is outside negative)<br>Velcro tape<br>Owner&apos;s Manual</span></p>
<p></p>
<!-- "Descripcion" final -->