<!-- "Descripcion" inicio -->
<div align="center"></div>
<div class="fitxafoto" align="center"><u><em><strong><font color="#ff0000" size="5">Phonic SE207b </font></strong></em></u><br></div>
<div class="fitxafoto" align="center"></div>
<div class="fitxafoto" align="center"><strong><font color="#000000" size="2">Altavoz de 50 w. Sensibilidad 1Watt/1Metro 90 dbs. Respuesta en frecuencia 70 hz-20 khz. Respuesta en graves optimizada. </font></strong><br></div>
<div class="fitxafoto" align="center"><img alt="SE207b" src="http://www.microfusa.com/data/upload/distribucion/foto_grande/se206G.jpg" border="0"></div>
<div align="center"></div>
<div align="center"></div>
<div align="center"></div>
<div align="center"></div>
<div align="center"></div>
<div align="center"></div>
<div align="center"></div>
<div align="center"><strong><font color="#000000" size="3">Capacidad de Potencia 50 Watts.Sensibilidad :90 dB SPL @ 1W / 1M.Respuesta en Frecuencia: 70 Hz ~ 20 kHz. 1&quot; Tweeter and 6 1/2&quot; Woofer. Respuesta en graves extendida.Gabinete de pl&#xE1;stico ligero.Inserts internos. Soporte de montaje U incluido.</font></strong></div><!-- "Descripcion" final -->