<!-- "Descripcion" inicio -->
<p><span>Pedal Mooer FLEX BOOST</span></p>
<p><span> booster elevador de ganancia Edenlp</span></p>
<p><span><br></span></p>
<p><span><img src="https://a248.e.akamai.net/mla-s2-p.mlstatic.com/17819-MLA20144347384_082014-C.jpg"></span></p>
<p><span><img src="https://a248.e.akamai.net/mla-s1-p.mlstatic.com/17828-MLA20144347389_082014-C.jpg"></span></p>
<p><span>Wide gain range boost, enough working along as a best overdrive<br>Full metal shell<br>Very small and exquisite<br>True bypass</span></p>
<p><span>Input: 1/4&#x201D; monaural jack (impedance: 1M Ohms)<br>Output: 1/4&#x201D; monaural jack (impedance: 10k Ohms)<br>Power Requirements: AC adapter 9V DC (center minus plug)<br>Current Draw: 6 mA<br>Dimensions: 93.5mm (D) &#xD7; 42mm (W) &#xD7; 52mm (H)<br>Weight: 160g</span></p>
<p></p>
<!-- "Descripcion" final -->