<!-- "Descripcion" inicio -->
<p><span>Pedal Mooer PITCH BOX</span></p>
<p><span> Harmony/Pitch Shift/Detune p/guitarra</span></p>
<p><img src="https://a248.e.akamai.net/mla-s2-p.mlstatic.com/17832-MLA20145591226_082014-C.jpg"></p>
<p><img src="https://a248.e.akamai.net/mla-s1-p.mlstatic.com/17879-MLA20145590777_082014-C.jpg"></p>
<p><span>3 Effects Modes: Harmony, Pitch Shift, Detune</span><br><span>&#xA0;&#xA0;&#xA0; Harmony: It shifts the pitch and mixes it back with the original signal to create a rich harmonic voice.</span><br><span>&#xA0;&#xA0;&#xA0; Pitch Shift: Outputs a precise polyphonic pitch shifting voice.</span><br><span>&#xA0;&#xA0;&#xA0; Detune: It slightly shifts the pitch and mixes it back with the original signal to create a chorus-like effect, it rings a lot of nice spacy feeling.</span><br><span>original signal to create</span><br><span>&#xBF;Precise polyphonic pitch shifting</span><br><span>&#xB1;2 Oct Pitch Range (16 optional parameters)</span><br><span>Full metal shell</span><br><span>Very small and exquisite</span><br><span>True bypass</span></p>
<p><span><span>Effects Modes: 3 (Harmony, Pitch Shift, Detune)</span><br><span>Input: 1/4&#x201D; monaural jack (impedance: 470k Ohms)</span><br><span>Output: 1/4&#x201D; monaural jack (impedance: 100 Ohms)</span><br><span>Power Requirements: AC adapter 9V DC (center minus plug)</span><br><span>Current Draw: 128 mA</span><br><span>Dimensions: 93.5mm (D) &#xD7; 42mm (W) &#xD7; 52mm (H)</span><br><span>Weight: 170g</span></span></p>
<p></p>
<!-- "Descripcion" final -->