
<div><span>Piano digital Casio &quot;Privia&quot; 88 teclas sensitivo &#xA0;Edenlp</span></div>
<div><span><br></span></div>
<div><span><img src="http://img1.mlstatic.com/s_MLA_v_O_f_4838207227_082013.jpg"></span></div>
<div><span><span></span></span>
<table cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
<td class="bucket normal">
<h2>Product Features</h2>
<div class="content">
<ul>
<li>Keyboard: 88 keys, weighted scaled hammer action</li>
<li>Sound Source: AiR (Acoustic &amp; intelligent Resonator)</li>
<li>Polyphony (maximum): 128</li>
<li>Tones: 18 Built-in tones, Duet Mode, Layer, Split, Octave Shift</li>
<li>Simulator: Hammer Response, Damper Resonance, String Resonance, Lid Simulator</li>
</ul>
</div>
</td>
</tr>
</tbody>
</table>
</div>
<div></div>
<div>
<p></p>
</div>
<!-- "Descripcion" final -->