<!-- "Descripcion" inicio -->
<p><span>Bafle / Monitor Phonic SEM712<br> 2 vias, 12&quot; + TW, 150w-300w</span></p>
<p><span><br></span></p>
<p><span><img src="https://www.mercadolibre.com/jm/img?s=MLA&amp;v=O&amp;t=T&amp;f=4176219116_042013.jpg&amp;sll=839252"></span></p>
<p><span>DESCRIPCION</span></p>
<p><span>El SEM 712 Plus le ofrece m&#xE1;s potencia de lo que usted paga. Esta unidad tiene caracter&#xED;sticas de woofer 12&quot; heavy duty y piezo tweeter con potencia admisble que alcanza 460Watts (programa) o 230 Watt (RMS). El altavoz SEM 712 Plus puede complementar con Powerpod 620 y 740 Plus perfectamente, ofreciendo una soluci&#xF3;n de audio rentable para aplicaciones FOH.</span></p>
<p><span>CARACTERISTICAS</span></p>
<p><span>Altavoz de Escenario/Piso de 2-v&#xED;as 12&#x201D;</span></p>
<p><span>Doble aplicado: usado como monitor de suelo o de montaje como altavoces de reforzamiento para mejorar el sonido</span></p>
<p><span>Potencia admisible: 230 W (RMS), 460W (Programa)</span></p>
<p><span>Respuesta de Frecuencia: 60 Hz ~ 20 KHz</span></p>
<p><span>Alto Nivel de Presi&#xF3;n Sonora, 95 dB SPL @ 1W / 1M</span></p>
<p><span>Woofer de heavy duty 12&quot; y piezo tweeter</span></p>
<p><span>8 ohm carga nominal</span></p>
<p><span>Manilla integrada</span></p>
<p><span>Adaptador de estante 35 mm integrado</span></p>
<p><span>Dual 1/4&quot; phone jacks</span></p>
<p><span><br></span></p>
<p></p>
