
<div><span>Clavijas de bajo Fender</span></div>
<div><span> 003-6443-000 Standard 5 cuerdas</span></div>
<div><span><br></span></div>
<div><span><img src="https://mla-s1-p.mlstatic.com/20364-MLA20188413688_102014-C.jpg"></span></div>
<div></div>
