<!-- "Descripcion" inicio -->
<div><span>Tambor Redoblante Mapex<br>BPML4550CSEWT&#xA0;BLACK PANTHER MAPLE con parches remo y aros power hoops<br><img src="http://static.mercadoshops.com/jm/com.stores.framework.commons.imageproxy.ImgProxyServlet?v=i&amp;f=77726746-4048-1.jpg&amp;s=77726746&amp;item=4048"></span></div>
<div><span><img src="http://static.mercadoshops.com/jm/com.stores.framework.commons.imageproxy.ImgProxyServlet?v=i&amp;f=77726746-4048-2.jpg&amp;s=77726746&amp;item=4048"><br><br><br></span><span><span>BPML4550CSEWT. HIP CAT. Caja Mapex en ARCE.14&quot; x 5,5&quot;. Serie Black Panther.Herrajes cromados.Aros Power hoop.Parches Remo.</span></span></div>
<div><!-- "Descripcion" final --></div>
