<!-- "Descripcion" inicio -->
<div><span>Redoblante Mapex Birch MPBC4550BMB<br> 14x5.5, 10torres Edenlp</span></div>
<div><span><br></span></div>
<div><span><img src="http://static.mercadoshops.com/jm/com.stores.framework.commons.imageproxy.ImgProxyServlet?v=i&amp;f=77726746-5482-1.jpg&amp;s=77726746&amp;item=5482"></span></div>
<div><span><br></span></div>
<div>
<p>Modelo: MPBC4550BMB</p>
<p>Descripci&#xF3;n: Caja Mapex en abedul negro. Serie MPX 14&#x201D; x 5.5&#x201D;. Casco de abedul de 7,2 mm de grosor 20 tensores de baja masa. Hardware negro. Parches Remo UX.</p>
</div>
<div><span><br></span></div>
<div></div>
<div></div>
<!-- "Descripcion" final -->