<!-- "Descripcion" inicio -->
<div><span>Pedal de distorsion Zvex Box of rock Edenlp Stk&#xA0;</span></div>
<div><span><br></span></div>
<div><span></span></div>
<div></div>
<div><img src="http://img2.mlstatic.com/s_MLA_v_O_f_4831495854_082013.jpg"></div>
<div></div>
<div><br>
<p>Clean boost and a distortion circuit&#x2014;like 2 effects in 1 box.</p>
<div class="details">
<p class="description">The Vexter Box of Rock is a silkscreened version of ZVex&apos;s first distortion pedal, highly specialized to simulate the &quot;everything on 10&quot; sound of a classic Marshall amplifier. Use your guitar&apos;s volume control to adjust the amount of distortion you need, all the way down to very clean and clear with most drive settings. The silkscreened ZVex Box has one &quot;Distortron Engine&quot; stomp switch&#x2014;that&apos;s no typo, but what Mr. Vex himself calls his distortion circuit. The Box of Rock also contains an extremely high-headroom, unity-to-50X gain booster with nominal input impedance and low hiss.</p>
</div>
<div class="specs">
<h3>Features</h3>
<ul>
<li>Drive, Tone, Volume, and Boost controls give you easy control over your distortion</li>
<li>Silkscreened model allows for a few visual tweaks</li>
<li>Gives you great classic amp tone through any sort of amplifier</li>
</ul>
</div>
</div>
<div></div>
<div>
<div class="product-specs"></div>
</div>
<!-- "Descripcion" final -->