<!-- "Descripcion" inicio -->
<p><font color="#ff0000" size="5"><u><em><strong>PZ16C - 16&quot; Crash Planet Z - Zildjian</strong></em></u></font></p>
<p><font color="#ff0000" size="5"><u><em><strong><a onclick="open_new_window(document.MCfoto.src)" href="http://www.multicompras.com/MCA-145980-PZ16C--16-Crash-Planet-Z--Zildjian-MC#" rel="nofollow"><img title="PZ16C 16 Crash Planet Z Zildjian" alt="" src="http://www.multicompras.com/makethumb.php?pic=uplimg/mb-145980-100371-0.jpg&amp;w=200&amp;sq=Y" border="0"></a></strong></em></u></font></p>
<p><strong><font size="2"><img alt="" src="http://www.olimusic.com/Imagenes%20Productos/Zildjian.jpg"><br><br></font><font color="#404040" size="2">Agreat cymbal value, Planet Z cymbals feature renowned Zildjian qualityat entry-level prices!Forged from a durable copper &amp; zinc alloy,Planet Z cymbals are shaped and lathed into bright, superior-soundingcymbals. Perfect for advancing drummers!<br></font></strong></p><!-- "Descripcion" final -->