
<p><span>Oportunidad! Bajo electroacustico Faim usado como nuevo!</span></p>
<p><span><img src="http://mla-s1-p.mlstatic.com/12932-MLA20069481823_032014-C.jpg"><img src="http://mla-s2-p.mlstatic.com/12909-MLA20069482283_032014-C.jpg"><img src="http://mla-s1-p.mlstatic.com/12985-MLA20069482297_032014-C.jpg"><img src="http://mla-s2-p.mlstatic.com/12923-MLA20069482315_032014-C.jpg"><br></span></p>
<p><span><br></span></p>
<p><span><br></span></p>
<p></p>
<p></p>
