
<div><span>Control de volumen Jbl CSR-2SV-WHT blanco Edenlp</span></div>
<div><img src="https://mla-s2-p.mlstatic.com/490701-MLA20379412938_082015-C.jpg"></div>
<div>Control de Volumen/ nivel de pared, 2 fuentes, de embutir, t/ Americana (Rectangular) c:White</div>
<div></div>
