
<p></p>
<div><span>Preamplificador P/auriculares Vox AP2-CR Classic Rock&#xA0;&#xA0;</span></div>
<div><span>Edenlp</span></div>
<div></div>
<div><img src="https://mla-s1-p.mlstatic.com/633011-MLA20463175904_102015-C.jpg"></div>
<div>
<h2>Bring Some Classic Crunch to Your Practice Sessions</h2>
<p>The Vox amPlug Classic Rock G2 headphone guitar amplifier will help you nail the classic UK-made amp sound, giving you that massive crunch - despite the fact that it occupies virtually no space. Sporting a drastically improved analog circuit, the amPlug Classic Rock G2 provides you with an exceptionally clear and present tone that will inject inspiration into your practice sessions. You also get a selectable mid-boost, as well as onboard chorus, delay, and reverb. So, ditch your cable, plug straight into a Vox amPlug Classic Rock G2 headphone guitar amplifier, and enjoy some authentic rock &apos;n&apos; roll guitar tone.</p>
<p></p>
<table>
<tbody>
<tr><th>Type</th>
<td>Solid State</td>
</tr>
<tr><th>Number of Channels</th>
<td>1</td>
</tr>
<tr><th>Effects</th>
<td>Yes</td>
</tr>
<tr><th>Reverb</th>
<td>Yes</td>
</tr>
<tr><th>Inputs</th>
<td>1 x Instrument, 1 x 1/8&quot;</td>
</tr>
<tr><th>Outputs</th>
<td>1 x 1/8&quot;</td>
</tr>
<tr><th>Height</th>
<td>1.22&quot;</td>
</tr>
<tr><th>Width</th>
<td>3.39&quot;</td>
</tr>
<tr><th>Depth</th>
<td>3.15&quot;</td>
</tr>
<tr><th>Weight</th>
<td>0.09 lbs.</td>
</tr>
</tbody>
</table>
</div>
