<!-- "Descripcion" inicio -->
<div><span>Guitarra Epiphone&#xA0;Les Paul CLASSIC-T 250-087-320</span></div>
<div><span>Edenlp</span></div>
<div><img src="https://mla-s2-p.mlstatic.com/384501-MLA20328564280_062015-C.jpg"></div>
<div><img src="https://mla-s1-p.mlstatic.com/856401-MLA20328563890_062015-C.jpg"></div>
<div><img src="https://mla-s2-p.mlstatic.com/398401-MLA20328563913_062015-C.jpg"></div>
<div><span class="SpecGroup-Title">SPECIFICATIONS</span><span></span>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top" class="SpecFirstCell">Body</td>
<td valign="top">Mahogany</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell">Top</td>
<td valign="top">AAA Flame Maple Veneer</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell">Neck</td>
<td valign="top">3-piece Hard Maple with Volute</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell">Neck Shape</td>
<td valign="top">1960s SlimTaper&#x2122;</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell">Neck Joint</td>
<td valign="top">Set</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell">Scale Length</td>
<td valign="top">24.75&quot;</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell">Fingerboard</td>
<td valign="top">Rosewood with &quot;Trapezoid&quot; Inlays</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell">Fingerboard Radius</td>
<td valign="top">12&quot;</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell">Frets</td>
<td valign="top">22 medium/jumbo</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell">Neck Pickup</td>
<td valign="top">Epiphone Ceramic Plus-R&#x2122; Open Coil humbucker</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell">Bridge Pickup</td>
<td valign="top">Epiphone Ceramic Plus-T&#x2122; Open Coil humbucker</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" colspan="2"><strong><span>Min-ETune&#x2122; Automatic Tuner System</span></strong></td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" colspan="2">Featuring 18 Tuning presets including</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell">12 Factory Presets</td>
<td valign="top"><br>1. &#xA0;Standard<br>2. &#xA0;DADGAD<br>3. &#xA0;LOW D<br>4. &#xA0;DROP D<br>5. &#xA0;Eb<br>6. &#xA0;DOUBLE DROP D<br>7. &#xA0;OPEN E<br>8. &#xA0;OPEN A<br>9. &#xA0;OPEN D<br>10. OPEN G<br>11. DOBRO<br>12. ALL 4<span>th</span></td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell" colspan="2">6 User Programmable Presets</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell">Controls</td>
<td valign="top"><br>1-Neck Volume<br>1-Neck Tone<br>1-Bridge Volume<br>1-Bridge Tone</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell">Knobs</td>
<td valign="top">Top Hats with chrome metal inserts</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell">Pickup Selector</td>
<td valign="top">3-way Epiphone Toggle</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell">Nut</td>
<td valign="top">Tronical SpeedNut&#x2122;</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell">Nut Width</td>
<td valign="top">1.693&quot;</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell">Binding</td>
<td valign="top"><br>Body Top-Back (1-layer)<br>Fingerboard-Black (1-layer)</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell">Hardware</td>
<td valign="top">Nickel</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell">Headstock</td>
<td valign="top">Clipped Ear, 14 degree angle</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell">Headstock Logo</td>
<td valign="top">Vintage &quot;Epiphone&quot; (Pearloid) w/ &quot;Les Paul Model&quot; in gold silkprint and &quot;2014&quot; logo on back of headstock</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell">Truss Rod Cover</td>
<td valign="top">Bell shape, black and white (2-layer)</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell">Truss Rod Logo</td>
<td valign="top">&quot;Les Paul Classic-T&quot; in white</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell">Machine Heads</td>
<td valign="top">Min-ETune&#x2122; Machine Heads with vintage style keys 40:1 ratio</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell">Bridge</td>
<td valign="top">LockTone&#x2122; Tune-o-matic</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell">Tailpiece</td>
<td valign="top">LockTone&#x2122; Stopbar</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell">Strap buttons</td>
<td valign="top">Yes</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell">Pickguard</td>
<td valign="top">Black</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell">Back Cavity Cover</td>
<td valign="top">Black</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell">Output</td>
<td valign="top">&#xBC;&quot; Epiphone Heavy Duty Non-Rotating Jack</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell">Includes</td>
<td valign="top">Epiphone User manual, Min-ETune&#x2122; Quick Start Guide, 1 Min-ETune&#x2122; battery, MineETune&#x2122; Battery Charger</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell">Colors</td>
<td valign="top">Black Cherry, Midnight Ebony, Midnight Sapphire</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell">Typical Weight (+/- 5%)</td>
<td valign="top">9.1 lbs</td>
</tr>
<tr>
<td valign="top" class="SpecFirstCell">Strings</td>
<td valign="top">D&#x2019;Addario&#xAE; 10, 13, 17, 26, 36, 46</td>
</tr>
</tbody>
</table>
</div>
<div></div>
<div></div>
<div></div>
<br><!-- "Descripcion" final -->