<span></span>
<div>
<div>
<div><span>Cuerdas Daddario ECB80SL P/bajo 40-95&#xA0;Edenlp</span></div>
</div>
</div>
<div><img src="https://mla-s2-p.mlstatic.com/718701-MLA20403390711_092015-C.jpg"></div>
<div>D&apos;Addario ECB80 , cuerdas para bajo, blandas, 40-95, escala s&#xFA;per larga</div>
<div><br></div>
<div>
<p>ECB80SL, una versi&#xF3;n extra larga de las cuerdas de entochado plano para bajo m&#xE1;s livianas de D&apos;Addario, son conocidas por su tono c&#xE1;lido y melodioso y por su sensaci&#xF3;n de pulido suave al tacto. Las cuerdas de la serie Chromes proporcionan graves profundos e intensos, lo que las convierte en la opci&#xF3;n de entorchado plano preferida entre los m&#xFA;sicos de Jazz, R&amp;B y Pop. Aptas para bajos de escala larga con una longitud de escala de la cuerda de hasta 36 1/4 pulgadas.</p>
<ul>
</ul><ul>
</ul><ul>
<li>Versi&#xF3;n extra larga del juego de calibre m&#xE1;s liviano con entorchado plano de D&apos;Addario para bajo.</li>
<li>Entorchado con cord&#xF3;n y pulido para proporcionar una sensaci&#xF3;n extra suave y un tono c&#xE1;lido y melodioso.</li>
<li>Aptas para bajos de escala extra larga con una longitud de escala de la cuerda de hasta 38 pulgadas.</li>
<li>Fabricado en EE. UU. para ofrecer la m&#xE1;xima calidad y rendimiento.</li>
<li>Calibres de las cuerdas: Entorchado .040, .060, .075, .095</li>
<li>Paquete ecol&#xF3;gico y resistente a la corrosi&#xF3;n para conservar la frescura de las cuerdas.</li>
</ul>


<div>Las cuerdas para bajo de la serie Chromes de D&apos;Addario est&#xE1;n entorchadas con un cord&#xF3;n de acero inoxidable aplanado y pulido para lograr una superficie incre&#xED;blemente suave. A trav&#xE9;s de su sonido con abundantes tonos y su efecto amortiguado caracter&#xED;stico, la serie Chromes de D&apos;Addario ofrece las cuerdas de entorchado plano m&#xE1;s populares del mundo.</div>
</div>
<span></span>