<span><!-- "Descripcion" inicio --></span>
<div><span>Correa Cuero/tela Planet Waves 50C01<br> &quot;Rock Star&quot;&#xA0;</span></div>
<div><span><br></span></div>
<div><span><img src="http://mla-s2-p.mlstatic.com/8261-MLA20001844597_112013-C.jpg"></span></div>
<div><span>50mm, largo ajustable 85-145cm,C: Negro/Blanco</span></div>
<div></div>
<div></div>
<div></div>
<div></div>
<!-- "Descripcion" final -->