<!-- "Descripcion" inicio -->
<div><span>Mixer potenciada Phonic Power1860Plus Edenlp</span></div>
<div><span><br></span></div>
<div><img src="https://mla-s2-p.mlstatic.com/905501-MLA20329216545_062015-C.jpg"></div>
<div><img src="https://mla-s2-p.mlstatic.com/343501-MLA20329216215_062015-C.jpg"></div>
<div><img src="https://mla-s2-p.mlstatic.com/782501-MLA20329216223_062015-C.jpg"></div>
<div>
<h4>Mezcladora Potenciada 12-Canales 800W con Gr&#xE1;fica EQ &amp; DFX</h4>
<div class="cm-tabs-content clear">
<ul>
<li>Amplificador de potencia est&#xE9;reo de 2 x 400W / 4 ohms (bridgeable y patchable)</li>
<li>8 entradas de micr&#xF3;fono balanceadas con inserciones</li>
<li>Dos entradas de canales de l&#xED;nea est&#xE9;reo con jack RCA est&#xE9;reo adicional</li>
<li>EQ de 3-bandas en todas entradas de canales</li>
<li>EQ de 7-bandas est&#xE9;reo gr&#xE1;fico asignable a Main o Aux 1</li>
<li>Procesador de efectos digitales 32-bit con 100 programas predeterminados m&#xE1;s efectos de tap retardo, tonos de prueba e foot switch jack</li>
<li>Cuatro env&#xED;os AUX (AUX 1/2 son pre-fader y EFX 1/2 son post-fader)</li>
<li>Dos retornos AUX est&#xE9;reo, cada uno puede ser ruteado a AUX 1 &amp; 2 env&#xED;os (efecto a monitor)</li>
<li>Entradas est&#xE9;reo RCA y salidas para reproductores de CD o MP3 externos.</li>
<li>Fuente fantasma +48V agrupado para aplicaciones de mesa</li>
<li>Salida mono para extra relleno de zona o fuente de proceso de subwoofer</li>
<li>PFL en cada entrada y AFL en cada salida</li>
<li>Cuatro env&#xED;os AUX (AUX 1/2 son pre-fader y EFX 1/2 son post-fader</li>
<li>Dos retornos AUX est&#xE9;reo, cada uno puede ser ruteado a env&#xED;os AUX 1 &amp; 2 (efecto a monitor)</li>
<li>Interruptor standby para mute canales 1 a 12 para ejecutar m&#xFA;sica entre sets</li>
<li>Salida zona 2 para relleno lateral u otro sistema PA</li>
<li>Salida aud&#xED;fono/sala de control con control de nivel giratorio</li>
<li>Un jack profesional tipo-speakon y dos jacks de 1/4&#x201D; por canal para conexi&#xF3;n de altavoz</li>
<li>Peso liviano mediante interruptor de suministro de potencia de alta efectividad</li>
<li>Chassis principal de metal fuerte con manija integrada</li>
<li>Cubierta protectora moldeada previene rallar o da&#xF1;ar la Mezcladora</li>
<li>Energ&#xED;a principal intercambiable entre 115 VAC y 230 VAC</li>
</ul>
</div>
</div>
<br><br><!-- "Descripcion" final -->