<!-- "Descripcion" inicio -->
<div><span>Sintetizador Korg Krome-88 digital 88 Teclas Edenlp</span></div>
<div><span><br></span></div>
<div><span><img src="https://a248.e.akamai.net/mla-s2-p.mlstatic.com/14726-MLA20089693701_052014-C.jpg"></span></div>
<div><span>The Korg Krome-88 brings you a top-of-the-line professional digital keyboard with authentically weighted piano action. It delivers complete all-around functionality for any style of keyboard playing, and comes preloaded with numerous unlooped instrument sounds that sound so gorgeous you&apos;ll want to use them in the studio as much as you do on stage.</span></div>
<div><span><br></span></div>
<div>
<h3><span>A True Workstation</span></h3>
<span>The Korg Krome-88 isn&apos;t just a keyboard -- it&apos;s a true full-featured musical creation engine. In addition to its easy-to-use 16-track sequencer, it&apos;s got a sweet Auto Song Setup feature that allows you to sketch entire compositions quickly and easily. Now there&apos;s only a single REC button standing between your inspiration and the finished idea! And when you&apos;re taking the time to prepare arrangements for a live set or studio gig, Korg&apos;s Cue List feature will allow you to get all the different parts in the right place as fast as humanly possible.<br><br></span>
<h3><span>A Grand Piano that Goes Anywhere</span></h3>
<span>Even with 640 Programs (individual voices) and 288 gig-ready Combinations, sometimes you really just need the sound of a great grand piano. And the Korg Krome might well be the best option out there. The German D Grand Piano patch on the Korg Krome-88 is rendered with so much detail that it uses dozens of times more memory than most keyboards do total. Good thing it&apos;s got a whopping 3.8 GB of PCM memory on board! Down to replicating the sound of damper resonances, the Krome-88 offers a piano experience that even classically-trained musicians will appreciate.<br><br></span>
<h3><span>Please Stop Carrying Around That Dusty Old Rhodes</span></h3>
<span>Korg delivered the same degree of detail when they created the Krome-88&apos;s electronic piano sounds. Each of its three electric piano models is rendered at 8 distinct dynamic levels to assure a faithful response to the subtleties of the musician&apos;s touch.<br><br></span>
<h3><span>The Keyboardist Can Finally Fire That Drummer She Hates</span></h3>
<span>The Krome-88 goes beyond typical digital keyboards with its inclusion of the Jazz Ambiance Drums patch set that was so acclaimed on the now-famous Korg Kronos. Once again, the massive PCM memory onboard this instrument gives you sounds you&apos;ll want to use in any type of performance situation. Choose from more than 600 preset rhythm sequences or create your own patterns and loops!<br><br></span>
<h3><span>Good Effects On You</span></h3>
<span>The FX section gives you 5 insert slots for each preset, so you can create custom combinations of reverbs, delays, filters, flangers, phasers, and more. And if your music is looking for some new sounds altogether, patches like the Grain Shifter and the onboard amp modeling features will take you into tonal realms you&apos;ve never even considered before. After all, the Krome is a Korg, so it makes sense that it&apos;s a stellar tool for creating killer sounds from scratch.<br><br></span>
<h3><span>Software Support When You Want It</span></h3>
<span>The Krome-88 comes USB-ready. In addition to hooking up effortlessly with any DAW, this port allows you to interface with the included Krome Plug-in Editing Software. With this you can prepare your sounds and FX inserts before your gig, or control them with a DAW in real time by connecting to a computer. And right next to the USB port you&apos;ll find an SD card reader to save files and patches when you don&apos;t have your computer on hand!<br><br></span>
<h3><span>Beautiful On Every Level</span></h3>
<span>The dark, curved body design with two contrasting aluminum panels projects a striking, high-end allure. But once your audience hears the sound coming off this slick board, they&apos;ll understand that the quality embodied by the Korg Krome-88 is more than skin deep. We think you&apos;ll pick up that pretty quickly too.<br><br></span>
<h3><span>Features:</span></h3>
<span><span><span>- Korg&apos;s NH keybed: Fully weighted, graded 88-key keyboard</span><br><span>- Full-length unlooped acoustic and electric piano and drum sounds</span><br><span>- A gorgeous and intuitive 7-inch color TouchView control display</span><br><span>- Pre-programmed with 640 gorgeous sounds and 288 combi patches</span><br><span>- 5 FX Inserts for each preset, along with 2 Master FX, and 1 Total FX</span><br><span>- Timbre and EQ adjustment on each track</span><br><span>- Distinctive design with stylish contrasting aluminum panels</span><br><span>- USB connection</span><br><span>- SD Card slot for data storage</span><br><span>- Includes Krome software editor to edit sounds on your computer</span><br><span>- Complete MIDI I/O</span><br><span>- Standard 1/4-inch L and R outputs</span><br><span>- Can be connected to optional Korg XVP-10 Expression Pedal, EXP-2 Foot Controller, DS-1H Damper Pedal, or PS-1/PS-3 Pedal Switch</span><br><span>- 3.5mm stereo headphone jack</span><br></span></span></div>
<div><span><br></span></div>
<div></div>
<div></div>
<!-- "Descripcion" final -->