<!-- "Descripcion" inicio -->
<div><span>Multi clamp Mapex AC-905 a 90&#xBA; horizontal, c/rotacion simple</span></div>
<div><span><br></span></div>
<div><span><img src="http://static.mercadoshops.com/jm/com.stores.framework.commons.imageproxy.ImgProxyServlet?v=i&amp;f=77726746-5471-1.jpg&amp;s=77726746&amp;item=5471"><br></span></div>
<div></div>
<!-- "Descripcion" final -->