
<div><span>Auricular Idance EB-X104 In Ear,<br> C/microfono, &#xA0;C/dj Sof</span></div>
<div><span><br></span></div>
<div><span><img src="http://img1.mlstatic.com/s_MLA_v_C_f_5218027452_102013.jpg"></span></div>
<div><span><br></span></div>
<div>
<div><span><span><span id="result_box" lang="es"><span class="hps">Auriculares In Ear</span></span></span><span><span id="result_box" lang="es"><span class="hps">&#xA0;de neodimio</span></span></span><span><span id="result_box" lang="es"><span class="hps">&#xA0;de cable plano con conector de 3.5mm,&#xA0;</span>&#xA0;<span class="hps">micr&#xF3;fono</span>&#xA0;<span class="hps">incluido para</span>&#xA0;<span class="hps">iPhone</span>, iPad&#xA0;<span class="hps">o tablet.</span></span></span></span><span><span id="result_box" lang="es"><span class="hps">&#xA0;Incluye como accesorio funda de transporte</span><span class="hps">.</span></span></span></div>
<div><span><span lang="es"><br></span></span></div>
<div><span><strong>ESPECIFICACIONES</strong></span></div>
<div><span><br><span>Tipo del driver :&#xA0; Neodimio</span><br><span>Sensibilidad : 98 dB&#xA0;</span><br><span>Impedancia : 32 Ohms</span><br><span>Rango de Frecuencia : 15 Hz - 20 KHz</span><br><span>Conector de Entrada : 3.5mm&#xA0;</span><br><span>Cable : 1.2 mts</span></span></div>
<div><span><span>Peso: 12grs</span></span></div>
</div>
<div></div>
<div></div>
<!-- "Descripcion" final -->