<!-- "Descripcion" inicio -->
<p><font size="6">Phonic Ecualizador Digital 31x2 IA231F</font> </p>
<p><img alt="AM240_back11817934024670bc7aea54a.jpg" src="http://www.phonic.com/images/detailed_images/iA231F_front.jpg" border="0"> </p>
<li>
<div align="center">Feedback Detection System instantly reveals critical frequencies </div></li>
<li>
<div align="center">Built-in limiter control from -20 dB to +20 dB (OFF) </div></li>
<li>
<div align="center">Variable low cut filter: (Off)10 to 400 Hz ; and high cut filter: 1.25 to 20 kHz (Off) </div></li>
<li>
<div align="center">Dedicated mono subwoofer output with adjustable crossover frequencies <br></div></li><!-- "Descripcion" final -->