<!-- "Descripcion" inicio -->
<div><span>Potencia Digital Pkn XE-2500<br> 2 x 700/8; 2 x1300/4 Ethernet</span></div>
<div><span><br></span></div>
<div><span><img src="https://www.mercadolibre.com/jm/img?s=MLA&amp;v=O&amp;t=T&amp;f=3155486450_092012.jpg&amp;sll=25948"></span></div>
<div><span><img src="https://www.mercadolibre.com/jm/img?s=MLA&amp;v=O&amp;t=T&amp;f=3155466531_092012.jpg&amp;sll=963213"></span></div>
<div>
<p class="news">Description</p>
<p class="sample">XE Series professional amplifiers are designed for portable and fixed installations. These models available: XE2500, XE4000, XE6000. All type have graphics LCD display and two JOGs for change system parameters. The devices have internal webserver for remoting. There are two possible ways to use the remote control functions: with normal internet browser (JAVA based), and with PKNC control software.</p>
<p class="news">Main Features</p>
<p class="sample">- High output power and high efficiency<br>- Advanced high frequency switching technology<br>- Small size, low weight, ideal for touring applications<br>- Networkable amplifier over standard Ethernet<br>- AMPControl software and JAVA based control<br>- All functions can be accessible by remote<br>- Graphics LCD for easy setup and diagnostics<br>- Two JOG button for fast navigating<br>- Digital volume and input sensitivity control<br>- Built-in programmable limiter<br>- Output Peak and average Voltage,Current measuring<br>- Displays actual load impedance<br>- Embedded webserver for set&amp;view parameters by a web browser<br>- Five user profiles<br>- Intelligent protective functions<br>- High frequency resonanat power supply with active PFC function<br>- Wide mains voltage operation range</p>
<table border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td>
<p class="news">Products Table</p>
</td>
</tr>
</tbody>
</table>
<p class="sample"></p>
<table id="parameters">
<tbody>
<tr><th></th><th>4 Ohms</th><th>8 Ohms</th></tr>
<tr>
<td>XE 2500</td>
<td>2 x 1300 W</td>
<td>2 x 700 W</td>
</tr>
<tr>
<td>XE 4000</td>
<td>2 x 2100 W</td>
<td>2 x 1300 W</td>
</tr>
<tr>
<td>XE 6000</td>
<td>2 x 3650 W</td>
<td>2 x 1900 W</td>
</tr>
</tbody>
</table>
<p class="sample"></p>
<table border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td>
<p class="news">Technical Specifications</p>
</td>
</tr>
</tbody>
</table>
<p class="sample"></p>
<table id="parameters">
<tbody>
<tr><th>Parameter</th><th>XE2500</th><th>XE4000</th><th>XE6000</th></tr>
<tr class="alt">
<td>Power requirements</td>
<td colspan="3">160V - 270VAC, (50-60Hz)</td>
</tr>
<tr>
<td>Max. Power Consuption</td>
<td>2600W</td>
<td>5500W</td>
<td>7900W</td>
</tr>
<tr class="alt">
<td>Soft starting</td>
<td colspan="3">yes</td>
</tr>
<tr>
<td>Power Supply</td>
<td colspan="3">High frequency resonant includes active PFC</td>
</tr>
<tr class="alt">
<td>Mains connection</td>
<td colspan="3">Neutrik Powercon</td>
</tr>
<tr>
<td>Working temperature range</td>
<td colspan="3">0 - 40C</td>
</tr>
<tr class="alt">
<td>Storage temperature range</td>
<td colspan="3">-25C - 60C</td>
</tr>
<tr>
<td>Output power @ 16 Ohms</td>
<td>2 x 320W</td>
<td>2 x 680W</td>
<td>2 x 1000W</td>
</tr>
<tr class="alt">
<td>Output power @ 8 Ohms</td>
<td>2 x 700W</td>
<td>2 x 1300W</td>
<td>2 x 1900W</td>
</tr>
<tr>
<td>Output power @ 4 Ohms</td>
<td>2 x 1300W</td>
<td>2 x 2100W</td>
<td>2 x 3650W</td>
</tr>
<tr class="alt">
<td>Output power @ 2,6 Ohms</td>
<td>2 x 1900W</td>
<td>2 x 2000W</td>
<td>2 x 3000W</td>
</tr>
<tr>
<td>Output power @ 2 Ohms</td>
<td>2 x 1500W</td>
<td>2 x 1800W</td>
<td>2 x 2200W</td>
</tr>
<tr class="alt">
<td>Minimum load impedance</td>
<td colspan="3">2 Ohms</td>
</tr>
<tr>
<td>Frequency (+/- 3dB, 8 Ohms)</td>
<td colspan="3">5 Hz - 20 kHz</td>
</tr>
<tr class="alt">
<td>Slew rate</td>
<td colspan="2">50V / us</td>
<td>60V / us</td>
</tr>
<tr>
<td>Damping factor</td>
<td>&gt;400</td>
<td>&gt;500</td>
<td>&gt;600</td>
</tr>
<tr class="alt">
<td>End Stages</td>
<td colspan="3">High Frequency semi soft switched PWM in balanced configuration</td>
</tr>
<tr>
<td>Output connections</td>
<td colspan="3">Four pole Neutrik SPEAKON (1+2+ in parallel, 1-2- in parallel</td>
</tr>
<tr class="alt">
<td>Signal to Noise ratio A-Weighted 20Hz - 20kHz</td>
<td>100 dB</td>
<td>102 dB</td>
<td>107 dB</td>
</tr>
<tr>
<td>Nominal sensitivity for maximum output level (balanced)</td>
<td>1.4V (rms)</td>
<td>1.7V (rms)</td>
<td>1.7V (rms)</td>
</tr>
<tr class="alt">
<td>Input Impedance (Refered to ground)</td>
<td colspan="3">10 KOhms + 10 KOhms (+/- 1%)</td>
</tr>
<tr>
<td>Input terminals</td>
<td colspan="3">Neutrik XLR</td>
</tr>
<tr class="alt">
<td>Built in Limiter</td>
<td colspan="3">Programmable limiter ( 1V / Step )</td>
</tr>
<tr>
<td>Output level meter</td>
<td colspan="3">LEDbar, status LEDs (AGR, Short, Temp, Protect, Ready)</td>
</tr>
<tr class="alt">
<td>Display</td>
<td colspan="3">Graphics LCD</td>
</tr>
<tr>
<td>Control terminals</td>
<td colspan="3">JOGS, buttons</td>
</tr>
<tr class="alt">
<td>Volume control</td>
<td colspan="3">Set by control JOG wheels or remote -95,5dB - 0dB (in 0,5 dB steps)</td>
</tr>
<tr>
<td>Input sensitivity</td>
<td colspan="3">-95,5db - 0dB (steps 0,5 dB)</td>
</tr>
<tr class="alt">
<td>Limiter settings range</td>
<td>10 - 100V</td>
<td>10 - 155V</td>
<td>10 - 170V</td>
</tr>
<tr>
<td>User profiles</td>
<td colspan="3">5 user profile</td>
</tr>
<tr class="alt">
<td>Protections</td>
<td colspan="3">Short circuit, Overload,Low impedance,Thermal, DC fault</td>
</tr>
<tr>
<td>Cooling</td>
<td colspan="3">Forced air cooling with regulated DC fans</td>
</tr>
<tr class="alt">
<td>Direction of air flow</td>
<td colspan="3">Front to rear</td>
</tr>
<tr>
<td>Remote control</td>
<td colspan="3">10/100 Mbps Ethernet</td>
</tr>
<tr class="alt">
<td>Weight</td>
<td>8 Kgs</td>
<td>9 Kgs</td>
<td>9,5 Kgs</td>
</tr>
<tr>
<td>External dimensions</td>
<td colspan="3">19&quot; rack 483 x 440 x 44mm (1RU)</td>
</tr>
</tbody>
</table>
</div>
<div><span><br></span></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
