
<p><span>Amplificador Multiprop&#xF3;sito Laney AH80 80w&#xA0;&#xA0;Edenlp</span></p>
<p><img src="https://mla-s2-p.mlstatic.com/302601-MLA20370566822_082015-C.jpg"></p>
<p><img src="https://mla-s1-p.mlstatic.com/546601-MLA20370566827_082015-C.jpg"></p>
<p><img src="https://mla-s2-p.mlstatic.com/522701-MLA20370567974_082015-C.jpg"></p>
<p>El AH80 es un amplificador multi-instrumento capaz de aceptar entradas de micr&#xF3;fonos vocales, guitarras, teclados y equipos electr&#xF3;nicos. Entre sus principales caracter&#xED;sticas encontramos: 3 canales, Delay con controles de nivel, time y feedback, conectores XLR, jack 1/4 pulgada, mini jack, controles individuales de nivel de canal y EQ gr&#xE1;fico maestro de 5 bandas. La secci&#xF3;n Master incluye una entrada AUX, salida de l&#xED;nea y salida de auriculares.</p>
<table>
<tbody>
<tr><th>PESO</th>
<td>13,5 kg</td>
</tr>
<tr><th>POTENCIA</th>
<td>80 Watts</td>
</tr>
<tr><th>CANALES</th>
<td>3</td>
</tr>
<tr><th>DIMENSIONES</th>
<td>433 x 413 x 368 mm</td>
</tr>
<tr><th>NO. DE PARLANTES</th>
<td>1</td>
</tr>
<tr><th>SERIE</th>
<td>AH</td>
</tr>
<tr><th>MEDIDA PARLANTE</th>
<td>10 pulgadas</td>
</tr>
<tr><th>EFECTOS</th>
<td>Delay</td>
</tr>
</tbody>
</table>
<p><br></p>
