<!-- "Descripcion" inicio -->
<div><span>Bordona Mapex 18794850A 14&quot;, acero, 20 hilos</span></div>
<div><span><img src="http://static.mercadoshops.com/jm/com.stores.framework.commons.imageproxy.ImgProxyServlet?v=i&amp;f=77726746-5621-1.jpg&amp;s=77726746&amp;item=5621"></span></div>
<div></div>
<div></div>
<!-- "Descripcion" final -->