
<p><span>Oportunidad! Guitarra Crafter FEG700 tipo 335 con estuche</span></p>
<p></p>
<p><span><img src="http://mla-s1-p.mlstatic.com/12847-MLA20066819934_032014-C.jpg"><img src="http://mla-s2-p.mlstatic.com/12833-MLA20066821050_032014-C.jpg"><img src="http://mla-s2-p.mlstatic.com/12820-MLA20066821113_032014-C.jpg"><img src="http://mla-s2-p.mlstatic.com/12834-MLA20066821163_032014-C.jpg"><img src="http://mla-s1-p.mlstatic.com/12886-MLA20066821213_032014-C.jpg"><br></span></p>
<p></p>
<h2 class="contentheading"></h2>
<p><span><br></span></p>
<p></p>
<p></p>
