<table width="750" cellspacing="0" cellpadding="0" border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center">
  <tbody>
    <tr>
      <td colspan="3">
        <img src="http://edenlp.com.ar/deremate/banne.png" alt="">
        <br>
        <table width="750" cellspacing="0" cellpadding="0" border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center">
          <tbody>
            <tr>
              <td width="25" background="http://edenlp.com.ar/deremate/izq.png"></td>
              <td align="center">
                <table width="700" cellspacing="0" cellpadding="0" border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center">
                  <tbody>
                    <tr>
                      <td width="139">
                        <img src="http://edenlp.com.ar/deremate/img.php?src=img_der.png" alt="">
                      </td>
                      <td width="421">
                        <div style="text-align:center">
                          <img src="http://edenlp.com.ar/deremate/img_dr/edenlp.gif" alt="">
                          <br>
                          <img width="421" src="http://edenlp.com.ar/deremate/local.jpg" alt="">
                          <br>
                          <img width="421" src="http://edenlp.com.ar/deremate/logo.png" alt="">
                          <br>
                          <img src="http://edenlp.com.ar/deremate/img_dr/pais.gif" alt="">
                          <br>
                          <img width="421" src="http://edenlp.com.ar/deremate/representaciones.png" alt="">
                        </div>
                      </td>
                      <td width="139">
                        <img src="http://edenlp.com.ar/deremate/img.php?src=img_izq.png" alt="">
                      </td>
                    </tr>
                  </tbody>
                </table>
                <img width="701" src="http://edenlp.com.ar/deremate/img_dr/aceptamos.gif" alt="">
                <br>
                <img src="http://edenlp.com.ar/deremate/dolar.php" alt="">
                <br>
                <img width="701" src="http://edenlp.com.ar/deremate/img_dr/consulta.gif" alt="">
              </td>
              <td width="24" background="http://edenlp.com.ar/deremate/der.jpg"></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td width="25" background="http://edenlp.com.ar/deremate/izq.png"></td>
      <td id="edenlp_descripcion" width="701" align="left" background="http://edenlp.com.ar/deremate/img_dr/fondo_p.gif">
      </td>
      <td width="24" background="http://edenlp.com.ar/deremate/der.jpg"></td>
    </tr>
    <tr>
      <td colspan="3">
        <table width="750" cellspacing="0" cellpadding="0" border="0" background="http://edenlp.com.ar/deremate/img_dr/fondo.gif" align="center">
          <tbody>
            <tr>
              <td width="25" background="http://edenlp.com.ar/deremate/izq.png"></td>
              <td align="center">
                <img src="http://edenlp.com.ar/deremate/img_dr/visita.gif" alt="">
              </td>
              <td width="24" background="http://edenlp.com.ar/deremate/der.jpg"></td>
            </tr>
          </tbody>
        </table>
        <img src="http://edenlp.com.ar/deremate/pie.jpg" alt="">
      </td>
    </tr>
  </tbody>
</table>
