<div class="container">
  <table class="table table-bordered table-striped table-hover table-condensed">
    <thead>
      <tr>
        <td>
          Foto
        </td>
        <td>
          Titulo
        </td>
        <td>
          Acciones
        </td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in items">
        <td>
          <img ng-src="{{item.thumbnail}}"/>
        </td>
        <td>
          {{item.title}}
        </td>
        <td>
          <button type="button" class="btn" ng-click="info(item.id)">
            <i class="fa fa-info"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row text-right">
    <nav>
      <ul class="pagination">
        <li>
          <button ng-disabled="paginador.hayAnterior" ng-click="anterior()">
            <span aria-hidden="true">&laquo;</span>
          </button>
        </li>
        <li>{{paginador.pagina}}/{{paginador.paginas}}</li>
        <li>
          <button ng-disabled="paginador.haySiguiente" ng-click="siguiente()">
            <span aria-hidden="true">&raquo;</span>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</div>
